{:type :info, :f :setup-packet-logging, :process 1, :time 5166974200}
{:type :info, :f :setup-packet-logging, :process 1, :time 6767329900}
{:type :info, :f :start, :process :nemesis, :time 13805708800}
{:type :invoke, :f :write, :value 120, :process 4, :time 15806758500}
{:type :ok, :f :write, :value 120, :process 4, :time 15820853800}
{:type :info, :f :start, :process :nemesis, :time 16530217200}
{:type :invoke, :f :read, :value nil, :process 2, :time 17807459000}
{:type :ok, :f :read, :value 120, :process 2, :time 17820484900}
{:type :invoke, :f :write, :value 81, :process 6, :time 19808999000}
{:type :ok, :f :write, :value 81, :process 6, :time 20009317600}
{:type :invoke, :f :write, :value 129, :process 0, :time 21810324600}
{:type :ok, :f :write, :value 129, :process 0, :time 21819966800}
{:type :invoke, :f :read, :value nil, :process 3, :time 23811779700}
{:type :ok, :f :read, :value 129, :process 3, :time 24351658100}
{:type :invoke, :f :write, :value 147, :process 4, :time 25813632200}
{:type :ok, :f :write, :value 147, :process 4, :time 26821428900}
{:type :invoke, :f :write, :value 161, :process 2, :time 27815356300}
{:type :ok, :f :write, :value 161, :process 2, :time 28057982000}
{:type :invoke, :f :read, :value nil, :process 6, :time 29816336800}
{:type :ok, :f :read, :value 161, :process 6, :time 29888371400}
{:type :invoke, :f :write, :value 199, :process 0, :time 31818198100}
{:type :ok, :f :write, :value 199, :process 0, :time 31827523200}
{:type :invoke, :f :write, :value 165, :process 3, :time 33818533400}
{:type :ok, :f :write, :value 165, :process 3, :time 33827168300}
{:type :invoke, :f :read, :value nil, :process 4, :time 35825216300}
{:type :ok, :f :read, :value 165, :process 4, :time 36840536500}
{:type :invoke, :f :write, :value 50, :process 2, :time 37826319400}
{:type :ok, :f :write, :value 50, :process 2, :time 37988202500}
{:type :invoke, :f :write, :value 188, :process 6, :time 39827045400}
{:type :ok, :f :write, :value 188, :process 6, :time 40227955100}
{:type :invoke, :f :read, :value nil, :process 0, :time 41827661800}
{:type :ok, :f :read, :value 188, :process 0, :time 41841182700}
{:type :invoke, :f :write, :value 85, :process 3, :time 43829137700}
{:type :ok, :f :write, :value 85, :process 3, :time 43912046800}
{:type :invoke, :f :write, :value 144, :process 4, :time 45845598100}
{:type :ok, :f :write, :value 144, :process 4, :time 46629673300}
{:type :invoke, :f :read, :value nil, :process 2, :time 47846636100}
{:type :ok, :f :read, :value 144, :process 2, :time 47855296000}
{:type :invoke, :f :write, :value 76, :process 6, :time 49847510200}
{:type :ok, :f :write, :value 76, :process 6, :time 49855549100}
{:type :invoke, :f :write, :value 32, :process 0, :time 51849296700}
{:type :ok, :f :write, :value 32, :process 0, :time 51859601900}
{:type :info, :f :stop, :process :nemesis, :time 53532504200}
{:type :invoke, :f :read, :value nil, :process 3, :time 53850311700}
{:type :ok, :f :read, :value 32, :process 3, :time 53861786600}
{:type :info, :f :stop, :process :nemesis, :time 54647642300}
{:type :invoke, :f :write, :value 102, :process 4, :time 55851519400}
{:type :ok, :f :write, :value 102, :process 4, :time 55860515200}
{:type :invoke, :f :write, :value 188, :process 2, :time 57852316800}
{:type :ok, :f :write, :value 188, :process 2, :time 57866486500}
{:type :invoke, :f :read, :value nil, :process 6, :time 59852813200}
{:type :ok, :f :read, :value 188, :process 6, :time 59860154500}
{:type :invoke, :f :write, :value 208, :process 0, :time 61854483000}
{:type :ok, :f :write, :value 208, :process 0, :time 61863803400}
{:type :invoke, :f :write, :value 39, :process 3, :time 63855869500}
{:type :ok, :f :write, :value 39, :process 3, :time 63863258800}
{:type :invoke, :f :read, :value nil, :process 4, :time 65857751700}
{:type :ok, :f :read, :value 39, :process 4, :time 65870683000}
{:type :invoke, :f :write, :value 154, :process 2, :time 67859331600}
{:type :ok, :f :write, :value 154, :process 2, :time 67869324300}
{:type :invoke, :f :write, :value 28, :process 6, :time 69859660100}
{:type :ok, :f :write, :value 28, :process 6, :time 69867064000}
{:type :invoke, :f :read, :value nil, :process 0, :time 71860111800}
{:type :ok, :f :read, :value 28, :process 0, :time 71870575700}
{:type :invoke, :f :write, :value 76, :process 3, :time 73863008300}
{:type :ok, :f :write, :value 76, :process 3, :time 73869825000}
{:type :invoke, :f :write, :value 116, :process 4, :time 75864045400}
{:type :ok, :f :write, :value 116, :process 4, :time 75875518000}
{:type :invoke, :f :read, :value nil, :process 2, :time 77865330700}
{:type :ok, :f :read, :value 116, :process 2, :time 77874585200}
{:type :invoke, :f :write, :value 113, :process 6, :time 79867180300}
{:type :ok, :f :write, :value 113, :process 6, :time 79876338200}
{:type :invoke, :f :write, :value 50, :process 0, :time 81867585100}
{:type :ok, :f :write, :value 50, :process 0, :time 81876471100}
{:type :invoke, :f :read, :value nil, :process 3, :time 83869219000}
{:type :ok, :f :read, :value 50, :process 3, :time 83877076000}
{:type :invoke, :f :write, :value 125, :process 4, :time 85871456200}
{:type :ok, :f :write, :value 125, :process 4, :time 85879444600}
{:type :invoke, :f :write, :value 137, :process 2, :time 87873744200}
{:type :ok, :f :write, :value 137, :process 2, :time 87881722100}
{:type :invoke, :f :read, :value nil, :process 6, :time 89876485000}
{:type :ok, :f :read, :value 137, :process 6, :time 89885766300}
{:type :info, :f :start, :process :nemesis, :time 91654541100}
{:type :invoke, :f :write, :value 23, :process 0, :time 91877166900}
{:type :ok, :f :write, :value 23, :process 0, :time 91891351900}
{:type :invoke, :f :write, :value 41, :process 3, :time 93878155000}
{:type :ok, :f :write, :value 41, :process 3, :time 93967740100}
{:type :info, :f :start, :process :nemesis, :time 94732510000}
{:type :invoke, :f :read, :value nil, :process 4, :time 95879433900}
{:type :ok, :f :read, :value 41, :process 4, :time 95955859200}
{:type :invoke, :f :write, :value 175, :process 2, :time 97880673500}
{:type :ok, :f :write, :value 175, :process 2, :time 98899376500}
{:type :invoke, :f :write, :value 211, :process 6, :time 99881032800}
{:type :ok, :f :write, :value 211, :process 6, :time 100887798200}
{:type :invoke, :f :read, :value nil, :process 0, :time 101881885900}
{:type :ok, :f :read, :value 211, :process 0, :time 101894441600}
{:type :invoke, :f :write, :value 141, :process 3, :time 103884626700}
{:type :ok, :f :write, :value 141, :process 3, :time 104123373100}
{:type :invoke, :f :write, :value 165, :process 4, :time 105886985700}
{:type :ok, :f :write, :value 165, :process 4, :time 106896752800}
{:type :invoke, :f :read, :value nil, :process 2, :time 107901939200}
{:type :ok, :f :read, :value 165, :process 2, :time 108970535400}
{:type :invoke, :f :write, :value 99, :process 6, :time 109902438300}
{:type :ok, :f :write, :value 99, :process 6, :time 110911662500}
{:type :invoke, :f :write, :value 21, :process 0, :time 111903907200}
{:type :ok, :f :write, :value 21, :process 0, :time 111914115200}
{:type :invoke, :f :read, :value nil, :process 3, :time 113904348800}
{:type :ok, :f :read, :value 21, :process 3, :time 114441786200}
{:type :invoke, :f :write, :value 187, :process 4, :time 115905716800}
{:type :ok, :f :write, :value 187, :process 4, :time 116570404900}
{:type :invoke, :f :write, :value 44, :process 2, :time 117973520700}
{:type :ok, :f :write, :value 44, :process 2, :time 117980391700}
{:type :invoke, :f :read, :value nil, :process 6, :time 119975656600}
{:type :ok, :f :read, :value 44, :process 6, :time 120667135500}
{:type :invoke, :f :write, :value 179, :process 0, :time 121976127200}
{:type :ok, :f :write, :value 179, :process 0, :time 121991386600}
{:type :invoke, :f :write, :value 167, :process 3, :time 123976957800}
{:type :ok, :f :write, :value 167, :process 3, :time 123986180600}
{:type :invoke, :f :read, :value nil, :process 4, :time 125977408000}
{:type :ok, :f :read, :value 167, :process 4, :time 126147341400}
{:type :invoke, :f :write, :value 144, :process 2, :time 127978095100}
{:type :ok, :f :write, :value 144, :process 2, :time 128312225200}
{:type :invoke, :f :write, :value 51, :process 6, :time 129979005200}
{:type :ok, :f :write, :value 51, :process 6, :time 129989419000}
{:type :info, :f :stop, :process :nemesis, :time 131735498600}
{:type :invoke, :f :read, :value nil, :process 0, :time 131979491900}
{:type :ok, :f :read, :value 51, :process 0, :time 131989869000}
{:type :info, :f :stop, :process :nemesis, :time 131997515800}
{:type :invoke, :f :write, :value 141, :process 3, :time 133981469600}
{:type :ok, :f :write, :value 141, :process 3, :time 133993106600}
{:type :invoke, :f :write, :value 137, :process 4, :time 135984584500}
{:type :ok, :f :write, :value 137, :process 4, :time 135994112200}
{:type :invoke, :f :read, :value nil, :process 2, :time 137985003800}
{:type :ok, :f :read, :value 137, :process 2, :time 137994022600}
{:type :invoke, :f :write, :value 159, :process 6, :time 139987404400}
{:type :ok, :f :write, :value 159, :process 6, :time 140002906100}
{:type :invoke, :f :write, :value 48, :process 0, :time 141988447700}
{:type :ok, :f :write, :value 48, :process 0, :time 142001629600}
{:type :invoke, :f :read, :value nil, :process 3, :time 143989044600}
{:type :ok, :f :read, :value 48, :process 3, :time 143998628700}
{:type :invoke, :f :write, :value 38, :process 4, :time 145990440400}
{:type :ok, :f :write, :value 38, :process 4, :time 145999145800}
{:type :invoke, :f :write, :value 102, :process 2, :time 147992336800}
{:type :ok, :f :write, :value 102, :process 2, :time 147999315400}
{:type :invoke, :f :read, :value nil, :process 6, :time 149993237800}
{:type :ok, :f :read, :value 102, :process 6, :time 150004246900}
{:type :invoke, :f :write, :value 211, :process 0, :time 151994167100}
{:type :ok, :f :write, :value 211, :process 0, :time 152003340900}
{:type :invoke, :f :write, :value 113, :process 3, :time 153996994600}
{:type :ok, :f :write, :value 113, :process 3, :time 154009616900}
{:type :invoke, :f :read, :value nil, :process 4, :time 155997493900}
{:type :ok, :f :read, :value 113, :process 4, :time 156005599600}
{:type :invoke, :f :write, :value 86, :process 2, :time 157998912500}
{:type :ok, :f :write, :value 86, :process 2, :time 158005930700}
{:type :invoke, :f :write, :value 184, :process 6, :time 159999381200}
{:type :ok, :f :write, :value 184, :process 6, :time 160008979700}
{:type :invoke, :f :read, :value nil, :process 0, :time 162000404800}
{:type :ok, :f :read, :value 184, :process 0, :time 162010345100}
{:type :invoke, :f :write, :value 110, :process 3, :time 164000778700}
{:type :ok, :f :write, :value 110, :process 3, :time 164014090900}
{:type :invoke, :f :write, :value 68, :process 4, :time 166002232900}
{:type :ok, :f :write, :value 68, :process 4, :time 166008667700}
{:type :invoke, :f :read, :value nil, :process 2, :time 168002604700}
{:type :ok, :f :read, :value 68, :process 2, :time 168017764700}
{:type :info, :f :start, :process :nemesis, :time 169000162300}
{:type :invoke, :f :write, :value 62, :process 6, :time 170002999900}
{:type :ok, :f :write, :value 62, :process 6, :time 170020023200}
{:type :info, :f :start, :process :nemesis, :time 170744171100}
{:type :invoke, :f :write, :value 78, :process 0, :time 172005967700}
{:type :ok, :f :write, :value 78, :process 0, :time 172021337300}
{:type :invoke, :f :read, :value nil, :process 3, :time 174006837500}
{:type :ok, :f :read, :value 78, :process 3, :time 175027978700}
{:type :invoke, :f :write, :value 217, :process 4, :time 176007542800}
{:type :ok, :f :write, :value 217, :process 4, :time 176016087300}
{:type :invoke, :f :write, :value 185, :process 2, :time 178008271600}
{:type :ok, :f :write, :value 185, :process 2, :time 178789336600}
{:type :invoke, :f :read, :value nil, :process 6, :time 180009280400}
{:type :ok, :f :read, :value 185, :process 6, :time 180761211800}
{:type :invoke, :f :write, :value 93, :process 0, :time 182009819600}
{:type :ok, :f :write, :value 93, :process 0, :time 182019354000}
{:type :info, :f :stop, :process :nemesis, :time 207750374700}
{:type :info, :f :stop, :process :nemesis, :time 210752829200}
{:type :info, :f :log-packet-data, :process 6, :time 217756520400}
{:type :info, :f :log-packet-data, :process 6, :time 219812747800}
