{:type :info, :f :setup-packet-logging, :process 1, :time 5478580200}
{:type :info, :f :setup-packet-logging, :process 1, :time 7102467900}
{:type :info, :f :start, :process :nemesis, :time 14127581100}
{:type :info, :f :start, :process :nemesis, :time 14697357000, :value [:isolated {"n2" #{"n5" "n4"}, "n1" #{"n5" "n4"}, "n5" #{"n2" "n1"}, "n4" #{"n2" "n1"}}]}
{:type :invoke, :f :write, :value 120, :process 4, :time 16128109200}
{:type :ok, :f :write, :value 120, :process 4, :time 16143485700}
{:type :invoke, :f :read, :value nil, :process 3, :time 18130223700}
{:type :ok, :f :read, :value 120, :process 3, :time 18176874100}
{:type :invoke, :f :write, :value 126, :process 6, :time 20131434000}
{:type :ok, :f :write, :value 126, :process 6, :time 20150766100}
{:type :invoke, :f :write, :value 137, :process 2, :time 22132213200}
{:type :ok, :f :write, :value 137, :process 2, :time 22142134700}
{:type :invoke, :f :read, :value nil, :process 0, :time 24134679100}
{:type :ok, :f :read, :value 137, :process 0, :time 24149607500}
{:type :invoke, :f :write, :value 35, :process 4, :time 26136732800}
{:type :ok, :f :write, :value 35, :process 4, :time 26142859500}
{:type :invoke, :f :write, :value 195, :process 3, :time 28137315200}
{:type :ok, :f :write, :value 195, :process 3, :time 28204338800}
{:type :invoke, :f :read, :value nil, :process 6, :time 30137714100}
{:type :ok, :f :read, :value 195, :process 6, :time 30339211800}
{:type :invoke, :f :write, :value 48, :process 2, :time 32139704800}
{:type :ok, :f :write, :value 48, :process 2, :time 32294673700}
{:type :invoke, :f :write, :value 219, :process 0, :time 34141015700}
{:type :ok, :f :write, :value 219, :process 0, :time 34151215800}
{:type :invoke, :f :read, :value nil, :process 4, :time 36143536500}
{:type :ok, :f :read, :value 219, :process 4, :time 36213572200}
{:type :invoke, :f :write, :value 142, :process 3, :time 38143249200}
{:type :ok, :f :write, :value 142, :process 3, :time 38154770600}
{:type :invoke, :f :write, :value 39, :process 6, :time 40146853100}
{:type :ok, :f :write, :value 39, :process 6, :time 40170947800}
{:type :invoke, :f :read, :value nil, :process 2, :time 42147806500}
{:type :ok, :f :read, :value 39, :process 2, :time 42175949200}
{:type :invoke, :f :write, :value 91, :process 0, :time 44149317400}
{:type :ok, :f :write, :value 91, :process 0, :time 44159531400}
{:type :invoke, :f :write, :value 28, :process 4, :time 46152198500}
{:type :ok, :f :write, :value 28, :process 4, :time 46216082700}
{:type :invoke, :f :read, :value nil, :process 3, :time 48153970900}
{:type :ok, :f :read, :value 28, :process 3, :time 48254587900}
{:type :invoke, :f :write, :value 203, :process 6, :time 50155374600}
{:type :ok, :f :write, :value 203, :process 6, :time 50167151900}
{:type :info, :f :stop, :process :nemesis, :time 51706967800}
{:type :invoke, :f :write, :value 167, :process 2, :time 52155654200}
{:type :info, :f :stop, :process :nemesis, :time 52162952200, :value :network-healed}
{:type :ok, :f :write, :value 167, :process 2, :time 52175102800}
{:type :invoke, :f :read, :value nil, :process 0, :time 54156570500}
{:type :ok, :f :read, :value 167, :process 0, :time 54165417500}
{:type :invoke, :f :write, :value 69, :process 4, :time 56157365200}
{:type :ok, :f :write, :value 69, :process 4, :time 56174809900}
{:type :invoke, :f :write, :value 219, :process 3, :time 58158269000}
{:type :ok, :f :write, :value 219, :process 3, :time 58167910600}
{:type :invoke, :f :read, :value nil, :process 6, :time 60160037000}
{:type :ok, :f :read, :value 219, :process 6, :time 60167208100}
{:type :invoke, :f :write, :value 39, :process 2, :time 62162761900}
{:type :ok, :f :write, :value 39, :process 2, :time 62170439800}
{:type :invoke, :f :write, :value 211, :process 0, :time 64164169100}
{:type :ok, :f :write, :value 211, :process 0, :time 64172208600}
{:type :invoke, :f :read, :value nil, :process 4, :time 66165761300}
{:type :ok, :f :read, :value 211, :process 4, :time 66178617800}
{:type :invoke, :f :write, :value 97, :process 3, :time 68166905100}
{:type :ok, :f :write, :value 97, :process 3, :time 68175409800}
{:type :invoke, :f :write, :value 196, :process 6, :time 70167463100}
{:type :ok, :f :write, :value 196, :process 6, :time 70176997700}
{:type :invoke, :f :read, :value nil, :process 2, :time 72167869500}
{:type :ok, :f :read, :value 196, :process 2, :time 72179249900}
{:type :invoke, :f :write, :value 70, :process 0, :time 74168314800}
{:type :ok, :f :write, :value 70, :process 0, :time 74177553300}
{:type :invoke, :f :write, :value 200, :process 4, :time 76169842000}
{:type :ok, :f :write, :value 200, :process 4, :time 76180384600}
{:type :invoke, :f :read, :value nil, :process 3, :time 78171283100}
{:type :ok, :f :read, :value 200, :process 3, :time 78178118000}
{:type :invoke, :f :write, :value 102, :process 6, :time 80171831900}
{:type :ok, :f :write, :value 102, :process 6, :time 80182048200}
{:type :invoke, :f :write, :value 103, :process 2, :time 82173061700}
{:type :ok, :f :write, :value 103, :process 2, :time 82186864200}
{:type :invoke, :f :read, :value nil, :process 0, :time 84174135200}
{:type :ok, :f :read, :value 103, :process 0, :time 84184794600}
{:type :invoke, :f :write, :value 193, :process 4, :time 86175996100}
{:type :ok, :f :write, :value 193, :process 4, :time 86189085800}
{:type :invoke, :f :write, :value 212, :process 3, :time 88178788100}
{:type :ok, :f :write, :value 212, :process 3, :time 88191837100}
{:type :info, :f :start, :process :nemesis, :time 89177139700}
{:type :info, :f :start, :process :nemesis, :time 89677365900, :value [:isolated {"n2" #{"n5" "n4"}, "n1" #{"n5" "n4"}, "n5" #{"n2" "n1"}, "n4" #{"n2" "n1"}}]}
{:type :invoke, :f :read, :value nil, :process 6, :time 90180434000}
{:type :ok, :f :read, :value 212, :process 6, :time 90195967600}
{:type :invoke, :f :write, :value 187, :process 2, :time 92180935300}
{:type :ok, :f :write, :value 187, :process 2, :time 92202393900}
{:type :invoke, :f :write, :value 189, :process 0, :time 94181545700}
{:type :ok, :f :write, :value 189, :process 0, :time 94193452500}
{:type :invoke, :f :read, :value nil, :process 4, :time 96182854400}
{:type :ok, :f :read, :value 189, :process 4, :time 96254441500}
{:type :invoke, :f :write, :value 74, :process 3, :time 98183218400}
{:type :ok, :f :write, :value 74, :process 3, :time 98258455400}
{:type :invoke, :f :write, :value 132, :process 6, :time 100184714300}
{:type :ok, :f :write, :value 132, :process 6, :time 100220052600}
{:type :invoke, :f :read, :value nil, :process 2, :time 102185034300}
{:type :ok, :f :read, :value 132, :process 2, :time 102249452800}
{:type :invoke, :f :write, :value 125, :process 0, :time 104187559500}
{:type :ok, :f :write, :value 125, :process 0, :time 104199519600}
{:type :invoke, :f :write, :value 215, :process 4, :time 106191265400}
{:type :ok, :f :write, :value 215, :process 4, :time 106209649900}
{:type :invoke, :f :read, :value nil, :process 3, :time 108194643300}
{:type :ok, :f :read, :value 215, :process 3, :time 108248037500}
{:type :invoke, :f :write, :value 186, :process 6, :time 110196499200}
{:type :ok, :f :write, :value 186, :process 6, :time 110306652300}
{:type :invoke, :f :write, :value 213, :process 2, :time 112197200400}
{:type :ok, :f :write, :value 213, :process 2, :time 112240315900}
{:type :invoke, :f :read, :value nil, :process 0, :time 114197625200}
{:type :ok, :f :read, :value 213, :process 0, :time 114212666700}
{:type :invoke, :f :write, :value 95, :process 4, :time 116198359600}
{:type :ok, :f :write, :value 95, :process 4, :time 116206326500}
{:type :invoke, :f :write, :value 173, :process 3, :time 118199255900}
{:type :ok, :f :write, :value 173, :process 3, :time 118247832400}
{:type :invoke, :f :read, :value nil, :process 6, :time 120200747300}
{:type :ok, :f :read, :value 173, :process 6, :time 120219083900}
{:type :invoke, :f :write, :value 177, :process 2, :time 122201442600}
{:type :ok, :f :write, :value 177, :process 2, :time 122215956900}
{:type :invoke, :f :write, :value 198, :process 0, :time 124203842500}
{:type :ok, :f :write, :value 198, :process 0, :time 124215288000}
{:type :invoke, :f :read, :value nil, :process 4, :time 126206733800}
{:type :ok, :f :read, :value 198, :process 4, :time 126230644300}
{:type :info, :f :stop, :process :nemesis, :time 126681288200}
{:type :invoke, :f :write, :value 183, :process 3, :time 128208784800}
{:type :ok, :f :write, :value 183, :process 3, :time 128219211900}
{:type :info, :f :stop, :process :nemesis, :time 129399394000, :value :network-healed}
{:type :invoke, :f :write, :value 99, :process 6, :time 130209609000}
{:type :ok, :f :write, :value 99, :process 6, :time 130217993900}
{:type :invoke, :f :read, :value nil, :process 2, :time 132210919200}
{:type :ok, :f :read, :value 99, :process 2, :time 132219579200}
{:type :invoke, :f :write, :value 130, :process 0, :time 134211216000}
{:type :ok, :f :write, :value 130, :process 0, :time 134222745800}
{:type :invoke, :f :write, :value 115, :process 4, :time 136215734900}
{:type :ok, :f :write, :value 115, :process 4, :time 136235996700}
{:type :invoke, :f :read, :value nil, :process 3, :time 138216381600}
{:type :ok, :f :read, :value 115, :process 3, :time 138225731700}
{:type :invoke, :f :write, :value 22, :process 6, :time 140217267500}
{:type :ok, :f :write, :value 22, :process 6, :time 140225042800}
{:type :invoke, :f :write, :value 203, :process 2, :time 142218344000}
{:type :ok, :f :write, :value 203, :process 2, :time 142225570200}
{:type :invoke, :f :read, :value nil, :process 0, :time 144219319000}
{:type :ok, :f :read, :value 203, :process 0, :time 144227850300}
{:type :invoke, :f :write, :value 139, :process 4, :time 146220978700}
{:type :ok, :f :write, :value 139, :process 4, :time 146230417500}
{:type :invoke, :f :write, :value 184, :process 3, :time 148222534400}
{:type :ok, :f :write, :value 184, :process 3, :time 148232245400}
{:type :invoke, :f :read, :value nil, :process 6, :time 150223338400}
{:type :ok, :f :read, :value 184, :process 6, :time 150232267800}
{:type :invoke, :f :write, :value 183, :process 2, :time 152224816400}
{:type :ok, :f :write, :value 183, :process 2, :time 152234885100}
{:type :invoke, :f :write, :value 31, :process 0, :time 154225632700}
{:type :ok, :f :write, :value 31, :process 0, :time 154234842800}
{:type :invoke, :f :read, :value nil, :process 4, :time 156226436600}
{:type :ok, :f :read, :value 31, :process 4, :time 156233547500}
{:type :invoke, :f :write, :value 217, :process 3, :time 158227390500}
{:type :ok, :f :write, :value 217, :process 3, :time 158240241100}
{:type :invoke, :f :write, :value 69, :process 6, :time 160228488900}
{:type :ok, :f :write, :value 69, :process 6, :time 160238813700}
{:type :invoke, :f :read, :value nil, :process 2, :time 162229353900}
{:type :ok, :f :read, :value 69, :process 2, :time 162236956700}
{:type :invoke, :f :write, :value 140, :process 0, :time 164231699800}
{:type :ok, :f :write, :value 140, :process 0, :time 164242743200}
{:type :invoke, :f :write, :value 56, :process 4, :time 166232161900}
{:type :ok, :f :write, :value 56, :process 4, :time 166255797800}
{:type :info, :f :start, :process :nemesis, :time 166403473500}
{:type :invoke, :f :read, :value nil, :process 3, :time 168234428700}
{:type :ok, :f :read, :value 56, :process 3, :time 168245479300}
{:type :info, :f :start, :process :nemesis, :time 168842284300, :value [:isolated {"n2" #{"n5" "n4"}, "n1" #{"n5" "n4"}, "n5" #{"n2" "n1"}, "n4" #{"n2" "n1"}}]}
{:type :invoke, :f :write, :value 205, :process 6, :time 170235352400}
{:type :ok, :f :write, :value 205, :process 6, :time 170313816600}
{:type :invoke, :f :write, :value 25, :process 2, :time 172238364000}
{:type :ok, :f :write, :value 25, :process 2, :time 172442205400}
{:type :invoke, :f :read, :value nil, :process 0, :time 174238829300}
{:type :ok, :f :read, :value 25, :process 0, :time 174248204200}
{:type :invoke, :f :write, :value 179, :process 4, :time 176240755300}
{:type :ok, :f :write, :value 179, :process 4, :time 176324913700}
{:type :invoke, :f :write, :value 62, :process 3, :time 178241218500}
{:type :ok, :f :write, :value 62, :process 3, :time 178446183100}
{:type :invoke, :f :read, :value nil, :process 6, :time 180242959300}
{:type :ok, :f :read, :value 62, :process 6, :time 180260887000}
{:type :invoke, :f :write, :value 163, :process 2, :time 182243696700}
{:type :ok, :f :write, :value 163, :process 2, :time 182252236900}
{:type :info, :f :stop, :process :nemesis, :time 205848785900}
{:type :info, :f :stop, :process :nemesis, :time 206292748600, :value :network-healed}
{:type :info, :f :log-packet-data, :process 6, :time 213297176800}
{:type :info, :f :log-packet-data, :process 6, :time 213425701600}
