{:type :info, :f :setup-packet-logging, :process 1, :time 5390083500}
{:type :info, :f :setup-packet-logging, :process 1, :time 7010439000}
{:type :info, :f :start, :process :nemesis, :time 14041284900}
{:type :info, :f :start, :process :nemesis, :time 14296304400}
{:type :invoke, :f :write, :value 120, :process 4, :time 16040787800}
{:type :ok, :f :write, :value 120, :process 4, :time 16169850400}
{:type :invoke, :f :read, :value nil, :process 6, :time 18041963500}
{:type :ok, :f :read, :value 120, :process 6, :time 18114071500}
{:type :invoke, :f :write, :value 200, :process 2, :time 20043714100}
{:type :ok, :f :write, :value 200, :process 2, :time 20062330100}
{:type :invoke, :f :write, :value 206, :process 3, :time 22045653500}
{:type :ok, :f :write, :value 206, :process 3, :time 22057262000}
{:type :invoke, :f :read, :value nil, :process 0, :time 24047341000}
{:type :ok, :f :read, :value 206, :process 0, :time 24064538200}
{:type :invoke, :f :write, :value 204, :process 4, :time 26048794600}
{:type :ok, :f :write, :value 204, :process 4, :time 26064070400}
{:type :invoke, :f :write, :value 21, :process 6, :time 28049323400}
{:type :ok, :f :write, :value 21, :process 6, :time 28088418900}
{:type :invoke, :f :read, :value nil, :process 2, :time 30049741700}
{:type :ok, :f :read, :value 21, :process 2, :time 30066946700}
{:type :invoke, :f :write, :value 66, :process 3, :time 32052320700}
{:type :ok, :f :write, :value 66, :process 3, :time 32101642100}
{:type :invoke, :f :write, :value 33, :process 0, :time 34052904900}
{:type :ok, :f :write, :value 33, :process 0, :time 34060153100}
{:type :invoke, :f :read, :value nil, :process 4, :time 36055225100}
{:type :ok, :f :read, :value 33, :process 4, :time 36097946100}
{:type :invoke, :f :write, :value 78, :process 6, :time 38057254700}
{:type :ok, :f :write, :value 78, :process 6, :time 38087888800}
{:type :invoke, :f :write, :value 60, :process 2, :time 40058918600}
{:type :ok, :f :write, :value 60, :process 2, :time 40074388700}
{:type :invoke, :f :read, :value nil, :process 3, :time 42059876300}
{:type :ok, :f :read, :value 60, :process 3, :time 42070802500}
{:type :invoke, :f :write, :value 185, :process 0, :time 44060566600}
{:type :ok, :f :write, :value 185, :process 0, :time 44070181100}
{:type :invoke, :f :write, :value 206, :process 4, :time 46061823200}
{:type :ok, :f :write, :value 206, :process 4, :time 46074113100}
{:type :invoke, :f :read, :value nil, :process 6, :time 48063966500}
{:type :ok, :f :read, :value 206, :process 6, :time 48142512900}
{:type :invoke, :f :write, :value 89, :process 2, :time 50065036300}
{:type :ok, :f :write, :value 89, :process 2, :time 50119415000}
{:type :info, :f :stop, :process :nemesis, :time 51299810600}
{:type :info, :f :stop, :process :nemesis, :time 51639504300}
{:type :invoke, :f :write, :value 84, :process 3, :time 52066158200}
{:type :ok, :f :write, :value 84, :process 3, :time 52078567500}
{:type :invoke, :f :read, :value nil, :process 0, :time 54067003100}
{:type :ok, :f :read, :value 84, :process 0, :time 54078425900}
{:type :invoke, :f :write, :value 209, :process 4, :time 56068869100}
{:type :ok, :f :write, :value 209, :process 4, :time 56078933800}
{:type :invoke, :f :write, :value 37, :process 6, :time 58070235400}
{:type :ok, :f :write, :value 37, :process 6, :time 58082387200}
{:type :invoke, :f :read, :value nil, :process 2, :time 60071325800}
{:type :ok, :f :read, :value 37, :process 2, :time 60082143000}
{:type :invoke, :f :write, :value 96, :process 3, :time 62072209500}
{:type :ok, :f :write, :value 96, :process 3, :time 62081866700}
{:type :invoke, :f :write, :value 117, :process 0, :time 64073472400}
{:type :ok, :f :write, :value 117, :process 0, :time 64086064600}
{:type :invoke, :f :read, :value nil, :process 4, :time 66073873500}
{:type :ok, :f :read, :value 117, :process 4, :time 66089405700}
{:type :invoke, :f :write, :value 159, :process 6, :time 68076344500}
{:type :ok, :f :write, :value 159, :process 6, :time 68087874800}
{:type :invoke, :f :write, :value 42, :process 2, :time 70078053600}
{:type :ok, :f :write, :value 42, :process 2, :time 70087505800}
{:type :invoke, :f :read, :value nil, :process 3, :time 72078769800}
{:type :ok, :f :read, :value 42, :process 3, :time 72093144800}
{:type :invoke, :f :write, :value 21, :process 0, :time 74079045900}
{:type :ok, :f :write, :value 21, :process 0, :time 74089856300}
{:type :invoke, :f :write, :value 80, :process 4, :time 76081371000}
{:type :ok, :f :write, :value 80, :process 4, :time 76090196800}
{:type :invoke, :f :read, :value nil, :process 6, :time 78083526300}
{:type :ok, :f :read, :value 80, :process 6, :time 78092385200}
{:type :invoke, :f :write, :value 175, :process 2, :time 80083960900}
{:type :ok, :f :write, :value 175, :process 2, :time 80092892300}
{:type :invoke, :f :write, :value 70, :process 3, :time 82084889400}
{:type :ok, :f :write, :value 70, :process 3, :time 82098169500}
{:type :invoke, :f :read, :value nil, :process 0, :time 84086149700}
{:type :ok, :f :read, :value 70, :process 0, :time 84097198700}
{:type :invoke, :f :write, :value 92, :process 4, :time 86087044800}
{:type :ok, :f :write, :value 92, :process 4, :time 86095550500}
{:type :invoke, :f :write, :value 71, :process 6, :time 88091044200}
{:type :ok, :f :write, :value 71, :process 6, :time 88099753200}
{:type :info, :f :start, :process :nemesis, :time 88642747600}
{:type :info, :f :start, :process :nemesis, :time 89020404700}
{:type :invoke, :f :read, :value nil, :process 2, :time 90091703500}
{:type :ok, :f :read, :value 71, :process 2, :time 90118449900}
{:type :invoke, :f :write, :value 108, :process 3, :time 92092133800}
{:type :ok, :f :write, :value 108, :process 3, :time 92099436200}
{:type :invoke, :f :write, :value 134, :process 0, :time 94092546400}
{:type :ok, :f :write, :value 134, :process 0, :time 94107504600}
{:type :invoke, :f :read, :value nil, :process 4, :time 96095546600}
{:type :ok, :f :read, :value 134, :process 4, :time 96119626000}
{:type :invoke, :f :write, :value 127, :process 6, :time 98095986300}
{:type :ok, :f :write, :value 127, :process 6, :time 98171735300}
{:type :invoke, :f :write, :value 76, :process 2, :time 100097633100}
{:type :ok, :f :write, :value 76, :process 2, :time 100131694000}
{:type :invoke, :f :read, :value nil, :process 3, :time 102098946100}
{:type :ok, :f :read, :value 76, :process 3, :time 102120355800}
{:type :invoke, :f :write, :value 156, :process 0, :time 104099351200}
{:type :ok, :f :write, :value 156, :process 0, :time 104122622500}
{:type :invoke, :f :write, :value 97, :process 4, :time 106119018000}
{:type :ok, :f :write, :value 97, :process 4, :time 106166621100}
{:type :invoke, :f :read, :value nil, :process 6, :time 108120165500}
{:type :ok, :f :read, :value 97, :process 6, :time 108177345600}
{:type :invoke, :f :write, :value 44, :process 2, :time 110121064800}
{:type :ok, :f :write, :value 44, :process 2, :time 110199632400}
{:type :invoke, :f :write, :value 122, :process 3, :time 112121588200}
{:type :ok, :f :write, :value 122, :process 3, :time 112316061300}
{:type :invoke, :f :read, :value nil, :process 0, :time 114124934500}
{:type :ok, :f :read, :value 122, :process 0, :time 114143405600}
{:type :invoke, :f :write, :value 165, :process 4, :time 116127745800}
{:type :ok, :f :write, :value 165, :process 4, :time 116194489300}
{:type :invoke, :f :write, :value 77, :process 6, :time 118131857000}
{:type :ok, :f :write, :value 77, :process 6, :time 118212045600}
{:type :invoke, :f :read, :value nil, :process 2, :time 120133347300}
{:type :ok, :f :read, :value 77, :process 2, :time 120170997400}
{:type :invoke, :f :write, :value 91, :process 3, :time 122133995200}
{:type :ok, :f :write, :value 91, :process 3, :time 122150173400}
{:type :invoke, :f :write, :value 34, :process 0, :time 124140579200}
{:type :ok, :f :write, :value 34, :process 0, :time 124153919100}
{:type :info, :f :stop, :process :nemesis, :time 126024378600}
{:type :invoke, :f :read, :value nil, :process 4, :time 126142079000}
{:type :ok, :f :read, :value 34, :process 4, :time 126152564300}
{:type :info, :f :stop, :process :nemesis, :time 126167855800}
{:type :invoke, :f :write, :value 217, :process 6, :time 128142862000}
{:type :ok, :f :write, :value 217, :process 6, :time 128158632600}
{:type :invoke, :f :write, :value 55, :process 2, :time 130144700800}
{:type :ok, :f :write, :value 55, :process 2, :time 130188549800}
{:type :invoke, :f :read, :value nil, :process 3, :time 132150251300}
{:type :ok, :f :read, :value 55, :process 3, :time 132160364100}
{:type :invoke, :f :write, :value 71, :process 0, :time 134151024600}
{:type :ok, :f :write, :value 71, :process 0, :time 134165525800}
{:type :invoke, :f :write, :value 43, :process 4, :time 136151523100}
{:type :ok, :f :write, :value 43, :process 4, :time 136161465100}
{:type :invoke, :f :read, :value nil, :process 6, :time 138154662300}
{:type :ok, :f :read, :value 43, :process 6, :time 138166302500}
{:type :invoke, :f :write, :value 161, :process 2, :time 140157220700}
{:type :ok, :f :write, :value 161, :process 2, :time 140166688800}
{:type :invoke, :f :write, :value 198, :process 3, :time 142159423800}
{:type :ok, :f :write, :value 198, :process 3, :time 142168519000}
{:type :invoke, :f :read, :value nil, :process 0, :time 144161213500}
{:type :ok, :f :read, :value 198, :process 0, :time 144174992300}
{:type :invoke, :f :write, :value 128, :process 4, :time 146162355300}
{:type :ok, :f :write, :value 128, :process 4, :time 146171514000}
{:type :invoke, :f :write, :value 165, :process 6, :time 148162725700}
{:type :ok, :f :write, :value 165, :process 6, :time 148174910800}
{:type :invoke, :f :read, :value nil, :process 2, :time 150163879200}
{:type :ok, :f :read, :value 165, :process 2, :time 150174548100}
{:type :invoke, :f :write, :value 162, :process 3, :time 152164881400}
{:type :ok, :f :write, :value 162, :process 3, :time 152176769500}
{:type :invoke, :f :write, :value 152, :process 0, :time 154165891000}
{:type :ok, :f :write, :value 152, :process 0, :time 154175319400}
{:type :invoke, :f :read, :value nil, :process 4, :time 156167005400}
{:type :ok, :f :read, :value 152, :process 4, :time 156176544500}
{:type :invoke, :f :write, :value 87, :process 6, :time 158167881700}
{:type :ok, :f :write, :value 87, :process 6, :time 158178719500}
{:type :invoke, :f :write, :value 65, :process 2, :time 160168304200}
{:type :ok, :f :write, :value 65, :process 2, :time 160183871000}
{:type :invoke, :f :read, :value nil, :process 3, :time 162168747800}
{:type :ok, :f :read, :value 65, :process 3, :time 162181939600}
{:type :info, :f :start, :process :nemesis, :time 163171676200}
{:type :info, :f :start, :process :nemesis, :time 163534272700}
{:type :invoke, :f :write, :value 182, :process 0, :time 164169160200}
{:type :ok, :f :write, :value 182, :process 0, :time 164179505300}
{:type :invoke, :f :write, :value 87, :process 4, :time 166171602800}
{:type :ok, :f :write, :value 87, :process 4, :time 166386039400}
{:type :invoke, :f :read, :value nil, :process 6, :time 168184523900}
{:type :ok, :f :read, :value 87, :process 6, :time 168197126800}
{:type :invoke, :f :write, :value 34, :process 2, :time 170185492000}
{:type :ok, :f :write, :value 34, :process 2, :time 170216380300}
{:type :invoke, :f :write, :value 112, :process 3, :time 172187544200}
{:type :ok, :f :write, :value 112, :process 3, :time 172388849200}
{:type :invoke, :f :read, :value nil, :process 0, :time 174188099200}
{:type :ok, :f :read, :value 112, :process 0, :time 174200995700}
{:type :invoke, :f :write, :value 125, :process 4, :time 176189147100}
{:type :ok, :f :write, :value 125, :process 4, :time 176202905400}
{:type :invoke, :f :write, :value 135, :process 6, :time 178190278900}
{:type :ok, :f :write, :value 135, :process 6, :time 178232692300}
{:type :invoke, :f :read, :value nil, :process 2, :time 180190795700}
{:type :ok, :f :read, :value 135, :process 2, :time 180203311600}
{:type :invoke, :f :write, :value 37, :process 3, :time 182191633100}
{:type :ok, :f :write, :value 37, :process 3, :time 182319571600}
{:type :info, :f :stop, :process :nemesis, :time 200537619400}
{:type :info, :f :stop, :process :nemesis, :time 200688650300}
{:type :info, :f :log-packet-data, :process 6, :time 207693096600}
{:type :info, :f :log-packet-data, :process 6, :time 207822927500}
