{:type :info, :f :setup-packet-logging, :process 1, :time 5202068100}
{:type :info, :f :setup-packet-logging, :process 1, :time 6878662200}
{:type :info, :f :start, :process :nemesis, :time 13897849200}
{:type :invoke, :f :write, :value 120, :process 3, :time 15898646500}
{:type :info, :f :start, :process :nemesis, :time 16170734700}
{:type :ok, :f :write, :value 120, :process 3, :time 16917285200}
{:type :invoke, :f :read, :value nil, :process 4, :time 17901148600}
{:type :ok, :f :read, :value 120, :process 4, :time 18910814800}
{:type :invoke, :f :write, :value 88, :process 0, :time 19902223000}
{:type :ok, :f :write, :value 88, :process 0, :time 19913075300}
{:type :invoke, :f :write, :value 69, :process 6, :time 21902817900}
{:type :ok, :f :write, :value 69, :process 6, :time 22922305000}
{:type :invoke, :f :read, :value nil, :process 2, :time 23904228400}
{:type :ok, :f :read, :value 69, :process 2, :time 24915096000}
{:type :invoke, :f :write, :value 99, :process 3, :time 25920233100}
{:type :ok, :f :write, :value 99, :process 3, :time 26934938900}
{:type :invoke, :f :write, :value 196, :process 4, :time 27921025200}
{:type :ok, :f :write, :value 196, :process 4, :time 28928732300}
{:type :invoke, :f :read, :value nil, :process 0, :time 29922337800}
{:type :ok, :f :read, :value 196, :process 0, :time 29937698700}
{:type :invoke, :f :write, :value 84, :process 6, :time 31927825900}
{:type :ok, :f :write, :value 84, :process 6, :time 32937797800}
{:type :invoke, :f :write, :value 133, :process 2, :time 33929825900}
{:type :ok, :f :write, :value 133, :process 2, :time 34938819800}
{:type :invoke, :f :read, :value nil, :process 3, :time 35938851400}
{:type :ok, :f :read, :value 133, :process 3, :time 36949091400}
{:type :invoke, :f :write, :value 155, :process 4, :time 37939216100}
{:type :ok, :f :write, :value 155, :process 4, :time 38949001800}
{:type :invoke, :f :write, :value 52, :process 0, :time 39939696600}
{:type :ok, :f :write, :value 52, :process 0, :time 39967458300}
{:type :invoke, :f :read, :value nil, :process 6, :time 41950725200}
{:type :ok, :f :read, :value 52, :process 6, :time 42973904000}
{:type :invoke, :f :write, :value 187, :process 2, :time 43951381900}
{:type :ok, :f :write, :value 187, :process 2, :time 44964821600}
{:type :invoke, :f :write, :value 122, :process 3, :time 45955388100}
{:type :ok, :f :write, :value 122, :process 3, :time 46967903600}
{:type :invoke, :f :read, :value nil, :process 4, :time 47955867700}
{:type :ok, :f :read, :value 122, :process 4, :time 48964198500}
{:type :invoke, :f :write, :value 95, :process 0, :time 49956665500}
{:type :ok, :f :write, :value 95, :process 0, :time 49965826200}
{:type :invoke, :f :write, :value 66, :process 6, :time 51977253100}
{:type :ok, :f :write, :value 66, :process 6, :time 52987938700}
{:type :info, :f :stop, :process :nemesis, :time 53173811900}
{:type :invoke, :f :read, :value nil, :process 2, :time 53978957400}
{:type :ok, :f :read, :value 66, :process 2, :time 53993065600}
{:type :info, :f :stop, :process :nemesis, :time 55207269300}
{:type :invoke, :f :write, :value 135, :process 3, :time 55982715800}
{:type :ok, :f :write, :value 135, :process 3, :time 55993504700}
{:type :invoke, :f :write, :value 35, :process 4, :time 57983148300}
{:type :ok, :f :write, :value 35, :process 4, :time 57998182500}
{:type :invoke, :f :read, :value nil, :process 0, :time 59984858400}
{:type :ok, :f :read, :value 35, :process 0, :time 59999004900}
{:type :invoke, :f :write, :value 61, :process 6, :time 61993254400}
{:type :ok, :f :write, :value 61, :process 6, :time 62001825500}
{:type :invoke, :f :write, :value 217, :process 2, :time 63995993300}
{:type :ok, :f :write, :value 217, :process 2, :time 64005289000}
{:type :invoke, :f :read, :value nil, :process 3, :time 65997255300}
{:type :ok, :f :read, :value 217, :process 3, :time 66007886700}
{:type :invoke, :f :write, :value 85, :process 4, :time 67998626400}
{:type :ok, :f :write, :value 85, :process 4, :time 68006970900}
{:type :invoke, :f :write, :value 24, :process 0, :time 70001569900}
{:type :ok, :f :write, :value 24, :process 0, :time 70011067400}
{:type :invoke, :f :read, :value nil, :process 6, :time 72001997500}
{:type :ok, :f :read, :value 24, :process 6, :time 72013781500}
{:type :invoke, :f :write, :value 76, :process 2, :time 74002498200}
{:type :ok, :f :write, :value 76, :process 2, :time 74013282900}
{:type :invoke, :f :write, :value 152, :process 3, :time 76003976900}
{:type :ok, :f :write, :value 152, :process 3, :time 76014363200}
{:type :invoke, :f :read, :value nil, :process 4, :time 78004435500}
{:type :ok, :f :read, :value 152, :process 4, :time 78014505000}
{:type :invoke, :f :write, :value 152, :process 0, :time 80007423400}
{:type :ok, :f :write, :value 152, :process 0, :time 80020003200}
{:type :invoke, :f :write, :value 75, :process 6, :time 82009504700}
{:type :ok, :f :write, :value 75, :process 6, :time 82021240300}
{:type :invoke, :f :read, :value nil, :process 2, :time 84010734800}
{:type :ok, :f :read, :value 75, :process 2, :time 84019402900}
{:type :invoke, :f :write, :value 190, :process 3, :time 86011574700}
{:type :ok, :f :write, :value 190, :process 3, :time 86029476000}
{:type :invoke, :f :write, :value 94, :process 4, :time 88013287600}
{:type :ok, :f :write, :value 94, :process 4, :time 88034461600}
{:type :invoke, :f :read, :value nil, :process 0, :time 90014289900}
{:type :ok, :f :read, :value 94, :process 0, :time 90033466300}
{:type :invoke, :f :write, :value 75, :process 6, :time 92015146700}
{:type :ok, :f :write, :value 75, :process 6, :time 92023808500}
{:type :info, :f :start, :process :nemesis, :time 92212735300}
{:type :invoke, :f :write, :value 117, :process 2, :time 94015872100}
{:type :ok, :f :write, :value 117, :process 2, :time 95024488200}
{:type :invoke, :f :read, :value nil, :process 3, :time 96017241200}
{:type :info, :f :start, :process :nemesis, :time 96284868200}
{:type :ok, :f :read, :value 117, :process 3, :time 97030621600}
{:type :invoke, :f :write, :value 111, :process 4, :time 98019399400}
{:type :ok, :f :write, :value 111, :process 4, :time 99027622600}
{:type :invoke, :f :write, :value 92, :process 0, :time 100022103000}
{:type :ok, :f :write, :value 92, :process 0, :time 100049676000}
{:type :invoke, :f :read, :value nil, :process 6, :time 102022973900}
{:type :ok, :f :read, :value 92, :process 6, :time 103032312500}
{:type :invoke, :f :write, :value 191, :process 2, :time 104027106000}
{:type :ok, :f :write, :value 191, :process 2, :time 105034832000}
{:type :invoke, :f :write, :value 168, :process 3, :time 106033825000}
{:type :ok, :f :write, :value 168, :process 3, :time 107043018700}
{:type :invoke, :f :read, :value nil, :process 4, :time 108035289800}
{:type :ok, :f :read, :value 168, :process 4, :time 109043620400}
{:type :invoke, :f :write, :value 127, :process 0, :time 110035993300}
{:type :ok, :f :write, :value 127, :process 0, :time 110047229400}
{:type :invoke, :f :write, :value 70, :process 6, :time 112036707700}
{:type :ok, :f :write, :value 70, :process 6, :time 113048372800}
{:type :invoke, :f :read, :value nil, :process 2, :time 114038220500}
{:type :ok, :f :read, :value 70, :process 2, :time 115053180100}
{:type :invoke, :f :write, :value 196, :process 3, :time 116046847800}
{:type :ok, :f :write, :value 196, :process 3, :time 117054720600}
{:type :invoke, :f :write, :value 124, :process 4, :time 118048012000}
{:type :ok, :f :write, :value 124, :process 4, :time 119055880600}
{:type :invoke, :f :read, :value nil, :process 0, :time 120050353200}
{:type :ok, :f :read, :value 124, :process 0, :time 120061712700}
{:type :invoke, :f :write, :value 63, :process 6, :time 122052172700}
{:type :ok, :f :write, :value 63, :process 6, :time 123067140500}
{:type :invoke, :f :write, :value 91, :process 2, :time 124056989300}
{:type :ok, :f :write, :value 91, :process 2, :time 125065932100}
{:type :invoke, :f :read, :value nil, :process 3, :time 126062569200}
{:type :ok, :f :read, :value 91, :process 3, :time 127074484900}
{:type :invoke, :f :write, :value 121, :process 4, :time 128063645400}
{:type :ok, :f :write, :value 121, :process 4, :time 129072851200}
{:type :invoke, :f :write, :value 158, :process 0, :time 130065383800}
{:type :ok, :f :write, :value 158, :process 0, :time 130077236600}
{:type :invoke, :f :read, :value nil, :process 6, :time 132070107900}
{:type :ok, :f :read, :value 158, :process 6, :time 133079732700}
{:type :info, :f :stop, :process :nemesis, :time 133290178200}
{:type :invoke, :f :write, :value 68, :process 2, :time 134070618900}
{:type :ok, :f :write, :value 68, :process 2, :time 134081748600}
{:type :info, :f :stop, :process :nemesis, :time 135307602300}
{:type :invoke, :f :write, :value 218, :process 3, :time 136077770000}
{:type :ok, :f :write, :value 218, :process 3, :time 136088754600}
{:type :invoke, :f :read, :value nil, :process 4, :time 138080227000}
{:type :ok, :f :read, :value 218, :process 4, :time 138089508700}
{:type :invoke, :f :write, :value 118, :process 0, :time 140080700900}
{:type :ok, :f :write, :value 118, :process 0, :time 140089616200}
{:type :invoke, :f :write, :value 116, :process 6, :time 142082639400}
{:type :ok, :f :write, :value 116, :process 6, :time 142094722900}
{:type :invoke, :f :read, :value nil, :process 2, :time 144083082300}
{:type :ok, :f :read, :value 116, :process 2, :time 144094698500}
{:type :invoke, :f :write, :value 214, :process 3, :time 146084802400}
{:type :ok, :f :write, :value 214, :process 3, :time 146092622500}
{:type :invoke, :f :write, :value 79, :process 4, :time 148086350200}
{:type :ok, :f :write, :value 79, :process 4, :time 148095879400}
{:type :invoke, :f :read, :value nil, :process 0, :time 150087730600}
{:type :ok, :f :read, :value 79, :process 0, :time 150098730200}
{:type :invoke, :f :write, :value 166, :process 6, :time 152088428700}
{:type :ok, :f :write, :value 166, :process 6, :time 152096676700}
{:type :invoke, :f :write, :value 156, :process 2, :time 154089727900}
{:type :ok, :f :write, :value 156, :process 2, :time 154101301800}
{:type :invoke, :f :read, :value nil, :process 3, :time 156090256700}
{:type :ok, :f :read, :value 156, :process 3, :time 156107263000}
{:type :invoke, :f :write, :value 210, :process 4, :time 158091333600}
{:type :ok, :f :write, :value 210, :process 4, :time 158100338600}
{:type :invoke, :f :write, :value 58, :process 0, :time 160092424300}
{:type :ok, :f :write, :value 58, :process 0, :time 160100100700}
{:type :invoke, :f :read, :value nil, :process 6, :time 162092952000}
{:type :ok, :f :read, :value 58, :process 6, :time 162102745100}
{:type :invoke, :f :write, :value 40, :process 2, :time 164094757000}
{:type :ok, :f :write, :value 40, :process 2, :time 164105744400}
{:type :invoke, :f :write, :value 39, :process 3, :time 166096232000}
{:type :ok, :f :write, :value 39, :process 3, :time 166107707200}
{:type :invoke, :f :read, :value nil, :process 4, :time 168098307800}
{:type :ok, :f :read, :value 39, :process 4, :time 168108100700}
{:type :invoke, :f :write, :value 60, :process 0, :time 170100149700}
{:type :ok, :f :write, :value 60, :process 0, :time 170109564500}
{:type :invoke, :f :write, :value 186, :process 6, :time 172102153100}
{:type :ok, :f :write, :value 186, :process 6, :time 172113253900}
{:type :info, :f :start, :process :nemesis, :time 172313371000}
{:type :invoke, :f :read, :value nil, :process 2, :time 174102533500}
{:type :ok, :f :read, :value 186, :process 2, :time 175112088100}
{:type :invoke, :f :write, :value 178, :process 3, :time 176103360900}
{:type :info, :f :start, :process :nemesis, :time 176294497700}
{:type :ok, :f :write, :value 178, :process 3, :time 177110776600}
{:type :invoke, :f :write, :value 108, :process 4, :time 178104165200}
{:type :ok, :f :write, :value 108, :process 4, :time 179113847700}
{:type :invoke, :f :read, :value nil, :process 0, :time 180104824200}
{:type :ok, :f :read, :value 108, :process 0, :time 180113973700}
{:type :invoke, :f :write, :value 100, :process 6, :time 182107430400}
{:type :ok, :f :write, :value 100, :process 6, :time 183125928100}
{:type :invoke, :f :write, :value 165, :process 2, :time 184115372600}
{:type :ok, :f :write, :value 165, :process 2, :time 185127289900}
{:type :info, :f :log-packet-data, :process 6, :time 192134682100}
{:type :info, :f :log-packet-data, :process 6, :time 193253776700}
