{:type :info, :f :setup-packet-logging, :process 1, :time 5430682100}
{:type :info, :f :setup-packet-logging, :process 1, :time 8397140900}
{:type :info, :f :start, :process :nemesis, :time 15491455600}
{:type :invoke, :f :write, :value 120, :process 4, :time 17491901700}
{:type :ok, :f :write, :value 120, :process 4, :time 18507378900}
{:type :info, :f :start, :process :nemesis, :time 18907981200, :value [:isolated {"n1" #{"n2"}, "n2" #{"n3"}, "n3" #{"n4"}, "n4" #{"n5"}}]}
{:type :invoke, :f :read, :value nil, :process 6, :time 19493147900}
{:type :ok, :f :read, :value 120, :process 6, :time 20512750200}
{:type :invoke, :f :write, :value 72, :process 2, :time 21495524100}
{:type :ok, :f :write, :value 72, :process 2, :time 22503257200}
{:type :invoke, :f :write, :value 179, :process 3, :time 23496537300}
{:type :ok, :f :write, :value 179, :process 3, :time 24506745600}
{:type :invoke, :f :read, :value nil, :process 0, :time 25498295000}
{:type :ok, :f :read, :value 179, :process 0, :time 25510596100}
{:type :invoke, :f :write, :value 40, :process 4, :time 27509620300}
{:type :ok, :f :write, :value 40, :process 4, :time 28526425300}
{:type :invoke, :f :write, :value 168, :process 6, :time 29517655300}
{:type :ok, :f :write, :value 168, :process 6, :time 30526945300}
{:type :invoke, :f :read, :value nil, :process 2, :time 31521522100}
{:type :ok, :f :read, :value 168, :process 2, :time 32573148700}
{:type :invoke, :f :write, :value 110, :process 3, :time 33523452200}
{:type :ok, :f :write, :value 110, :process 3, :time 34539689000}
{:type :invoke, :f :write, :value 129, :process 0, :time 35523777200}
{:type :ok, :f :write, :value 129, :process 0, :time 35548070500}
{:type :invoke, :f :read, :value nil, :process 4, :time 37538812100}
{:type :ok, :f :read, :value 129, :process 4, :time 38560370500}
{:type :invoke, :f :write, :value 89, :process 6, :time 39539743000}
{:type :ok, :f :write, :value 89, :process 6, :time 40553339300}
{:type :invoke, :f :write, :value 39, :process 2, :time 41588328400}
{:type :ok, :f :write, :value 39, :process 2, :time 42601370900}
{:type :invoke, :f :read, :value nil, :process 3, :time 43590547000}
{:type :ok, :f :read, :value 39, :process 3, :time 44600376700}
{:type :invoke, :f :write, :value 171, :process 0, :time 45591316000}
{:type :ok, :f :write, :value 171, :process 0, :time 45607376800}
{:type :invoke, :f :write, :value 35, :process 4, :time 47592237900}
{:type :ok, :f :write, :value 35, :process 4, :time 48620316000}
{:type :invoke, :f :read, :value nil, :process 6, :time 49593483200}
{:type :ok, :f :read, :value 35, :process 6, :time 50611788000}
{:type :invoke, :f :write, :value 112, :process 2, :time 51614767800}
{:type :ok, :f :write, :value 112, :process 2, :time 52625538400}
{:type :invoke, :f :write, :value 131, :process 3, :time 53616614000}
{:type :ok, :f :write, :value 131, :process 3, :time 54628156800}
{:type :invoke, :f :read, :value nil, :process 0, :time 55617746700}
{:type :ok, :f :read, :value 131, :process 0, :time 55627867600}
{:type :info, :f :stop, :process :nemesis, :time 55914698800}
{:type :invoke, :f :write, :value 187, :process 4, :time 57623700700}
{:type :ok, :f :write, :value 187, :process 4, :time 58635641200}
{:type :invoke, :f :write, :value 200, :process 6, :time 59625360500}
{:type :ok, :f :write, :value 200, :process 6, :time 59634941900}
{:type :info, :f :stop, :process :nemesis, :time 60074949500, :value :network-healed}
{:type :invoke, :f :read, :value nil, :process 2, :time 61627702000}
{:type :ok, :f :read, :value 200, :process 2, :time 61637746700}
{:type :invoke, :f :write, :value 143, :process 3, :time 63632632600}
{:type :ok, :f :write, :value 143, :process 3, :time 63661783400}
{:type :invoke, :f :write, :value 106, :process 0, :time 65633330100}
{:type :ok, :f :write, :value 106, :process 0, :time 65643795200}
{:type :invoke, :f :read, :value nil, :process 4, :time 67639214400}
{:type :ok, :f :read, :value 106, :process 4, :time 67650881800}
{:type :invoke, :f :write, :value 116, :process 6, :time 69639863200}
{:type :ok, :f :write, :value 116, :process 6, :time 69649482600}
{:type :invoke, :f :write, :value 113, :process 2, :time 71643150800}
{:type :ok, :f :write, :value 113, :process 2, :time 71655452400}
{:type :invoke, :f :read, :value nil, :process 3, :time 73646702700}
{:type :ok, :f :read, :value 113, :process 3, :time 73658710000}
{:type :invoke, :f :write, :value 80, :process 0, :time 75649054600}
{:type :ok, :f :write, :value 80, :process 0, :time 75658658800}
{:type :invoke, :f :write, :value 141, :process 4, :time 77650622700}
{:type :ok, :f :write, :value 141, :process 4, :time 77661654000}
{:type :invoke, :f :read, :value nil, :process 6, :time 79651530900}
{:type :ok, :f :read, :value 141, :process 6, :time 79660429800}
{:type :invoke, :f :write, :value 45, :process 2, :time 81652481600}
{:type :ok, :f :write, :value 45, :process 2, :time 81663285400}
{:type :invoke, :f :write, :value 166, :process 3, :time 83653154600}
{:type :ok, :f :write, :value 166, :process 3, :time 83664704100}
{:type :invoke, :f :read, :value nil, :process 0, :time 85653924000}
{:type :ok, :f :read, :value 166, :process 0, :time 85663253500}
{:type :invoke, :f :write, :value 120, :process 4, :time 87654298700}
{:type :ok, :f :write, :value 120, :process 4, :time 87663247900}
{:type :invoke, :f :write, :value 201, :process 6, :time 89657267500}
{:type :ok, :f :write, :value 201, :process 6, :time 89667854300}
{:type :invoke, :f :read, :value nil, :process 2, :time 91657893700}
{:type :ok, :f :read, :value 201, :process 2, :time 91673164300}
{:type :invoke, :f :write, :value 43, :process 3, :time 93660292000}
{:type :ok, :f :write, :value 43, :process 3, :time 93669575900}
{:type :invoke, :f :write, :value 105, :process 0, :time 95660885100}
{:type :ok, :f :write, :value 105, :process 0, :time 95671003700}
{:type :info, :f :start, :process :nemesis, :time 97079869400}
{:type :invoke, :f :read, :value nil, :process 4, :time 97661890500}
{:type :ok, :f :read, :value 105, :process 4, :time 97675141700}
{:type :invoke, :f :write, :value 34, :process 6, :time 99662972700}
{:type :ok, :f :write, :value 34, :process 6, :time 100675751200}
{:type :invoke, :f :write, :value 70, :process 2, :time 101664551200}
{:type :info, :f :start, :process :nemesis, :time 102308350000, :value [:isolated {"n1" #{"n2"}, "n2" #{"n3"}, "n3" #{"n4"}, "n4" #{"n5"}}]}
{:type :ok, :f :write, :value 70, :process 2, :time 102674679500}
{:type :invoke, :f :read, :value nil, :process 3, :time 103665064400}
{:type :ok, :f :read, :value 70, :process 3, :time 104675859000}
{:type :invoke, :f :write, :value 160, :process 0, :time 105665475300}
{:type :ok, :f :write, :value 160, :process 0, :time 105675684300}
{:type :invoke, :f :write, :value 123, :process 4, :time 107666643100}
{:type :ok, :f :write, :value 123, :process 4, :time 108691589500}
{:type :invoke, :f :read, :value nil, :process 6, :time 109699928500}
{:type :ok, :f :read, :value 123, :process 6, :time 110746724900}
{:type :invoke, :f :write, :value 69, :process 2, :time 111702098000}
{:type :ok, :f :write, :value 69, :process 2, :time 112727391200}
{:type :invoke, :f :write, :value 190, :process 3, :time 113703866100}
{:type :ok, :f :write, :value 190, :process 3, :time 114721367700}
{:type :invoke, :f :read, :value nil, :process 0, :time 115704260300}
{:type :ok, :f :read, :value 190, :process 0, :time 115722174300}
{:type :invoke, :f :write, :value 192, :process 4, :time 117704770200}
{:type :ok, :f :write, :value 192, :process 4, :time 118728009800}
{:type :invoke, :f :write, :value 198, :process 6, :time 119752192800}
{:type :ok, :f :write, :value 198, :process 6, :time 120764283800}
{:type :invoke, :f :read, :value nil, :process 2, :time 121752590400}
{:type :ok, :f :read, :value 198, :process 2, :time 122768515600}
{:type :invoke, :f :write, :value 132, :process 3, :time 123753085300}
{:type :ok, :f :write, :value 132, :process 3, :time 124766985300}
{:type :invoke, :f :write, :value 130, :process 0, :time 125753425500}
{:type :ok, :f :write, :value 130, :process 0, :time 125767516900}
{:type :invoke, :f :read, :value nil, :process 4, :time 127753947000}
{:type :ok, :f :read, :value 130, :process 4, :time 128763226500}
{:type :invoke, :f :write, :value 87, :process 6, :time 129772218200}
{:type :ok, :f :write, :value 87, :process 6, :time 130789771000}
{:type :invoke, :f :write, :value 194, :process 2, :time 131772662500}
{:type :ok, :f :write, :value 194, :process 2, :time 132783345200}
{:type :invoke, :f :read, :value nil, :process 3, :time 133779732900}
{:type :ok, :f :read, :value 194, :process 3, :time 134789021300}
{:type :invoke, :f :write, :value 144, :process 0, :time 135780237500}
{:type :ok, :f :write, :value 144, :process 0, :time 135804375600}
{:type :invoke, :f :write, :value 159, :process 4, :time 137780639800}
{:type :ok, :f :write, :value 159, :process 4, :time 138790391400}
{:type :info, :f :stop, :process :nemesis, :time 139311551000}
{:type :invoke, :f :read, :value nil, :process 6, :time 139796471200}
{:type :ok, :f :read, :value 159, :process 6, :time 140807653200}
{:type :invoke, :f :write, :value 37, :process 2, :time 141797076300}
{:type :ok, :f :write, :value 37, :process 2, :time 142870868600}
{:type :info, :f :stop, :process :nemesis, :time 143484842000, :value :network-healed}
{:type :invoke, :f :write, :value 156, :process 3, :time 143797516300}
{:type :ok, :f :write, :value 156, :process 3, :time 143821057800}
{:type :invoke, :f :read, :value nil, :process 0, :time 145798733300}
{:type :ok, :f :read, :value 156, :process 0, :time 145810332300}
{:type :invoke, :f :write, :value 171, :process 4, :time 147799314000}
{:type :ok, :f :write, :value 171, :process 4, :time 147808983300}
{:type :invoke, :f :write, :value 79, :process 6, :time 149814520600}
{:type :ok, :f :write, :value 79, :process 6, :time 149825995500}
{:type :invoke, :f :read, :value nil, :process 2, :time 151873870700}
{:type :ok, :f :read, :value 79, :process 2, :time 151886497700}
{:type :invoke, :f :write, :value 114, :process 3, :time 153874524900}
{:type :ok, :f :write, :value 114, :process 3, :time 153886030800}
{:type :invoke, :f :write, :value 199, :process 0, :time 155875778500}
{:type :ok, :f :write, :value 199, :process 0, :time 155888497500}
{:type :invoke, :f :read, :value nil, :process 4, :time 157876946000}
{:type :ok, :f :read, :value 199, :process 4, :time 157897125400}
{:type :invoke, :f :write, :value 174, :process 6, :time 159877397600}
{:type :ok, :f :write, :value 174, :process 6, :time 159907613300}
{:type :invoke, :f :write, :value 51, :process 2, :time 161878496600}
{:type :ok, :f :write, :value 51, :process 2, :time 161886687100}
{:type :invoke, :f :read, :value nil, :process 3, :time 163883273600}
{:type :ok, :f :read, :value 51, :process 3, :time 163913402200}
{:type :invoke, :f :write, :value 31, :process 0, :time 165884878800}
{:type :ok, :f :write, :value 31, :process 0, :time 165968279000}
{:type :invoke, :f :write, :value 88, :process 4, :time 167885997200}
{:type :ok, :f :write, :value 88, :process 4, :time 167899009700}
{:type :invoke, :f :read, :value nil, :process 6, :time 169887834300}
{:type :ok, :f :read, :value 88, :process 6, :time 169897448900}
{:type :invoke, :f :write, :value 26, :process 2, :time 171889631100}
{:type :ok, :f :write, :value 26, :process 2, :time 171925604800}
{:type :invoke, :f :write, :value 76, :process 3, :time 173892347600}
{:type :ok, :f :write, :value 76, :process 3, :time 173905781600}
{:type :invoke, :f :read, :value nil, :process 0, :time 175892908000}
{:type :ok, :f :read, :value 76, :process 0, :time 175904155800}
{:type :invoke, :f :write, :value 130, :process 4, :time 177894590900}
{:type :ok, :f :write, :value 130, :process 4, :time 177905631300}
{:type :invoke, :f :write, :value 177, :process 6, :time 179897444700}
{:type :ok, :f :write, :value 177, :process 6, :time 179908775100}
{:type :info, :f :start, :process :nemesis, :time 180489650600}
{:type :invoke, :f :read, :value nil, :process 2, :time 181901044200}
{:type :ok, :f :read, :value 177, :process 2, :time 181911317500}
{:type :invoke, :f :write, :value 30, :process 3, :time 183901439200}
{:type :ok, :f :write, :value 30, :process 3, :time 184912302900}
{:type :info, :f :start, :process :nemesis, :time 185426767100, :value [:isolated {"n1" #{"n2"}, "n2" #{"n3"}, "n3" #{"n4"}, "n4" #{"n5"}}]}
{:type :invoke, :f :write, :value 100, :process 0, :time 185902223800}
{:type :ok, :f :write, :value 100, :process 0, :time 185916647700}
{:type :info, :f :log-packet-data, :process 6, :time 192920971200}
{:type :info, :f :log-packet-data, :process 6, :time 194035629400}
