{:type :info, :f :setup-packet-logging, :process 1, :time 5454566600}
{:type :info, :f :setup-packet-logging, :process 1, :time 7065315300}
{:type :info, :f :start, :process :nemesis, :time 14099702600}
{:type :info, :f :start, :process :nemesis, :time 14687038200, :value [:isolated {"n2" #{"n5" "n4"}, "n1" #{"n5" "n4"}, "n5" #{"n2" "n1"}, "n4" #{"n2" "n1"}}]}
{:type :invoke, :f :write, :value 120, :process 3, :time 16100797600}
{:type :ok, :f :write, :value 120, :process 3, :time 16214289000}
{:type :invoke, :f :read, :value nil, :process 4, :time 18101818600}
{:type :ok, :f :read, :value 120, :process 4, :time 18210039700}
{:type :invoke, :f :write, :value 147, :process 6, :time 20104841500}
{:type :ok, :f :write, :value 147, :process 6, :time 20220377800}
{:type :invoke, :f :write, :value 91, :process 0, :time 22108541800}
{:type :ok, :f :write, :value 91, :process 0, :time 22117792700}
{:type :invoke, :f :read, :value nil, :process 2, :time 24110567100}
{:type :ok, :f :read, :value 91, :process 2, :time 24218615400}
{:type :invoke, :f :write, :value 210, :process 3, :time 26112443600}
{:type :ok, :f :write, :value 210, :process 3, :time 26220334500}
{:type :invoke, :f :write, :value 209, :process 4, :time 28113672500}
{:type :ok, :f :write, :value 209, :process 4, :time 28218585000}
{:type :invoke, :f :read, :value nil, :process 6, :time 30114092700}
{:type :ok, :f :read, :value 209, :process 6, :time 30220155900}
{:type :invoke, :f :write, :value 177, :process 0, :time 32115922200}
{:type :ok, :f :write, :value 177, :process 0, :time 32129980000}
{:type :invoke, :f :write, :value 216, :process 2, :time 34116406400}
{:type :ok, :f :write, :value 216, :process 2, :time 34224702100}
{:type :invoke, :f :read, :value nil, :process 3, :time 36117587700}
{:type :ok, :f :read, :value 216, :process 3, :time 36222982500}
{:type :invoke, :f :write, :value 33, :process 4, :time 38119331900}
{:type :ok, :f :write, :value 33, :process 4, :time 38224492300}
{:type :invoke, :f :write, :value 64, :process 6, :time 40120850400}
{:type :ok, :f :write, :value 64, :process 6, :time 40232879800}
{:type :invoke, :f :read, :value nil, :process 0, :time 42122463500}
{:type :ok, :f :read, :value 64, :process 0, :time 42135358300}
{:type :invoke, :f :write, :value 205, :process 2, :time 44124827100}
{:type :ok, :f :write, :value 205, :process 2, :time 44234700500}
{:type :invoke, :f :write, :value 177, :process 3, :time 46127888100}
{:type :ok, :f :write, :value 177, :process 3, :time 46234050400}
{:type :invoke, :f :read, :value nil, :process 4, :time 48128734200}
{:type :ok, :f :read, :value 177, :process 4, :time 48234775600}
{:type :invoke, :f :write, :value 24, :process 6, :time 50130193600}
{:type :ok, :f :write, :value 24, :process 6, :time 50235990000}
{:type :info, :f :stop, :process :nemesis, :time 51696695300}
{:type :invoke, :f :write, :value 178, :process 0, :time 52131313900}
{:type :ok, :f :write, :value 178, :process 0, :time 52153325700}
{:type :info, :f :stop, :process :nemesis, :time 52372346500, :value :network-healed}
{:type :invoke, :f :read, :value nil, :process 2, :time 54131639000}
{:type :ok, :f :read, :value 178, :process 2, :time 54144000300}
{:type :invoke, :f :write, :value 107, :process 3, :time 56133905600}
{:type :ok, :f :write, :value 107, :process 3, :time 56146684300}
{:type :invoke, :f :write, :value 47, :process 4, :time 58136754600}
{:type :ok, :f :write, :value 47, :process 4, :time 58145240900}
{:type :invoke, :f :read, :value nil, :process 6, :time 60137156700}
{:type :ok, :f :read, :value 47, :process 6, :time 60155005100}
{:type :invoke, :f :write, :value 146, :process 0, :time 62137657200}
{:type :ok, :f :write, :value 146, :process 0, :time 62146657500}
{:type :invoke, :f :write, :value 148, :process 2, :time 64138762800}
{:type :ok, :f :write, :value 148, :process 2, :time 64150975400}
{:type :invoke, :f :read, :value nil, :process 3, :time 66140354000}
{:type :ok, :f :read, :value 148, :process 3, :time 66157920100}
{:type :invoke, :f :write, :value 133, :process 4, :time 68141774000}
{:type :ok, :f :write, :value 133, :process 4, :time 68151139200}
{:type :invoke, :f :write, :value 63, :process 6, :time 70142679600}
{:type :ok, :f :write, :value 63, :process 6, :time 70154753000}
{:type :invoke, :f :read, :value nil, :process 0, :time 72145302100}
{:type :ok, :f :read, :value 63, :process 0, :time 72153923800}
{:type :invoke, :f :write, :value 71, :process 2, :time 74146794000}
{:type :ok, :f :write, :value 71, :process 2, :time 74157477200}
{:type :invoke, :f :write, :value 68, :process 3, :time 76147174400}
{:type :ok, :f :write, :value 68, :process 3, :time 76155016200}
{:type :invoke, :f :read, :value nil, :process 4, :time 78148410600}
{:type :ok, :f :read, :value 68, :process 4, :time 78158007400}
{:type :invoke, :f :write, :value 142, :process 6, :time 80150242200}
{:type :ok, :f :write, :value 142, :process 6, :time 80158156100}
{:type :invoke, :f :write, :value 195, :process 0, :time 82150748800}
{:type :ok, :f :write, :value 195, :process 0, :time 82161903500}
{:type :invoke, :f :read, :value nil, :process 2, :time 84151671400}
{:type :ok, :f :read, :value 195, :process 2, :time 84160321000}
{:type :invoke, :f :write, :value 153, :process 3, :time 86152750900}
{:type :ok, :f :write, :value 153, :process 3, :time 86160298600}
{:type :invoke, :f :write, :value 152, :process 4, :time 88153140700}
{:type :ok, :f :write, :value 152, :process 4, :time 88165525700}
{:type :info, :f :start, :process :nemesis, :time 89377047300}
{:type :invoke, :f :read, :value nil, :process 6, :time 90155015200}
{:type :ok, :f :read, :value 152, :process 6, :time 90166818500}
{:type :info, :f :start, :process :nemesis, :time 92058952300, :value [:isolated {"n2" #{"n5" "n4"}, "n1" #{"n5" "n4"}, "n5" #{"n2" "n1"}, "n4" #{"n2" "n1"}}]}
{:type :invoke, :f :write, :value 74, :process 0, :time 92157496000}
{:type :ok, :f :write, :value 74, :process 0, :time 92171662600}
{:type :invoke, :f :write, :value 205, :process 2, :time 94158944700}
{:type :ok, :f :write, :value 205, :process 2, :time 94295674000}
{:type :invoke, :f :read, :value nil, :process 3, :time 96163552100}
{:type :ok, :f :read, :value 205, :process 3, :time 96269183600}
{:type :invoke, :f :write, :value 63, :process 4, :time 98166573200}
{:type :ok, :f :write, :value 63, :process 4, :time 98270928000}
{:type :invoke, :f :write, :value 169, :process 6, :time 100167403600}
{:type :ok, :f :write, :value 169, :process 6, :time 100298828700}
{:type :invoke, :f :read, :value nil, :process 0, :time 102170401300}
{:type :ok, :f :read, :value 169, :process 0, :time 102203449700}
{:type :invoke, :f :write, :value 67, :process 2, :time 104171571100}
{:type :ok, :f :write, :value 67, :process 2, :time 104278840100}
{:type :invoke, :f :write, :value 177, :process 3, :time 106172289500}
{:type :ok, :f :write, :value 177, :process 3, :time 106281556900}
{:type :invoke, :f :read, :value nil, :process 4, :time 108175663100}
{:type :ok, :f :read, :value 177, :process 4, :time 108280841600}
{:type :invoke, :f :write, :value 187, :process 6, :time 110179091400}
{:type :ok, :f :write, :value 187, :process 6, :time 110286855200}
{:type :invoke, :f :write, :value 138, :process 0, :time 112179640700}
{:type :ok, :f :write, :value 138, :process 0, :time 112195115600}
{:type :invoke, :f :read, :value nil, :process 2, :time 114181351400}
{:type :ok, :f :read, :value 138, :process 2, :time 114289747500}
{:type :invoke, :f :write, :value 58, :process 3, :time 116182252700}
{:type :ok, :f :write, :value 58, :process 3, :time 116298182100}
{:type :invoke, :f :write, :value 31, :process 4, :time 118183002500}
{:type :ok, :f :write, :value 31, :process 4, :time 118293792900}
{:type :invoke, :f :read, :value nil, :process 6, :time 120184566700}
{:type :ok, :f :read, :value 31, :process 6, :time 120337134600}
{:type :invoke, :f :write, :value 135, :process 0, :time 122186044500}
{:type :ok, :f :write, :value 135, :process 0, :time 122194869800}
{:type :invoke, :f :write, :value 94, :process 2, :time 124188771900}
{:type :ok, :f :write, :value 94, :process 2, :time 124294334800}
{:type :invoke, :f :read, :value nil, :process 3, :time 126190757200}
{:type :ok, :f :read, :value 94, :process 3, :time 126298580000}
{:type :invoke, :f :write, :value 215, :process 4, :time 128193044600}
{:type :ok, :f :write, :value 215, :process 4, :time 128310186000}
{:type :info, :f :stop, :process :nemesis, :time 129063792300}
{:type :info, :f :stop, :process :nemesis, :time 129663070200, :value :network-healed}
{:type :invoke, :f :write, :value 136, :process 6, :time 130195133800}
{:type :ok, :f :write, :value 136, :process 6, :time 130203277800}
{:type :invoke, :f :read, :value nil, :process 0, :time 132196718100}
{:type :ok, :f :read, :value 136, :process 0, :time 132205423600}
{:type :invoke, :f :write, :value 72, :process 2, :time 134199698700}
{:type :ok, :f :write, :value 72, :process 2, :time 134207539900}
{:type :invoke, :f :write, :value 165, :process 3, :time 136201403000}
{:type :ok, :f :write, :value 165, :process 3, :time 136213667600}
{:type :invoke, :f :read, :value nil, :process 4, :time 138202338100}
{:type :ok, :f :read, :value 165, :process 4, :time 138212197400}
{:type :invoke, :f :write, :value 138, :process 6, :time 140203580200}
{:type :ok, :f :write, :value 138, :process 6, :time 140214767400}
{:type :invoke, :f :write, :value 94, :process 0, :time 142206593000}
{:type :ok, :f :write, :value 94, :process 0, :time 142215658200}
{:type :invoke, :f :read, :value nil, :process 2, :time 144207342900}
{:type :ok, :f :read, :value 94, :process 2, :time 144219806200}
{:type :invoke, :f :write, :value 120, :process 3, :time 146208302900}
{:type :ok, :f :write, :value 120, :process 3, :time 146217016800}
{:type :invoke, :f :write, :value 167, :process 4, :time 148209198300}
{:type :ok, :f :write, :value 167, :process 4, :time 148218121100}
{:type :invoke, :f :read, :value nil, :process 6, :time 150210228800}
{:type :ok, :f :read, :value 167, :process 6, :time 150219494400}
{:type :invoke, :f :write, :value 31, :process 0, :time 152211477400}
{:type :ok, :f :write, :value 31, :process 0, :time 152221157700}
{:type :invoke, :f :write, :value 103, :process 2, :time 154213434900}
{:type :ok, :f :write, :value 103, :process 2, :time 154224371700}
{:type :invoke, :f :read, :value nil, :process 3, :time 156214959400}
{:type :ok, :f :read, :value 103, :process 3, :time 156224075600}
{:type :invoke, :f :write, :value 98, :process 4, :time 158215312200}
{:type :ok, :f :write, :value 98, :process 4, :time 158227412900}
{:type :invoke, :f :write, :value 80, :process 6, :time 160217571100}
{:type :ok, :f :write, :value 80, :process 6, :time 160234287200}
{:type :invoke, :f :read, :value nil, :process 0, :time 162217914900}
{:type :ok, :f :read, :value 80, :process 0, :time 162230193800}
{:type :invoke, :f :write, :value 69, :process 2, :time 164218744800}
{:type :ok, :f :write, :value 69, :process 2, :time 164233409200}
{:type :invoke, :f :write, :value 58, :process 3, :time 166219757100}
{:type :ok, :f :write, :value 58, :process 3, :time 166230228200}
{:type :info, :f :start, :process :nemesis, :time 166670488400}
{:type :info, :f :start, :process :nemesis, :time 167208987800, :value [:isolated {"n2" #{"n5" "n4"}, "n1" #{"n5" "n4"}, "n5" #{"n2" "n1"}, "n4" #{"n2" "n1"}}]}
{:type :invoke, :f :read, :value nil, :process 4, :time 168220107900}
{:type :ok, :f :read, :value 58, :process 4, :time 168326011700}
{:type :invoke, :f :write, :value 56, :process 6, :time 170221327900}
{:type :ok, :f :write, :value 56, :process 6, :time 170329314800}
{:type :invoke, :f :write, :value 178, :process 0, :time 172223665500}
{:type :ok, :f :write, :value 178, :process 0, :time 172234553900}
{:type :invoke, :f :read, :value nil, :process 2, :time 174224667300}
{:type :ok, :f :read, :value 178, :process 2, :time 174331318200}
{:type :invoke, :f :write, :value 99, :process 3, :time 176225786000}
{:type :ok, :f :write, :value 99, :process 3, :time 176333701700}
{:type :invoke, :f :write, :value 177, :process 4, :time 178227340600}
{:type :ok, :f :write, :value 177, :process 4, :time 178330108900}
{:type :invoke, :f :read, :value nil, :process 6, :time 180228559400}
{:type :ok, :f :read, :value 177, :process 6, :time 180334272700}
{:type :invoke, :f :write, :value 167, :process 0, :time 182231319500}
{:type :ok, :f :write, :value 167, :process 0, :time 182238282200}
{:type :info, :f :stop, :process :nemesis, :time 204213107800}
{:type :info, :f :stop, :process :nemesis, :time 205117987700, :value :network-healed}
{:type :info, :f :log-packet-data, :process 6, :time 212121769000}
{:type :info, :f :log-packet-data, :process 6, :time 213649023800}
