{:type :info, :f :setup-packet-logging, :process 1, :time 5509185400}
{:type :info, :f :setup-packet-logging, :process 1, :time 7194282500}
{:type :info, :f :start, :process :nemesis, :time 14238068100}
{:type :info, :f :start, :process :nemesis, :time 14853702900, :value [:isolated {"n1" #{"n2"}, "n2" #{"n3"}, "n3" #{"n4"}, "n4" #{"n5"}}]}
{:type :invoke, :f :write, :value 120, :process 6, :time 16238461700}
{:type :ok, :f :write, :value 120, :process 6, :time 16357419400}
{:type :invoke, :f :read, :value nil, :process 4, :time 18239930300}
{:type :ok, :f :read, :value 120, :process 4, :time 18348876200}
{:type :invoke, :f :write, :value 146, :process 3, :time 20241613200}
{:type :ok, :f :write, :value 146, :process 3, :time 20352954500}
{:type :invoke, :f :write, :value 28, :process 0, :time 22244692500}
{:type :ok, :f :write, :value 28, :process 0, :time 22255899700}
{:type :invoke, :f :read, :value nil, :process 2, :time 24246402700}
{:type :ok, :f :read, :value 28, :process 2, :time 24356617700}
{:type :invoke, :f :write, :value 50, :process 6, :time 26246988800}
{:type :ok, :f :write, :value 50, :process 6, :time 26349752400}
{:type :invoke, :f :write, :value 106, :process 4, :time 28247399700}
{:type :ok, :f :write, :value 106, :process 4, :time 28354466000}
{:type :invoke, :f :read, :value nil, :process 3, :time 30248702400}
{:type :ok, :f :read, :value 106, :process 3, :time 30354969500}
{:type :invoke, :f :write, :value 163, :process 0, :time 32250677300}
{:type :ok, :f :write, :value 163, :process 0, :time 32258367100}
{:type :invoke, :f :write, :value 49, :process 2, :time 34251194300}
{:type :ok, :f :write, :value 49, :process 2, :time 34356340300}
{:type :invoke, :f :read, :value nil, :process 6, :time 36253615400}
{:type :ok, :f :read, :value 49, :process 6, :time 36357499900}
{:type :invoke, :f :write, :value 100, :process 4, :time 38256176200}
{:type :ok, :f :write, :value 100, :process 4, :time 38362491500}
{:type :invoke, :f :write, :value 122, :process 3, :time 40256851900}
{:type :ok, :f :write, :value 122, :process 3, :time 40365687300}
{:type :invoke, :f :read, :value nil, :process 0, :time 42258940400}
{:type :ok, :f :read, :value 122, :process 0, :time 42267452000}
{:type :invoke, :f :write, :value 156, :process 2, :time 44260113700}
{:type :ok, :f :write, :value 156, :process 2, :time 44365135500}
{:type :invoke, :f :write, :value 151, :process 6, :time 46261582400}
{:type :ok, :f :write, :value 151, :process 6, :time 46368109100}
{:type :invoke, :f :read, :value nil, :process 4, :time 48261966400}
{:type :ok, :f :read, :value 151, :process 4, :time 48369099900}
{:type :invoke, :f :write, :value 149, :process 3, :time 50263604100}
{:type :ok, :f :write, :value 149, :process 3, :time 50366865500}
{:type :info, :f :stop, :process :nemesis, :time 51862598800}
{:type :invoke, :f :write, :value 93, :process 0, :time 52266391300}
{:type :ok, :f :write, :value 93, :process 0, :time 52286485200}
{:type :info, :f :stop, :process :nemesis, :time 52551782400, :value :network-healed}
{:type :invoke, :f :read, :value nil, :process 2, :time 54272873300}
{:type :ok, :f :read, :value 93, :process 2, :time 54281783500}
{:type :invoke, :f :write, :value 59, :process 6, :time 56273272900}
{:type :ok, :f :write, :value 59, :process 6, :time 56283248600}
{:type :invoke, :f :write, :value 58, :process 4, :time 58275700600}
{:type :ok, :f :write, :value 58, :process 4, :time 58283852300}
{:type :invoke, :f :read, :value nil, :process 3, :time 60276812000}
{:type :ok, :f :read, :value 58, :process 3, :time 60289326600}
{:type :invoke, :f :write, :value 109, :process 0, :time 62279977900}
{:type :ok, :f :write, :value 109, :process 0, :time 62289561400}
{:type :invoke, :f :write, :value 171, :process 2, :time 64280927100}
{:type :ok, :f :write, :value 171, :process 2, :time 64291319400}
{:type :invoke, :f :read, :value nil, :process 6, :time 66281758300}
{:type :ok, :f :read, :value 171, :process 6, :time 66293912900}
{:type :invoke, :f :write, :value 54, :process 4, :time 68284030300}
{:type :ok, :f :write, :value 54, :process 4, :time 68296919200}
{:type :invoke, :f :write, :value 208, :process 3, :time 70284539500}
{:type :ok, :f :write, :value 208, :process 3, :time 70295767800}
{:type :invoke, :f :read, :value nil, :process 0, :time 72285434200}
{:type :ok, :f :read, :value 208, :process 0, :time 72293428000}
{:type :invoke, :f :write, :value 70, :process 2, :time 74287995100}
{:type :ok, :f :write, :value 70, :process 2, :time 74298890900}
{:type :invoke, :f :write, :value 124, :process 6, :time 76289825800}
{:type :ok, :f :write, :value 124, :process 6, :time 76298633100}
{:type :invoke, :f :read, :value nil, :process 4, :time 78291215700}
{:type :ok, :f :read, :value 124, :process 4, :time 78299186100}
{:type :invoke, :f :write, :value 135, :process 3, :time 80291534800}
{:type :ok, :f :write, :value 135, :process 3, :time 80307091300}
{:type :invoke, :f :write, :value 124, :process 0, :time 82293472800}
{:type :ok, :f :write, :value 124, :process 0, :time 82304358500}
{:type :invoke, :f :read, :value nil, :process 2, :time 84294006000}
{:type :ok, :f :read, :value 124, :process 2, :time 84301563000}
{:type :invoke, :f :write, :value 190, :process 6, :time 86295195400}
{:type :ok, :f :write, :value 190, :process 6, :time 86303915400}
{:type :invoke, :f :write, :value 48, :process 4, :time 88298448400}
{:type :ok, :f :write, :value 48, :process 4, :time 88304770800}
{:type :info, :f :start, :process :nemesis, :time 89556627400}
{:type :info, :f :start, :process :nemesis, :time 90094374600, :value [:isolated {"n1" #{"n2"}, "n2" #{"n3"}, "n3" #{"n4"}, "n4" #{"n5"}}]}
{:type :invoke, :f :read, :value nil, :process 3, :time 90300185600}
{:type :ok, :f :read, :value 48, :process 3, :time 90406659500}
{:type :invoke, :f :write, :value 205, :process 0, :time 92302625100}
{:type :ok, :f :write, :value 205, :process 0, :time 92309943400}
{:type :invoke, :f :write, :value 46, :process 2, :time 94303070500}
{:type :ok, :f :write, :value 46, :process 2, :time 94411143700}
{:type :invoke, :f :read, :value nil, :process 6, :time 96303494600}
{:type :ok, :f :read, :value 46, :process 6, :time 96406432900}
{:type :invoke, :f :write, :value 61, :process 4, :time 98306083100}
{:type :ok, :f :write, :value 61, :process 4, :time 98412568400}
{:type :invoke, :f :write, :value 218, :process 3, :time 100307082800}
{:type :ok, :f :write, :value 218, :process 3, :time 100410530900}
{:type :invoke, :f :read, :value nil, :process 0, :time 102307694900}
{:type :ok, :f :read, :value 218, :process 0, :time 102316002600}
{:type :invoke, :f :write, :value 210, :process 2, :time 104309204500}
{:type :ok, :f :write, :value 210, :process 2, :time 104415685200}
{:type :invoke, :f :write, :value 201, :process 6, :time 106311018700}
{:type :ok, :f :write, :value 201, :process 6, :time 106416122800}
{:type :invoke, :f :read, :value nil, :process 4, :time 108314020800}
{:type :ok, :f :read, :value 201, :process 4, :time 108420953800}
{:type :invoke, :f :write, :value 219, :process 3, :time 110315531800}
{:type :ok, :f :write, :value 219, :process 3, :time 110423450800}
{:type :invoke, :f :write, :value 39, :process 0, :time 112317603000}
{:type :ok, :f :write, :value 39, :process 0, :time 112324875600}
{:type :invoke, :f :read, :value nil, :process 2, :time 114318544200}
{:type :ok, :f :read, :value 39, :process 2, :time 114427772200}
{:type :invoke, :f :write, :value 50, :process 6, :time 116319199300}
{:type :ok, :f :write, :value 50, :process 6, :time 116425711900}
{:type :invoke, :f :write, :value 206, :process 4, :time 118319953200}
{:type :ok, :f :write, :value 206, :process 4, :time 118426265800}
{:type :invoke, :f :read, :value nil, :process 3, :time 120321379600}
{:type :ok, :f :read, :value 206, :process 3, :time 120426768000}
{:type :invoke, :f :write, :value 126, :process 0, :time 122322400200}
{:type :ok, :f :write, :value 126, :process 0, :time 122332611700}
{:type :invoke, :f :write, :value 78, :process 2, :time 124322866200}
{:type :ok, :f :write, :value 78, :process 2, :time 124428459800}
{:type :invoke, :f :read, :value nil, :process 6, :time 126324135600}
{:type :ok, :f :read, :value 78, :process 6, :time 126428036300}
{:type :info, :f :stop, :process :nemesis, :time 127098908000}
{:type :info, :f :stop, :process :nemesis, :time 127786993200, :value :network-healed}
{:type :invoke, :f :write, :value 95, :process 4, :time 128325954200}
{:type :ok, :f :write, :value 95, :process 4, :time 128338400900}
{:type :invoke, :f :write, :value 94, :process 3, :time 130327170200}
{:type :ok, :f :write, :value 94, :process 3, :time 130338379200}
{:type :invoke, :f :read, :value nil, :process 0, :time 132328170800}
{:type :ok, :f :read, :value 94, :process 0, :time 132336561300}
{:type :invoke, :f :write, :value 160, :process 2, :time 134330112100}
{:type :ok, :f :write, :value 160, :process 2, :time 134339229500}
{:type :invoke, :f :write, :value 211, :process 6, :time 136330512900}
{:type :ok, :f :write, :value 211, :process 6, :time 136339830200}
{:type :invoke, :f :read, :value nil, :process 4, :time 138332741500}
{:type :ok, :f :read, :value 211, :process 4, :time 138343333700}
{:type :invoke, :f :write, :value 149, :process 3, :time 140334362500}
{:type :ok, :f :write, :value 149, :process 3, :time 140354195000}
{:type :invoke, :f :write, :value 171, :process 0, :time 142336194700}
{:type :ok, :f :write, :value 171, :process 0, :time 142344667800}
{:type :invoke, :f :read, :value nil, :process 2, :time 144336679700}
{:type :ok, :f :read, :value 171, :process 2, :time 144347953100}
{:type :invoke, :f :write, :value 112, :process 6, :time 146337935900}
{:type :ok, :f :write, :value 112, :process 6, :time 146345631200}
{:type :invoke, :f :write, :value 136, :process 4, :time 148339614400}
{:type :ok, :f :write, :value 136, :process 4, :time 148347939100}
{:type :invoke, :f :read, :value nil, :process 3, :time 150341202200}
{:type :ok, :f :read, :value 136, :process 3, :time 150353273400}
{:type :invoke, :f :write, :value 77, :process 0, :time 152343916500}
{:type :ok, :f :write, :value 77, :process 0, :time 152351722200}
{:type :invoke, :f :write, :value 111, :process 2, :time 154344370900}
{:type :ok, :f :write, :value 111, :process 2, :time 154352970900}
{:type :invoke, :f :read, :value nil, :process 6, :time 156344868600}
{:type :ok, :f :read, :value 111, :process 6, :time 156355460000}
{:type :invoke, :f :write, :value 41, :process 4, :time 158346150400}
{:type :ok, :f :write, :value 41, :process 4, :time 158353541000}
{:type :invoke, :f :write, :value 173, :process 3, :time 160349126200}
{:type :ok, :f :write, :value 173, :process 3, :time 160361352800}
{:type :invoke, :f :read, :value nil, :process 0, :time 162350101400}
{:type :ok, :f :read, :value 173, :process 0, :time 162363542000}
{:type :invoke, :f :write, :value 218, :process 2, :time 164350503900}
{:type :ok, :f :write, :value 218, :process 2, :time 164356544000}
{:type :info, :f :start, :process :nemesis, :time 164792085200}
{:type :invoke, :f :write, :value 164, :process 6, :time 166350970100}
{:type :ok, :f :write, :value 164, :process 6, :time 166457726700}
{:type :info, :f :start, :process :nemesis, :time 166771911800, :value [:isolated {"n1" #{"n2"}, "n2" #{"n3"}, "n3" #{"n4"}, "n4" #{"n5"}}]}
{:type :invoke, :f :read, :value nil, :process 4, :time 168352615900}
{:type :ok, :f :read, :value 164, :process 4, :time 168457165400}
{:type :invoke, :f :write, :value 91, :process 3, :time 170353283900}
{:type :ok, :f :write, :value 91, :process 3, :time 170460181800}
{:type :invoke, :f :write, :value 34, :process 0, :time 172356066400}
{:type :ok, :f :write, :value 34, :process 0, :time 172368472000}
{:type :invoke, :f :read, :value nil, :process 2, :time 174356588600}
{:type :ok, :f :read, :value 34, :process 2, :time 174464758800}
{:type :invoke, :f :write, :value 88, :process 6, :time 176357842800}
{:type :ok, :f :write, :value 88, :process 6, :time 176463977600}
{:type :invoke, :f :write, :value 179, :process 4, :time 178358873100}
{:type :ok, :f :write, :value 179, :process 4, :time 178463918100}
{:type :invoke, :f :read, :value nil, :process 3, :time 180362423400}
{:type :ok, :f :read, :value 179, :process 3, :time 180467092900}
{:type :invoke, :f :write, :value 193, :process 0, :time 182363191700}
{:type :ok, :f :write, :value 193, :process 0, :time 182374996200}
{:type :info, :f :stop, :process :nemesis, :time 203774835100}
{:type :info, :f :stop, :process :nemesis, :time 204476445000, :value :network-healed}
{:type :info, :f :log-packet-data, :process 6, :time 211479519700}
{:type :info, :f :log-packet-data, :process 6, :time 213612288400}
