{:type :info, :f :setup-packet-logging, :process 1, :time 5454392700}
{:type :info, :f :setup-packet-logging, :process 1, :time 7079138300}
{:type :info, :f :start, :process :nemesis, :time 14107994700}
{:type :invoke, :f :write, :value 120, :process 0, :time 16108347600}
{:type :ok, :f :write, :value 120, :process 0, :time 16123587500}
{:type :info, :f :start, :process :nemesis, :time 17497432200, :value [:isolated {"n2" #{"n5" "n4"}, "n1" #{"n5" "n4"}, "n5" #{"n2" "n1"}, "n4" #{"n2" "n1"}}]}
{:type :invoke, :f :read, :value nil, :process 6, :time 18109225100}
{:type :ok, :f :read, :value 120, :process 6, :time 19131667000}
{:type :invoke, :f :write, :value 192, :process 4, :time 20111851100}
{:type :ok, :f :write, :value 192, :process 4, :time 21122589500}
{:type :invoke, :f :write, :value 178, :process 2, :time 22112732700}
{:type :ok, :f :write, :value 178, :process 2, :time 23122034100}
{:type :invoke, :f :read, :value nil, :process 3, :time 24115396800}
{:type :ok, :f :read, :value 178, :process 3, :time 25125617700}
{:type :invoke, :f :write, :value 74, :process 0, :time 26117406700}
{:type :ok, :f :write, :value 74, :process 0, :time 26130323400}
{:type :invoke, :f :write, :value 104, :process 6, :time 28135739700}
{:type :ok, :f :write, :value 104, :process 6, :time 29146384800}
{:type :invoke, :f :read, :value nil, :process 4, :time 30136285000}
{:type :ok, :f :read, :value 104, :process 4, :time 31146306600}
{:type :invoke, :f :write, :value 45, :process 2, :time 32136701800}
{:type :ok, :f :write, :value 45, :process 2, :time 33148963800}
{:type :invoke, :f :write, :value 50, :process 3, :time 34138189900}
{:type :ok, :f :write, :value 50, :process 3, :time 35150570700}
{:type :invoke, :f :read, :value nil, :process 0, :time 36139222800}
{:type :ok, :f :read, :value 50, :process 0, :time 36151067100}
{:type :invoke, :f :write, :value 154, :process 6, :time 38153202300}
{:type :ok, :f :write, :value 154, :process 6, :time 39166310200}
{:type :invoke, :f :write, :value 20, :process 4, :time 40153617700}
{:type :ok, :f :write, :value 20, :process 4, :time 41163065400}
{:type :invoke, :f :read, :value nil, :process 2, :time 42155612900}
{:type :ok, :f :read, :value 20, :process 2, :time 43164557700}
{:type :invoke, :f :write, :value 148, :process 3, :time 44156788700}
{:type :ok, :f :write, :value 148, :process 3, :time 45165696100}
{:type :invoke, :f :write, :value 149, :process 0, :time 46157520400}
{:type :ok, :f :write, :value 149, :process 0, :time 46168787300}
{:type :invoke, :f :read, :value nil, :process 6, :time 48168453700}
{:type :ok, :f :read, :value 149, :process 6, :time 49177683500}
{:type :invoke, :f :write, :value 123, :process 4, :time 50169961000}
{:type :ok, :f :write, :value 123, :process 4, :time 51179153600}
{:type :invoke, :f :write, :value 132, :process 2, :time 52171266800}
{:type :ok, :f :write, :value 132, :process 2, :time 53182146000}
{:type :invoke, :f :read, :value nil, :process 3, :time 54172631800}
{:type :info, :f :stop, :process :nemesis, :time 54505104700}
{:type :ok, :f :read, :value 132, :process 3, :time 55183186600}
{:type :invoke, :f :write, :value 213, :process 0, :time 56175524900}
{:type :ok, :f :write, :value 213, :process 0, :time 56187949600}
{:type :invoke, :f :write, :value 142, :process 6, :time 58182725900}
{:type :ok, :f :write, :value 142, :process 6, :time 58191386700}
{:type :info, :f :stop, :process :nemesis, :time 58757685600, :value :network-healed}
{:type :invoke, :f :read, :value nil, :process 4, :time 60187710700}
{:type :ok, :f :read, :value 142, :process 4, :time 60195695000}
{:type :invoke, :f :write, :value 158, :process 2, :time 62188238000}
{:type :ok, :f :write, :value 158, :process 2, :time 62202086100}
{:type :invoke, :f :write, :value 180, :process 3, :time 64190001000}
{:type :ok, :f :write, :value 180, :process 3, :time 64213131800}
{:type :invoke, :f :read, :value nil, :process 0, :time 66192111400}
{:type :ok, :f :read, :value 180, :process 0, :time 66211366700}
{:type :invoke, :f :write, :value 104, :process 6, :time 68194377800}
{:type :ok, :f :write, :value 104, :process 6, :time 68204798600}
{:type :invoke, :f :write, :value 42, :process 4, :time 70195433100}
{:type :ok, :f :write, :value 42, :process 4, :time 70207216200}
{:type :invoke, :f :read, :value nil, :process 2, :time 72195867600}
{:type :ok, :f :read, :value 42, :process 2, :time 72206661000}
{:type :invoke, :f :write, :value 204, :process 3, :time 74196326200}
{:type :ok, :f :write, :value 204, :process 3, :time 74204723500}
{:type :invoke, :f :write, :value 165, :process 0, :time 76197829400}
{:type :ok, :f :write, :value 165, :process 0, :time 76207518500}
{:type :invoke, :f :read, :value nil, :process 6, :time 78199410800}
{:type :ok, :f :read, :value 165, :process 6, :time 78212473400}
{:type :invoke, :f :write, :value 188, :process 4, :time 80201377700}
{:type :ok, :f :write, :value 188, :process 4, :time 80220216100}
{:type :invoke, :f :write, :value 88, :process 2, :time 82204130400}
{:type :ok, :f :write, :value 88, :process 2, :time 82215172400}
{:type :invoke, :f :read, :value nil, :process 3, :time 84207406400}
{:type :ok, :f :read, :value 88, :process 3, :time 84216879200}
{:type :invoke, :f :write, :value 152, :process 0, :time 86207848200}
{:type :ok, :f :write, :value 152, :process 0, :time 86217855400}
{:type :invoke, :f :write, :value 188, :process 6, :time 88210288500}
{:type :ok, :f :write, :value 188, :process 6, :time 88221383000}
{:type :invoke, :f :read, :value nil, :process 4, :time 90211445400}
{:type :ok, :f :read, :value 188, :process 4, :time 90222704500}
{:type :invoke, :f :write, :value 120, :process 2, :time 92213072000}
{:type :ok, :f :write, :value 120, :process 2, :time 92224321000}
{:type :invoke, :f :write, :value 103, :process 3, :time 94213478000}
{:type :ok, :f :write, :value 103, :process 3, :time 94225335000}
{:type :info, :f :start, :process :nemesis, :time 95760920400}
{:type :invoke, :f :read, :value nil, :process 0, :time 96214379700}
{:type :ok, :f :read, :value 103, :process 0, :time 96223575900}
{:type :invoke, :f :write, :value 181, :process 6, :time 98215277800}
{:type :info, :f :start, :process :nemesis, :time 99135215200, :value [:isolated {"n2" #{"n5" "n4"}, "n1" #{"n5" "n4"}, "n5" #{"n2" "n1"}, "n4" #{"n2" "n1"}}]}
{:type :ok, :f :write, :value 181, :process 6, :time 99230719800}
{:type :invoke, :f :write, :value 63, :process 4, :time 100217484800}
{:type :ok, :f :write, :value 63, :process 4, :time 101229378300}
{:type :invoke, :f :read, :value nil, :process 2, :time 102218873300}
{:type :ok, :f :read, :value 63, :process 2, :time 103228871600}
{:type :invoke, :f :write, :value 218, :process 3, :time 104219411200}
{:type :ok, :f :write, :value 218, :process 3, :time 105227479700}
{:type :invoke, :f :write, :value 191, :process 0, :time 106220710400}
{:type :ok, :f :write, :value 191, :process 0, :time 106227903600}
{:type :invoke, :f :read, :value nil, :process 6, :time 108232902500}
{:type :ok, :f :read, :value 191, :process 6, :time 109245169200}
{:type :invoke, :f :write, :value 24, :process 4, :time 110233934300}
{:type :ok, :f :write, :value 24, :process 4, :time 111242125500}
{:type :invoke, :f :write, :value 54, :process 2, :time 112235170000}
{:type :ok, :f :write, :value 54, :process 2, :time 113245085400}
{:type :invoke, :f :read, :value nil, :process 3, :time 114236109300}
{:type :ok, :f :read, :value 54, :process 3, :time 115245877700}
{:type :invoke, :f :write, :value 155, :process 0, :time 116237098100}
{:type :ok, :f :write, :value 155, :process 0, :time 116244475300}
{:type :invoke, :f :write, :value 126, :process 6, :time 118251689600}
{:type :ok, :f :write, :value 126, :process 6, :time 119262940200}
{:type :invoke, :f :read, :value nil, :process 4, :time 120251950600}
{:type :ok, :f :read, :value 126, :process 4, :time 121260892900}
{:type :invoke, :f :write, :value 106, :process 2, :time 122254085400}
{:type :ok, :f :write, :value 106, :process 2, :time 123265399800}
{:type :invoke, :f :write, :value 85, :process 3, :time 124255195700}
{:type :ok, :f :write, :value 85, :process 3, :time 125261574400}
{:type :invoke, :f :read, :value nil, :process 0, :time 126256415100}
{:type :ok, :f :read, :value 85, :process 0, :time 126264020300}
{:type :invoke, :f :write, :value 197, :process 6, :time 128266685500}
{:type :ok, :f :write, :value 197, :process 6, :time 129278188300}
{:type :invoke, :f :write, :value 192, :process 4, :time 130268064700}
{:type :ok, :f :write, :value 192, :process 4, :time 131278884700}
{:type :invoke, :f :read, :value nil, :process 2, :time 132268711100}
{:type :ok, :f :read, :value 192, :process 2, :time 133283593200}
{:type :invoke, :f :write, :value 43, :process 3, :time 134270350200}
{:type :ok, :f :write, :value 43, :process 3, :time 135280064300}
{:type :info, :f :stop, :process :nemesis, :time 136139419100}
{:type :invoke, :f :write, :value 146, :process 0, :time 136271897500}
{:type :ok, :f :write, :value 146, :process 0, :time 136279197700}
{:type :invoke, :f :read, :value nil, :process 6, :time 138283022300}
{:type :info, :f :read, :value nil, :process 6, :time 139841610800, :error "indeterminate: EOF while reading"}
{:type :info, :f :stop, :process :nemesis, :time 139980634300, :value :network-healed}
{:type :invoke, :f :write, :value 179, :process 4, :time 140283608600}
{:type :ok, :f :write, :value 179, :process 4, :time 140292653600}
{:type :invoke, :f :write, :value 203, :process 2, :time 142286347600}
{:type :ok, :f :write, :value 203, :process 2, :time 142295160200}
{:type :invoke, :f :read, :value nil, :process 3, :time 144287384200}
{:type :ok, :f :read, :value 203, :process 3, :time 144300544100}
{:type :invoke, :f :write, :value 179, :process 0, :time 146290134300}
{:type :ok, :f :write, :value 179, :process 0, :time 146304155800}
{:type :invoke, :f :write, :value 155, :process 11, :time 148852632300}
{:type :ok, :f :write, :value 155, :process 11, :time 148861002700}
{:type :invoke, :f :read, :value nil, :process 4, :time 150853023900}
{:type :ok, :f :read, :value 155, :process 4, :time 150861994900}
{:type :invoke, :f :write, :value 127, :process 2, :time 152853598300}
{:type :ok, :f :write, :value 127, :process 2, :time 152862550500}
{:type :invoke, :f :write, :value 153, :process 3, :time 154855211500}
{:type :ok, :f :write, :value 153, :process 3, :time 154866749800}
{:type :invoke, :f :read, :value nil, :process 0, :time 156857145200}
{:type :ok, :f :read, :value 153, :process 0, :time 156866660700}
{:type :invoke, :f :write, :value 179, :process 11, :time 158857864600}
{:type :ok, :f :write, :value 179, :process 11, :time 158866536200}
{:type :invoke, :f :write, :value 195, :process 4, :time 160861805700}
{:type :ok, :f :write, :value 195, :process 4, :time 160870914100}
{:type :invoke, :f :read, :value nil, :process 2, :time 162863435200}
{:type :ok, :f :read, :value 195, :process 2, :time 162875495900}
{:type :invoke, :f :write, :value 27, :process 3, :time 164866581400}
{:type :ok, :f :write, :value 27, :process 3, :time 164879068200}
{:type :invoke, :f :write, :value 56, :process 0, :time 166867263900}
{:type :ok, :f :write, :value 56, :process 0, :time 166873449500}
{:type :invoke, :f :read, :value nil, :process 11, :time 168867668700}
{:type :ok, :f :read, :value 56, :process 11, :time 168874587200}
{:type :invoke, :f :write, :value 125, :process 4, :time 170868402400}
{:type :ok, :f :write, :value 125, :process 4, :time 170880705200}
{:type :invoke, :f :write, :value 102, :process 2, :time 172869459700}
{:type :ok, :f :write, :value 102, :process 2, :time 172877061700}
{:type :invoke, :f :read, :value nil, :process 3, :time 174870884400}
{:type :ok, :f :read, :value 102, :process 3, :time 174888056400}
{:type :invoke, :f :write, :value 154, :process 0, :time 176873155000}
{:type :ok, :f :write, :value 154, :process 0, :time 176880193400}
{:type :info, :f :start, :process :nemesis, :time 176986703200}
{:type :invoke, :f :write, :value 181, :process 11, :time 178873775000}
{:type :ok, :f :write, :value 181, :process 11, :time 179895993600}
{:type :invoke, :f :read, :value nil, :process 4, :time 180876155800}
{:type :ok, :f :read, :value 181, :process 4, :time 181888352100}
{:type :invoke, :f :write, :value 197, :process 2, :time 182877457400}
{:type :info, :f :start, :process :nemesis, :time 182970329000, :value [:isolated {"n2" #{"n5" "n4"}, "n1" #{"n5" "n4"}, "n5" #{"n2" "n1"}, "n4" #{"n2" "n1"}}]}
{:type :ok, :f :write, :value 197, :process 2, :time 183889129500}
{:type :invoke, :f :write, :value 203, :process 3, :time 184878008300}
{:type :ok, :f :write, :value 203, :process 3, :time 185889400300}
{:type :info, :f :log-packet-data, :process 11, :time 192892488800}
{:type :info, :f :log-packet-data, :process 11, :time 194028860000}
