{:type :info, :f :setup-packet-logging, :process 1, :time 5446645700}
{:type :info, :f :setup-packet-logging, :process 1, :time 7064002500}
{:type :info, :f :start, :process :nemesis, :time 14086563900}
{:type :info, :f :start, :process :nemesis, :time 14704632800, :value [:isolated {"n2" #{"n5" "n4"}, "n1" #{"n5" "n4"}, "n5" #{"n2" "n1"}, "n4" #{"n2" "n1"}}]}
{:type :invoke, :f :write, :value 120, :process 4, :time 16086219400}
{:type :ok, :f :write, :value 120, :process 4, :time 16186554500}
{:type :invoke, :f :read, :value nil, :process 6, :time 18086974400}
{:type :ok, :f :read, :value 120, :process 6, :time 18205474400}
{:type :invoke, :f :write, :value 120, :process 2, :time 20088874300}
{:type :ok, :f :write, :value 120, :process 2, :time 20201978200}
{:type :invoke, :f :write, :value 80, :process 0, :time 22089493700}
{:type :ok, :f :write, :value 80, :process 0, :time 22112983200}
{:type :invoke, :f :read, :value nil, :process 3, :time 24095249700}
{:type :ok, :f :read, :value 80, :process 3, :time 24208641800}
{:type :invoke, :f :write, :value 79, :process 4, :time 26097012600}
{:type :ok, :f :write, :value 79, :process 4, :time 26206145900}
{:type :invoke, :f :write, :value 184, :process 6, :time 28097754600}
{:type :ok, :f :write, :value 184, :process 6, :time 28205431000}
{:type :invoke, :f :read, :value nil, :process 2, :time 30100278100}
{:type :ok, :f :read, :value 184, :process 2, :time 30202612200}
{:type :invoke, :f :write, :value 49, :process 0, :time 32101538800}
{:type :ok, :f :write, :value 49, :process 0, :time 32117871800}
{:type :invoke, :f :write, :value 161, :process 3, :time 34104406200}
{:type :ok, :f :write, :value 161, :process 3, :time 34310329700}
{:type :invoke, :f :read, :value nil, :process 4, :time 36114802700}
{:type :ok, :f :read, :value 161, :process 4, :time 36222863800}
{:type :invoke, :f :write, :value 40, :process 6, :time 38116770100}
{:type :ok, :f :write, :value 40, :process 6, :time 38228819600}
{:type :invoke, :f :write, :value 102, :process 2, :time 40127860800}
{:type :ok, :f :write, :value 102, :process 2, :time 40275630200}
{:type :invoke, :f :read, :value nil, :process 0, :time 42128846500}
{:type :ok, :f :read, :value 102, :process 0, :time 42145030600}
{:type :invoke, :f :write, :value 80, :process 3, :time 44129496800}
{:type :ok, :f :write, :value 80, :process 3, :time 44234363600}
{:type :invoke, :f :write, :value 153, :process 4, :time 46131393900}
{:type :ok, :f :write, :value 153, :process 4, :time 46251244400}
{:type :invoke, :f :read, :value nil, :process 6, :time 48132470300}
{:type :ok, :f :read, :value 153, :process 6, :time 48247116400}
{:type :invoke, :f :write, :value 115, :process 2, :time 50134078900}
{:type :ok, :f :write, :value 115, :process 2, :time 50255646100}
{:type :info, :f :stop, :process :nemesis, :time 51713997000}
{:type :invoke, :f :write, :value 82, :process 0, :time 52134704700}
{:type :ok, :f :write, :value 82, :process 0, :time 52169076600}
{:type :info, :f :stop, :process :nemesis, :time 52580666900, :value :network-healed}
{:type :invoke, :f :read, :value nil, :process 3, :time 54135413100}
{:type :ok, :f :read, :value 82, :process 3, :time 54150120600}
{:type :invoke, :f :write, :value 157, :process 4, :time 56140063700}
{:type :ok, :f :write, :value 157, :process 4, :time 56152182900}
{:type :invoke, :f :write, :value 155, :process 6, :time 58141344400}
{:type :ok, :f :write, :value 155, :process 6, :time 58153756500}
{:type :invoke, :f :read, :value nil, :process 2, :time 60143092000}
{:type :ok, :f :read, :value 155, :process 2, :time 60164874600}
{:type :invoke, :f :write, :value 53, :process 0, :time 62144228600}
{:type :ok, :f :write, :value 53, :process 0, :time 62151565200}
{:type :invoke, :f :write, :value 158, :process 3, :time 64146363900}
{:type :ok, :f :write, :value 158, :process 3, :time 64184017500}
{:type :invoke, :f :read, :value nil, :process 4, :time 66146782600}
{:type :ok, :f :read, :value 158, :process 4, :time 66156461700}
{:type :invoke, :f :write, :value 152, :process 6, :time 68147480900}
{:type :ok, :f :write, :value 152, :process 6, :time 68168321500}
{:type :invoke, :f :write, :value 101, :process 2, :time 70151644900}
{:type :ok, :f :write, :value 101, :process 2, :time 70159778800}
{:type :invoke, :f :read, :value nil, :process 0, :time 72152562100}
{:type :ok, :f :read, :value 101, :process 0, :time 72160853800}
{:type :invoke, :f :write, :value 200, :process 3, :time 74153693100}
{:type :ok, :f :write, :value 200, :process 3, :time 74164947500}
{:type :invoke, :f :write, :value 33, :process 4, :time 76154018900}
{:type :ok, :f :write, :value 33, :process 4, :time 76160009700}
{:type :invoke, :f :read, :value nil, :process 6, :time 78154720700}
{:type :ok, :f :read, :value 33, :process 6, :time 78163835000}
{:type :invoke, :f :write, :value 86, :process 2, :time 80155052300}
{:type :ok, :f :write, :value 86, :process 2, :time 80163197100}
{:type :invoke, :f :write, :value 152, :process 0, :time 82155485000}
{:type :ok, :f :write, :value 152, :process 0, :time 82169491000}
{:type :invoke, :f :read, :value nil, :process 3, :time 84160750500}
{:type :ok, :f :read, :value 152, :process 3, :time 84169399800}
{:type :invoke, :f :write, :value 161, :process 4, :time 86161784200}
{:type :ok, :f :write, :value 161, :process 4, :time 86170540400}
{:type :invoke, :f :write, :value 88, :process 6, :time 88162489300}
{:type :ok, :f :write, :value 88, :process 6, :time 88169878100}
{:type :info, :f :start, :process :nemesis, :time 89586350400}
{:type :invoke, :f :read, :value nil, :process 2, :time 90166599600}
{:type :ok, :f :read, :value 88, :process 2, :time 90195578300}
{:type :invoke, :f :write, :value 46, :process 0, :time 92167411200}
{:type :ok, :f :write, :value 46, :process 0, :time 92181241900}
{:type :info, :f :start, :process :nemesis, :time 92578450600, :value [:isolated {"n2" #{"n5" "n4"}, "n1" #{"n5" "n4"}, "n5" #{"n2" "n1"}, "n4" #{"n2" "n1"}}]}
{:type :invoke, :f :write, :value 126, :process 3, :time 94168188100}
{:type :ok, :f :write, :value 126, :process 3, :time 94271157600}
{:type :invoke, :f :read, :value nil, :process 4, :time 96170417600}
{:type :ok, :f :read, :value 126, :process 4, :time 96285370200}
{:type :invoke, :f :write, :value 140, :process 6, :time 98171150700}
{:type :ok, :f :write, :value 140, :process 6, :time 98296694100}
{:type :invoke, :f :write, :value 120, :process 2, :time 100171849200}
{:type :ok, :f :write, :value 120, :process 2, :time 100293776100}
{:type :invoke, :f :read, :value nil, :process 0, :time 102173523700}
{:type :ok, :f :read, :value 120, :process 0, :time 102184886200}
{:type :invoke, :f :write, :value 66, :process 3, :time 104174250900}
{:type :ok, :f :write, :value 66, :process 3, :time 104268063000}
{:type :invoke, :f :write, :value 154, :process 4, :time 106174635400}
{:type :ok, :f :write, :value 154, :process 4, :time 106287698200}
{:type :invoke, :f :read, :value nil, :process 6, :time 108175825500}
{:type :ok, :f :read, :value 154, :process 6, :time 108298574100}
{:type :invoke, :f :write, :value 39, :process 2, :time 110177413700}
{:type :ok, :f :write, :value 39, :process 2, :time 110291512200}
{:type :invoke, :f :write, :value 157, :process 0, :time 112177852600}
{:type :ok, :f :write, :value 157, :process 0, :time 112187717300}
{:type :invoke, :f :read, :value nil, :process 3, :time 114179839200}
{:type :ok, :f :read, :value 157, :process 3, :time 114292258300}
{:type :invoke, :f :write, :value 140, :process 4, :time 116181493900}
{:type :ok, :f :write, :value 140, :process 4, :time 116321043300}
{:type :invoke, :f :write, :value 117, :process 6, :time 118182431400}
{:type :ok, :f :write, :value 117, :process 6, :time 118285534500}
{:type :invoke, :f :read, :value nil, :process 2, :time 120185197600}
{:type :ok, :f :read, :value 117, :process 2, :time 120296710600}
{:type :invoke, :f :write, :value 69, :process 0, :time 122187097500}
{:type :ok, :f :write, :value 69, :process 0, :time 122194009000}
{:type :invoke, :f :write, :value 90, :process 3, :time 124189579300}
{:type :ok, :f :write, :value 90, :process 3, :time 124290416800}
{:type :invoke, :f :read, :value nil, :process 4, :time 126191083700}
{:type :ok, :f :read, :value 90, :process 4, :time 126330562000}
{:type :invoke, :f :write, :value 45, :process 6, :time 128191599800}
{:type :ok, :f :write, :value 45, :process 6, :time 128311057100}
{:type :info, :f :stop, :process :nemesis, :time 129581502500}
{:type :invoke, :f :write, :value 42, :process 2, :time 130194194800}
{:type :ok, :f :write, :value 42, :process 2, :time 130216283800}
{:type :info, :f :stop, :process :nemesis, :time 130265889100, :value :network-healed}
{:type :invoke, :f :read, :value nil, :process 0, :time 132196470800}
{:type :ok, :f :read, :value 42, :process 0, :time 132208055700}
{:type :invoke, :f :write, :value 158, :process 3, :time 134196803400}
{:type :ok, :f :write, :value 158, :process 3, :time 134205895500}
{:type :invoke, :f :write, :value 68, :process 4, :time 136197148900}
{:type :ok, :f :write, :value 68, :process 4, :time 136206016500}
{:type :invoke, :f :read, :value nil, :process 6, :time 138200430300}
{:type :ok, :f :read, :value 68, :process 6, :time 138208339500}
{:type :invoke, :f :write, :value 135, :process 2, :time 140200926000}
{:type :ok, :f :write, :value 135, :process 2, :time 140217688000}
{:type :invoke, :f :write, :value 157, :process 0, :time 142201567000}
{:type :ok, :f :write, :value 157, :process 0, :time 142210607600}
{:type :invoke, :f :read, :value nil, :process 3, :time 144206317100}
{:type :ok, :f :read, :value 157, :process 3, :time 144266468300}
{:type :invoke, :f :write, :value 196, :process 4, :time 146208628700}
{:type :ok, :f :write, :value 196, :process 4, :time 146220172700}
{:type :invoke, :f :write, :value 33, :process 6, :time 148209356400}
{:type :ok, :f :write, :value 33, :process 6, :time 148216867700}
{:type :invoke, :f :read, :value nil, :process 2, :time 150210222500}
{:type :ok, :f :read, :value 33, :process 2, :time 150217926900}
{:type :invoke, :f :write, :value 216, :process 0, :time 152211023800}
{:type :ok, :f :write, :value 216, :process 0, :time 152220578600}
{:type :invoke, :f :write, :value 135, :process 3, :time 154211394100}
{:type :ok, :f :write, :value 135, :process 3, :time 154236329200}
{:type :invoke, :f :read, :value nil, :process 4, :time 156215568600}
{:type :ok, :f :read, :value 135, :process 4, :time 156243253500}
{:type :invoke, :f :write, :value 158, :process 6, :time 158216452800}
{:type :ok, :f :write, :value 158, :process 6, :time 158227002100}
{:type :invoke, :f :write, :value 219, :process 2, :time 160217303500}
{:type :ok, :f :write, :value 219, :process 2, :time 160224666500}
{:type :invoke, :f :read, :value nil, :process 0, :time 162217680900}
{:type :ok, :f :read, :value 219, :process 0, :time 162224684200}
{:type :invoke, :f :write, :value 151, :process 3, :time 164218601000}
{:type :ok, :f :write, :value 151, :process 3, :time 164228970600}
{:type :invoke, :f :write, :value 187, :process 4, :time 166219037200}
{:type :ok, :f :write, :value 187, :process 4, :time 166231940600}
{:type :info, :f :start, :process :nemesis, :time 167273865300}
{:type :invoke, :f :read, :value nil, :process 6, :time 168220298600}
{:type :ok, :f :read, :value 187, :process 6, :time 168226837400}
{:type :invoke, :f :write, :value 196, :process 2, :time 170221410400}
{:type :info, :f :start, :process :nemesis, :time 170307034300, :value [:isolated {"n2" #{"n5" "n4"}, "n1" #{"n5" "n4"}, "n5" #{"n2" "n1"}, "n4" #{"n2" "n1"}}]}
{:type :ok, :f :write, :value 196, :process 2, :time 170333833200}
{:type :invoke, :f :write, :value 109, :process 0, :time 172222006000}
{:type :ok, :f :write, :value 109, :process 0, :time 172231165900}
{:type :invoke, :f :read, :value nil, :process 3, :time 174222758800}
{:type :ok, :f :read, :value 109, :process 3, :time 174334734900}
{:type :invoke, :f :write, :value 160, :process 4, :time 176223304600}
{:type :ok, :f :write, :value 160, :process 4, :time 176335097000}
{:type :invoke, :f :write, :value 61, :process 6, :time 178224869300}
{:type :ok, :f :write, :value 61, :process 6, :time 178329657000}
{:type :invoke, :f :read, :value nil, :process 2, :time 180226569700}
{:type :ok, :f :read, :value 61, :process 2, :time 180350772500}
{:type :invoke, :f :write, :value 195, :process 0, :time 182228260700}
{:type :ok, :f :write, :value 195, :process 0, :time 182238930800}
{:type :info, :f :stop, :process :nemesis, :time 207312528100}
{:type :info, :f :stop, :process :nemesis, :time 210451699600, :value :network-healed}
{:type :info, :f :log-packet-data, :process 6, :time 217454903600}
{:type :info, :f :log-packet-data, :process 6, :time 219601674200}
