{:type :info, :f :setup-packet-logging, :process 1, :time 5290949800}
{:type :info, :f :setup-packet-logging, :process 1, :time 6892048300}
{:type :invoke, :f :write, :value 120, :process 4, :time 15913793500}
{:type :ok, :f :write, :value 120, :process 4, :time 15933207700}
{:type :invoke, :f :read, :value nil, :process 3, :time 17914496000}
{:type :ok, :f :read, :value 120, :process 3, :time 17931479900}
{:type :invoke, :f :write, :value 196, :process 6, :time 19915672900}
{:type :ok, :f :write, :value 196, :process 6, :time 19930961300}
{:type :invoke, :f :write, :value 198, :process 2, :time 21917438600}
{:type :ok, :f :write, :value 198, :process 2, :time 21928790200}
{:type :invoke, :f :read, :value nil, :process 0, :time 23918949000}
{:type :ok, :f :read, :value 198, :process 0, :time 23929914800}
{:type :invoke, :f :write, :value 155, :process 4, :time 25921878800}
{:type :ok, :f :write, :value 155, :process 4, :time 25930901100}
{:type :invoke, :f :write, :value 136, :process 3, :time 27922785200}
{:type :ok, :f :write, :value 136, :process 3, :time 27933823300}
{:type :invoke, :f :read, :value nil, :process 6, :time 29923376800}
{:type :ok, :f :read, :value 136, :process 6, :time 29935583500}
{:type :invoke, :f :write, :value 47, :process 2, :time 31925490800}
{:type :ok, :f :write, :value 47, :process 2, :time 31932476600}
{:type :invoke, :f :write, :value 126, :process 0, :time 33926663000}
{:type :ok, :f :write, :value 126, :process 0, :time 33934148400}
{:type :invoke, :f :read, :value nil, :process 4, :time 35927420200}
{:type :ok, :f :read, :value 126, :process 4, :time 35937372900}
{:type :invoke, :f :write, :value 73, :process 3, :time 37928939100}
{:type :ok, :f :write, :value 73, :process 3, :time 37939142400}
{:type :invoke, :f :write, :value 145, :process 6, :time 39930412900}
{:type :ok, :f :write, :value 145, :process 6, :time 39942826200}
{:type :invoke, :f :read, :value nil, :process 2, :time 41931411800}
{:type :ok, :f :read, :value 145, :process 2, :time 41940267200}
{:type :info, :f :start, :process :nemesis, :time 43914622900}
{:type :invoke, :f :write, :value 183, :process 0, :time 43932105000}
{:type :ok, :f :write, :value 183, :process 0, :time 43948244000}
{:type :info, :f :start, :process :nemesis, :time 44082465100, :value [:isolated {"n2" #{"n5" "n4"}, "n1" #{"n5" "n4"}, "n5" #{"n2" "n1"}, "n4" #{"n2" "n1"}}]}
{:type :invoke, :f :write, :value 158, :process 4, :time 45932666200}
{:type :ok, :f :write, :value 158, :process 4, :time 45944111900}
{:type :invoke, :f :read, :value nil, :process 3, :time 47934150100}
{:type :ok, :f :read, :value 158, :process 3, :time 47942751500}
{:type :invoke, :f :write, :value 116, :process 6, :time 49934469700}
{:type :ok, :f :write, :value 116, :process 6, :time 49948402600}
{:type :invoke, :f :write, :value 204, :process 2, :time 51935269000}
{:type :ok, :f :write, :value 204, :process 2, :time 51946240800}
{:type :invoke, :f :read, :value nil, :process 0, :time 53935590700}
{:type :ok, :f :read, :value 204, :process 0, :time 53942347300}
{:type :invoke, :f :write, :value 38, :process 4, :time 55936932300}
{:type :ok, :f :write, :value 38, :process 4, :time 55952120900}
{:type :invoke, :f :write, :value 159, :process 3, :time 57939490800}
{:type :ok, :f :write, :value 159, :process 3, :time 57951292200}
{:type :invoke, :f :read, :value nil, :process 6, :time 59943317300}
{:type :ok, :f :read, :value 159, :process 6, :time 59962511700}
{:type :invoke, :f :write, :value 70, :process 2, :time 61945273800}
{:type :ok, :f :write, :value 70, :process 2, :time 61956805700}
{:type :invoke, :f :write, :value 97, :process 0, :time 63946680100}
{:type :ok, :f :write, :value 97, :process 0, :time 63956537700}
{:type :invoke, :f :read, :value nil, :process 4, :time 65947244600}
{:type :ok, :f :read, :value 97, :process 4, :time 65955231900}
{:type :invoke, :f :write, :value 21, :process 3, :time 67948470900}
{:type :ok, :f :write, :value 21, :process 3, :time 67961004000}
{:type :invoke, :f :write, :value 150, :process 6, :time 69950074100}
{:type :ok, :f :write, :value 150, :process 6, :time 69960871400}
{:type :invoke, :f :read, :value nil, :process 2, :time 71951088500}
{:type :ok, :f :read, :value 150, :process 2, :time 71967942300}
{:type :invoke, :f :write, :value 118, :process 0, :time 73951972200}
{:type :ok, :f :write, :value 118, :process 0, :time 73962746100}
{:type :invoke, :f :write, :value 100, :process 4, :time 75952749200}
{:type :ok, :f :write, :value 100, :process 4, :time 75963350100}
{:type :invoke, :f :read, :value nil, :process 3, :time 77953546000}
{:type :ok, :f :read, :value 100, :process 3, :time 77964068400}
{:type :invoke, :f :write, :value 177, :process 6, :time 79954805700}
{:type :ok, :f :write, :value 177, :process 6, :time 79964574000}
{:type :info, :f :stop, :process :nemesis, :time 81090523800}
{:type :info, :f :stop, :process :nemesis, :time 81342185900, :value :network-healed}
{:type :invoke, :f :write, :value 210, :process 2, :time 81955828700}
{:type :ok, :f :write, :value 210, :process 2, :time 81965574000}
{:type :invoke, :f :read, :value nil, :process 0, :time 83956186500}
{:type :ok, :f :read, :value 210, :process 0, :time 83966575600}
{:type :invoke, :f :write, :value 23, :process 4, :time 85957515100}
{:type :ok, :f :write, :value 23, :process 4, :time 85969594200}
{:type :invoke, :f :write, :value 88, :process 3, :time 87957893000}
{:type :ok, :f :write, :value 88, :process 3, :time 87970336700}
{:type :invoke, :f :read, :value nil, :process 6, :time 89959728800}
{:type :ok, :f :read, :value 88, :process 6, :time 89968887600}
{:type :invoke, :f :write, :value 60, :process 2, :time 91960644900}
{:type :ok, :f :write, :value 60, :process 2, :time 91971647300}
{:type :invoke, :f :write, :value 132, :process 0, :time 93962495800}
{:type :ok, :f :write, :value 132, :process 0, :time 93972532100}
{:type :invoke, :f :read, :value nil, :process 4, :time 95963872100}
{:type :ok, :f :read, :value 132, :process 4, :time 95974256800}
{:type :invoke, :f :write, :value 182, :process 3, :time 97964851100}
{:type :ok, :f :write, :value 182, :process 3, :time 97976684200}
{:type :invoke, :f :write, :value 130, :process 6, :time 99965435300}
{:type :ok, :f :write, :value 130, :process 6, :time 99975070200}
{:type :invoke, :f :read, :value nil, :process 2, :time 101966659800}
{:type :ok, :f :read, :value 130, :process 2, :time 101978061500}
{:type :invoke, :f :write, :value 73, :process 0, :time 103967380400}
{:type :ok, :f :write, :value 73, :process 0, :time 103977580300}
{:type :invoke, :f :write, :value 196, :process 4, :time 105968970500}
{:type :ok, :f :write, :value 196, :process 4, :time 105978081800}
{:type :invoke, :f :read, :value nil, :process 3, :time 107970607000}
{:type :ok, :f :read, :value 196, :process 3, :time 107981262600}
{:type :invoke, :f :write, :value 94, :process 6, :time 109972059200}
{:type :ok, :f :write, :value 94, :process 6, :time 109978931400}
{:type :invoke, :f :write, :value 37, :process 2, :time 111972952400}
{:type :ok, :f :write, :value 37, :process 2, :time 111984092400}
{:type :invoke, :f :read, :value nil, :process 0, :time 113975948900}
{:type :ok, :f :read, :value 37, :process 0, :time 113990207200}
{:type :invoke, :f :write, :value 157, :process 4, :time 115977150900}
{:type :ok, :f :write, :value 157, :process 4, :time 115982717300}
{:type :invoke, :f :write, :value 22, :process 3, :time 117978894300}
{:type :ok, :f :write, :value 22, :process 3, :time 117991001500}
{:type :info, :f :start, :process :nemesis, :time 118346609600}
{:type :info, :f :start, :process :nemesis, :time 118464729400, :value [:isolated {"n2" #{"n5" "n4"}, "n1" #{"n5" "n4"}, "n5" #{"n2" "n1"}, "n4" #{"n2" "n1"}}]}
{:type :invoke, :f :read, :value nil, :process 6, :time 119981386200}
{:type :ok, :f :read, :value 22, :process 6, :time 119989597800}
{:type :invoke, :f :write, :value 102, :process 2, :time 121982467500}
{:type :ok, :f :write, :value 102, :process 2, :time 121991238400}
{:type :invoke, :f :write, :value 145, :process 0, :time 123983665200}
{:type :ok, :f :write, :value 145, :process 0, :time 123993777800}
{:type :invoke, :f :read, :value nil, :process 4, :time 125986779400}
{:type :ok, :f :read, :value 145, :process 4, :time 125998363700}
{:type :invoke, :f :write, :value 37, :process 3, :time 127989841900}
{:type :ok, :f :write, :value 37, :process 3, :time 128005172400}
{:type :invoke, :f :write, :value 214, :process 6, :time 129992727400}
{:type :ok, :f :write, :value 214, :process 6, :time 130003194200}
{:type :invoke, :f :read, :value nil, :process 2, :time 131993618600}
{:type :ok, :f :read, :value 214, :process 2, :time 132004226300}
{:type :invoke, :f :write, :value 147, :process 0, :time 133994837800}
{:type :ok, :f :write, :value 147, :process 0, :time 134001870600}
{:type :invoke, :f :write, :value 26, :process 4, :time 135996605100}
{:type :ok, :f :write, :value 26, :process 4, :time 136009671700}
{:type :invoke, :f :read, :value nil, :process 3, :time 137998613300}
{:type :ok, :f :read, :value 26, :process 3, :time 138009623100}
{:type :invoke, :f :write, :value 20, :process 6, :time 139999130500}
{:type :ok, :f :write, :value 20, :process 6, :time 140008338000}
{:type :invoke, :f :write, :value 216, :process 2, :time 142001421600}
{:type :ok, :f :write, :value 216, :process 2, :time 142019833700}
{:type :invoke, :f :read, :value nil, :process 0, :time 144002674800}
{:type :ok, :f :read, :value 216, :process 0, :time 144016959600}
{:type :invoke, :f :write, :value 199, :process 4, :time 146004288500}
{:type :ok, :f :write, :value 199, :process 4, :time 146012390900}
{:type :invoke, :f :write, :value 197, :process 3, :time 148005058700}
{:type :ok, :f :write, :value 197, :process 3, :time 148014544000}
{:type :invoke, :f :read, :value nil, :process 6, :time 150006450000}
{:type :ok, :f :read, :value 197, :process 6, :time 150023821300}
{:type :invoke, :f :write, :value 154, :process 2, :time 152007701400}
{:type :ok, :f :write, :value 154, :process 2, :time 152014818500}
{:type :invoke, :f :write, :value 71, :process 0, :time 154009420500}
{:type :ok, :f :write, :value 71, :process 0, :time 154025179600}
{:type :info, :f :stop, :process :nemesis, :time 155471568400}
{:type :info, :f :stop, :process :nemesis, :time 155718007400, :value :network-healed}
{:type :invoke, :f :read, :value nil, :process 4, :time 156012267000}
{:type :ok, :f :read, :value 71, :process 4, :time 156023897700}
{:type :invoke, :f :write, :value 116, :process 3, :time 158013667400}
{:type :ok, :f :write, :value 116, :process 3, :time 158022178200}
{:type :invoke, :f :write, :value 198, :process 6, :time 160015351600}
{:type :ok, :f :write, :value 198, :process 6, :time 160023892700}
{:type :invoke, :f :read, :value nil, :process 2, :time 162016264300}
{:type :ok, :f :read, :value 198, :process 2, :time 162024508800}
{:type :invoke, :f :write, :value 86, :process 0, :time 164018667300}
{:type :ok, :f :write, :value 86, :process 0, :time 164025028400}
{:type :invoke, :f :write, :value 185, :process 4, :time 166019077300}
{:type :ok, :f :write, :value 185, :process 4, :time 166029047000}
{:type :invoke, :f :read, :value nil, :process 3, :time 168019634600}
{:type :ok, :f :read, :value 185, :process 3, :time 168027164500}
{:type :invoke, :f :write, :value 31, :process 6, :time 170021027300}
{:type :ok, :f :write, :value 31, :process 6, :time 170030930400}
{:type :invoke, :f :write, :value 104, :process 2, :time 172022264600}
{:type :ok, :f :write, :value 104, :process 2, :time 172031984300}
{:type :invoke, :f :read, :value nil, :process 0, :time 174022602100}
{:type :ok, :f :read, :value 104, :process 0, :time 174030530000}
{:type :invoke, :f :write, :value 219, :process 4, :time 176023511100}
{:type :ok, :f :write, :value 219, :process 4, :time 176042024200}
{:type :invoke, :f :write, :value 197, :process 3, :time 178025666000}
{:type :ok, :f :write, :value 197, :process 3, :time 178035264200}
{:type :invoke, :f :read, :value nil, :process 6, :time 180026078700}
{:type :ok, :f :read, :value 197, :process 6, :time 180037558600}
{:type :invoke, :f :write, :value 52, :process 2, :time 182027783200}
{:type :ok, :f :write, :value 52, :process 2, :time 182034868400}
{:type :invoke, :f :write, :value 139, :process 0, :time 184029716500}
{:type :ok, :f :write, :value 139, :process 0, :time 184037729200}
{:type :info, :f :start, :process :nemesis, :time 192727231000}
{:type :info, :f :start, :process :nemesis, :time 192851121200, :value [:isolated {"n2" #{"n5" "n4"}, "n1" #{"n5" "n4"}, "n5" #{"n2" "n1"}, "n4" #{"n2" "n1"}}]}
{:type :info, :f :log-packet-data, :process 6, :time 199855980100}
{:type :info, :f :log-packet-data, :process 6, :time 199997051200}
