{:type :info, :f :setup-packet-logging, :process 1, :time 5218863000}
{:type :info, :f :setup-packet-logging, :process 1, :time 6832992700}
{:type :info, :f :start, :process :nemesis, :time 13869956200}
{:type :invoke, :f :write, :value 120, :process 0, :time 15869596600}
{:type :ok, :f :write, :value 120, :process 0, :time 15898080800}
{:type :info, :f :start, :process :nemesis, :time 16235047900}
{:type :invoke, :f :read, :value nil, :process 6, :time 17872642700}
{:type :ok, :f :read, :value 120, :process 6, :time 18872993500}
{:type :invoke, :f :write, :value 20, :process 3, :time 19875393700}
{:type :ok, :f :write, :value 20, :process 3, :time 20857018200}
{:type :invoke, :f :write, :value 67, :process 4, :time 21876666000}
{:type :ok, :f :write, :value 67, :process 4, :time 22872480700}
{:type :invoke, :f :read, :value nil, :process 2, :time 23878586300}
{:type :ok, :f :read, :value 67, :process 2, :time 24904652500}
{:type :invoke, :f :write, :value 204, :process 0, :time 25879235800}
{:type :ok, :f :write, :value 204, :process 0, :time 25889245200}
{:type :invoke, :f :write, :value 64, :process 6, :time 27880031600}
{:type :ok, :f :write, :value 64, :process 6, :time 29012987500}
{:type :invoke, :f :read, :value nil, :process 3, :time 29881938300}
{:type :ok, :f :read, :value 64, :process 3, :time 30966130900}
{:type :invoke, :f :write, :value 73, :process 4, :time 31883898100}
{:type :ok, :f :write, :value 73, :process 4, :time 32945056700}
{:type :invoke, :f :write, :value 187, :process 2, :time 33909215000}
{:type :ok, :f :write, :value 187, :process 2, :time 34873895000}
{:type :invoke, :f :read, :value nil, :process 0, :time 35910947300}
{:type :ok, :f :read, :value 187, :process 0, :time 35936281300}
{:type :invoke, :f :write, :value 74, :process 6, :time 38017141500}
{:type :ok, :f :write, :value 74, :process 6, :time 39007257900}
{:type :invoke, :f :write, :value 62, :process 3, :time 40019821800}
{:type :ok, :f :write, :value 62, :process 3, :time 41055212400}
{:type :invoke, :f :read, :value nil, :process 4, :time 42022816300}
{:type :ok, :f :read, :value 62, :process 4, :time 43139943800}
{:type :invoke, :f :write, :value 115, :process 2, :time 44024245300}
{:type :ok, :f :write, :value 115, :process 2, :time 44981939300}
{:type :invoke, :f :write, :value 70, :process 0, :time 46024875300}
{:type :ok, :f :write, :value 70, :process 0, :time 46042404200}
{:type :invoke, :f :read, :value nil, :process 6, :time 48026338700}
{:type :ok, :f :read, :value 70, :process 6, :time 49110926300}
{:type :invoke, :f :write, :value 161, :process 3, :time 50059408800}
{:type :ok, :f :write, :value 161, :process 3, :time 51139048000}
{:type :invoke, :f :write, :value 63, :process 4, :time 52144541200}
{:type :info, :f :stop, :process :nemesis, :time 53242127800}
{:type :ok, :f :write, :value 63, :process 4, :time 53284354400}
{:type :invoke, :f :read, :value nil, :process 2, :time 54145502000}
{:type :ok, :f :read, :value 63, :process 2, :time 54156290300}
{:type :info, :f :stop, :process :nemesis, :time 55421338100}
{:type :invoke, :f :write, :value 84, :process 0, :time 56146446300}
{:type :ok, :f :write, :value 84, :process 0, :time 56158188000}
{:type :invoke, :f :write, :value 67, :process 6, :time 58147413800}
{:type :ok, :f :write, :value 67, :process 6, :time 58164792600}
{:type :invoke, :f :read, :value nil, :process 3, :time 60147721700}
{:type :ok, :f :read, :value 67, :process 3, :time 60156330200}
{:type :invoke, :f :write, :value 68, :process 4, :time 62289276300}
{:type :ok, :f :write, :value 68, :process 4, :time 62298214700}
{:type :invoke, :f :write, :value 185, :process 2, :time 64292279800}
{:type :ok, :f :write, :value 185, :process 2, :time 64299013900}
{:type :invoke, :f :read, :value nil, :process 0, :time 66294061100}
{:type :ok, :f :read, :value 185, :process 0, :time 66305517700}
{:type :invoke, :f :write, :value 208, :process 6, :time 68294691000}
{:type :ok, :f :write, :value 208, :process 6, :time 68302977600}
{:type :invoke, :f :write, :value 202, :process 3, :time 70295122900}
{:type :ok, :f :write, :value 202, :process 3, :time 70306023200}
{:type :invoke, :f :read, :value nil, :process 4, :time 72295997100}
{:type :ok, :f :read, :value 202, :process 4, :time 72308065000}
{:type :invoke, :f :write, :value 187, :process 2, :time 74297479700}
{:type :ok, :f :write, :value 187, :process 2, :time 74307650400}
{:type :invoke, :f :write, :value 138, :process 0, :time 76299966900}
{:type :ok, :f :write, :value 138, :process 0, :time 76316610500}
{:type :invoke, :f :read, :value nil, :process 6, :time 78300421300}
{:type :ok, :f :read, :value 138, :process 6, :time 78312344400}
{:type :invoke, :f :write, :value 203, :process 3, :time 80303803300}
{:type :ok, :f :write, :value 203, :process 3, :time 80312784400}
{:type :invoke, :f :write, :value 47, :process 4, :time 82304879900}
{:type :ok, :f :write, :value 47, :process 4, :time 82314274600}
{:type :invoke, :f :read, :value nil, :process 2, :time 84305971100}
{:type :ok, :f :read, :value 47, :process 2, :time 84317113900}
{:type :invoke, :f :write, :value 36, :process 0, :time 86308043700}
{:type :ok, :f :write, :value 36, :process 0, :time 86316680200}
{:type :invoke, :f :write, :value 155, :process 6, :time 88310216900}
{:type :ok, :f :write, :value 155, :process 6, :time 88321062900}
{:type :invoke, :f :read, :value nil, :process 3, :time 90312192100}
{:type :ok, :f :read, :value 155, :process 3, :time 90326454100}
{:type :invoke, :f :write, :value 75, :process 4, :time 92312639300}
{:type :ok, :f :write, :value 75, :process 4, :time 92321184200}
{:type :info, :f :start, :process :nemesis, :time 92430195400}
{:type :invoke, :f :write, :value 38, :process 2, :time 94314197500}
{:type :ok, :f :write, :value 38, :process 2, :time 95284173300}
{:type :invoke, :f :read, :value nil, :process 0, :time 96314806100}
{:type :ok, :f :read, :value 38, :process 0, :time 96328819000}
{:type :info, :f :start, :process :nemesis, :time 96439774000}
{:type :invoke, :f :write, :value 67, :process 6, :time 98315812600}
{:type :ok, :f :write, :value 67, :process 6, :time 99307773200}
{:type :invoke, :f :write, :value 103, :process 3, :time 100316609800}
{:type :ok, :f :write, :value 103, :process 3, :time 101392795400}
{:type :invoke, :f :read, :value nil, :process 4, :time 102321052400}
{:type :ok, :f :read, :value 103, :process 4, :time 103286884500}
{:type :invoke, :f :write, :value 153, :process 2, :time 104321421900}
{:type :ok, :f :write, :value 153, :process 2, :time 105422899700}
{:type :invoke, :f :write, :value 160, :process 0, :time 106322527500}
{:type :ok, :f :write, :value 160, :process 0, :time 106333332900}
{:type :invoke, :f :read, :value nil, :process 6, :time 108323785000}
{:type :ok, :f :read, :value 160, :process 6, :time 109391335600}
{:type :invoke, :f :write, :value 182, :process 3, :time 110396131400}
{:type :ok, :f :write, :value 182, :process 3, :time 111593361500}
{:type :invoke, :f :write, :value 43, :process 4, :time 112398057400}
{:type :ok, :f :write, :value 43, :process 4, :time 113415394500}
{:type :invoke, :f :read, :value nil, :process 2, :time 114427270600}
{:type :ok, :f :read, :value 43, :process 2, :time 115405174900}
{:type :invoke, :f :write, :value 214, :process 0, :time 116428735800}
{:type :ok, :f :write, :value 214, :process 0, :time 116438133200}
{:type :invoke, :f :write, :value 39, :process 6, :time 118430748100}
{:type :ok, :f :write, :value 39, :process 6, :time 119567543800}
{:type :invoke, :f :read, :value nil, :process 3, :time 120596507100}
{:type :ok, :f :read, :value 39, :process 3, :time 121680710100}
{:type :invoke, :f :write, :value 211, :process 4, :time 122603368200}
{:type :ok, :f :write, :value 211, :process 4, :time 123714160100}
{:type :invoke, :f :write, :value 145, :process 2, :time 124603769100}
{:type :ok, :f :write, :value 145, :process 2, :time 125679019400}
{:type :invoke, :f :read, :value nil, :process 0, :time 126604433300}
{:type :ok, :f :read, :value 145, :process 0, :time 126623135600}
{:type :invoke, :f :write, :value 211, :process 6, :time 128605514200}
{:type :ok, :f :write, :value 211, :process 6, :time 129641910100}
{:type :invoke, :f :write, :value 56, :process 3, :time 130684364800}
{:type :ok, :f :write, :value 56, :process 3, :time 131703218800}
{:type :invoke, :f :read, :value nil, :process 4, :time 132717720400}
{:type :info, :f :stop, :process :nemesis, :time 133445357000}
{:type :info, :f :read, :value nil, :process 4, :time 134372137500, :error "indeterminate: EOF while reading"}
{:type :invoke, :f :write, :value 202, :process 2, :time 134718303300}
{:type :ok, :f :write, :value 202, :process 2, :time 134726447000}
{:type :info, :f :stop, :process :nemesis, :time 135584105500}
{:type :invoke, :f :write, :value 192, :process 0, :time 136720311000}
{:type :ok, :f :write, :value 192, :process 0, :time 136728590000}
{:type :invoke, :f :read, :value nil, :process 6, :time 138721638500}
{:type :ok, :f :read, :value 192, :process 6, :time 138731422900}
{:type :invoke, :f :write, :value 32, :process 3, :time 140722130100}
{:type :ok, :f :write, :value 32, :process 3, :time 140744065000}
{:type :invoke, :f :write, :value 96, :process 9, :time 143389390100}
{:type :ok, :f :write, :value 96, :process 9, :time 143399606700}
{:type :invoke, :f :read, :value nil, :process 2, :time 145391538300}
{:type :ok, :f :read, :value 96, :process 2, :time 145401107100}
{:type :invoke, :f :write, :value 87, :process 0, :time 147393075800}
{:type :ok, :f :write, :value 87, :process 0, :time 147401191400}
{:type :invoke, :f :write, :value 58, :process 6, :time 149393482000}
{:type :ok, :f :write, :value 58, :process 6, :time 149407617700}
{:type :invoke, :f :read, :value nil, :process 3, :time 151393780000}
{:type :ok, :f :read, :value 58, :process 3, :time 151400256700}
{:type :invoke, :f :write, :value 135, :process 9, :time 153394847500}
{:type :ok, :f :write, :value 135, :process 9, :time 153403758400}
{:type :invoke, :f :write, :value 208, :process 2, :time 155395543500}
{:type :ok, :f :write, :value 208, :process 2, :time 155405838300}
{:type :invoke, :f :read, :value nil, :process 0, :time 157396792600}
{:type :ok, :f :read, :value 208, :process 0, :time 157411432600}
{:type :invoke, :f :write, :value 137, :process 6, :time 159397710700}
{:type :ok, :f :write, :value 137, :process 6, :time 159408652600}
{:type :invoke, :f :write, :value 126, :process 3, :time 161399488500}
{:type :ok, :f :write, :value 126, :process 3, :time 161410077400}
{:type :invoke, :f :read, :value nil, :process 9, :time 163402453400}
{:type :ok, :f :read, :value 126, :process 9, :time 163412377600}
{:type :invoke, :f :write, :value 194, :process 2, :time 165404503600}
{:type :ok, :f :write, :value 194, :process 2, :time 165414226500}
{:type :invoke, :f :write, :value 44, :process 0, :time 167404905800}
{:type :ok, :f :write, :value 44, :process 0, :time 167411203500}
{:type :invoke, :f :read, :value nil, :process 6, :time 169405450500}
{:type :ok, :f :read, :value 44, :process 6, :time 169425561200}
{:type :invoke, :f :write, :value 190, :process 3, :time 171407949100}
{:type :ok, :f :write, :value 190, :process 3, :time 171415708900}
{:type :info, :f :start, :process :nemesis, :time 172587802500}
{:type :invoke, :f :write, :value 53, :process 9, :time 173409423000}
{:type :ok, :f :write, :value 53, :process 9, :time 174530349800}
{:type :invoke, :f :read, :value nil, :process 2, :time 175410305300}
{:type :ok, :f :read, :value 53, :process 2, :time 176331146100}
{:type :info, :f :start, :process :nemesis, :time 176996309100}
{:type :invoke, :f :write, :value 38, :process 0, :time 177412973900}
{:type :ok, :f :write, :value 38, :process 0, :time 177422654900}
{:type :invoke, :f :write, :value 116, :process 6, :time 179413590900}
{:type :ok, :f :write, :value 116, :process 6, :time 180360985200}
{:type :invoke, :f :read, :value nil, :process 3, :time 181415190200}
{:type :ok, :f :read, :value 116, :process 3, :time 182424628800}
{:type :invoke, :f :write, :value 81, :process 9, :time 183532840800}
{:type :ok, :f :write, :value 81, :process 9, :time 184645045400}
{:type :invoke, :f :write, :value 105, :process 2, :time 185533380800}
{:type :ok, :f :write, :value 105, :process 2, :time 186560569900}
{:type :info, :f :log-packet-data, :process 6, :time 193564198900}
{:type :info, :f :log-packet-data, :process 6, :time 195017029800}
