{:type :info, :f :setup-packet-logging, :process 1, :time 5061969300}
{:type :info, :f :setup-packet-logging, :process 1, :time 6667436400}
{:type :invoke, :f :write, :value 120, :process 2, :time 15689885100}
{:type :ok, :f :write, :value 120, :process 2, :time 15728131800}
{:type :invoke, :f :read, :value nil, :process 6, :time 17691474900}
{:type :ok, :f :read, :value 120, :process 6, :time 17705490600}
{:type :invoke, :f :write, :value 40, :process 3, :time 19694939900}
{:type :ok, :f :write, :value 40, :process 3, :time 19716603000}
{:type :invoke, :f :write, :value 217, :process 0, :time 21695735200}
{:type :ok, :f :write, :value 217, :process 0, :time 21705645500}
{:type :invoke, :f :read, :value nil, :process 4, :time 23696472100}
{:type :ok, :f :read, :value 217, :process 4, :time 23737785900}
{:type :invoke, :f :write, :value 21, :process 2, :time 25698569900}
{:type :ok, :f :write, :value 21, :process 2, :time 25717581300}
{:type :invoke, :f :write, :value 55, :process 6, :time 27701057000}
{:type :ok, :f :write, :value 55, :process 6, :time 27711030200}
{:type :invoke, :f :read, :value nil, :process 3, :time 29701667900}
{:type :ok, :f :read, :value 55, :process 3, :time 29710615000}
{:type :invoke, :f :write, :value 187, :process 0, :time 31702303000}
{:type :ok, :f :write, :value 187, :process 0, :time 31710170300}
{:type :invoke, :f :write, :value 127, :process 4, :time 33703703000}
{:type :ok, :f :write, :value 127, :process 4, :time 33721400100}
{:type :invoke, :f :read, :value nil, :process 2, :time 35704099600}
{:type :ok, :f :read, :value 127, :process 2, :time 35712676900}
{:type :invoke, :f :write, :value 59, :process 6, :time 37704781100}
{:type :ok, :f :write, :value 59, :process 6, :time 37727929100}
{:type :invoke, :f :write, :value 202, :process 3, :time 39705945500}
{:type :ok, :f :write, :value 202, :process 3, :time 39716963300}
{:type :invoke, :f :read, :value nil, :process 0, :time 41707716200}
{:type :ok, :f :read, :value 202, :process 0, :time 41716451600}
{:type :info, :f :start, :process :nemesis, :time 43685838400}
{:type :info, :f :start, :process :nemesis, :time 43694668900}
{:type :invoke, :f :write, :value 171, :process 4, :time 43708522300}
{:type :ok, :f :write, :value 171, :process 4, :time 43716163100}
{:type :invoke, :f :write, :value 188, :process 2, :time 45710168500}
{:type :ok, :f :write, :value 188, :process 2, :time 45724217100}
{:type :invoke, :f :read, :value nil, :process 6, :time 47711173600}
{:type :ok, :f :read, :value 188, :process 6, :time 47720154800}
{:type :invoke, :f :write, :value 213, :process 3, :time 49712025200}
{:type :ok, :f :write, :value 213, :process 3, :time 49719952900}
{:type :invoke, :f :write, :value 124, :process 0, :time 51713905200}
{:type :ok, :f :write, :value 124, :process 0, :time 51720386900}
{:type :invoke, :f :read, :value nil, :process 4, :time 53717506900}
{:type :ok, :f :read, :value 124, :process 4, :time 53726208600}
{:type :invoke, :f :write, :value 83, :process 2, :time 55718255800}
{:type :ok, :f :write, :value 83, :process 2, :time 55726723600}
{:type :invoke, :f :write, :value 131, :process 6, :time 57719784700}
{:type :ok, :f :write, :value 131, :process 6, :time 57727943200}
{:type :invoke, :f :read, :value nil, :process 3, :time 59720660800}
{:type :ok, :f :read, :value 131, :process 3, :time 59730437300}
{:type :invoke, :f :write, :value 198, :process 0, :time 61721661100}
{:type :ok, :f :write, :value 198, :process 0, :time 61732797400}
{:type :invoke, :f :write, :value 213, :process 4, :time 63722250600}
{:type :ok, :f :write, :value 213, :process 4, :time 63730777000}
{:type :invoke, :f :read, :value nil, :process 2, :time 65723709100}
{:type :ok, :f :read, :value 213, :process 2, :time 65731224700}
{:type :invoke, :f :write, :value 178, :process 6, :time 67724988800}
{:type :ok, :f :write, :value 178, :process 6, :time 67734075200}
{:type :invoke, :f :write, :value 87, :process 3, :time 69726947300}
{:type :ok, :f :write, :value 87, :process 3, :time 69737182700}
{:type :invoke, :f :read, :value nil, :process 0, :time 71727992200}
{:type :ok, :f :read, :value 87, :process 0, :time 71741480500}
{:type :invoke, :f :write, :value 45, :process 4, :time 73730179000}
{:type :ok, :f :write, :value 45, :process 4, :time 73740070800}
{:type :invoke, :f :write, :value 172, :process 2, :time 75730877000}
{:type :ok, :f :write, :value 172, :process 2, :time 75738426400}
{:type :invoke, :f :read, :value nil, :process 6, :time 77731678400}
{:type :ok, :f :read, :value 172, :process 6, :time 77743625200}
{:type :invoke, :f :write, :value 137, :process 3, :time 79733288100}
{:type :ok, :f :write, :value 137, :process 3, :time 79744331600}
{:type :info, :f :stop, :process :nemesis, :time 80700681400}
{:type :info, :f :stop, :process :nemesis, :time 80701948900}
{:type :invoke, :f :write, :value 183, :process 0, :time 81733705000}
{:type :ok, :f :write, :value 183, :process 0, :time 81740494400}
{:type :invoke, :f :read, :value nil, :process 4, :time 83734986300}
{:type :ok, :f :read, :value 183, :process 4, :time 83744290300}
{:type :invoke, :f :write, :value 130, :process 2, :time 85736388600}
{:type :ok, :f :write, :value 130, :process 2, :time 85747669400}
{:type :invoke, :f :write, :value 84, :process 6, :time 87737710800}
{:type :ok, :f :write, :value 84, :process 6, :time 87750580200}
{:type :invoke, :f :read, :value nil, :process 3, :time 89740003900}
{:type :ok, :f :read, :value 84, :process 3, :time 89752901500}
{:type :invoke, :f :write, :value 129, :process 0, :time 91741234100}
{:type :ok, :f :write, :value 129, :process 0, :time 91749760400}
{:type :invoke, :f :write, :value 110, :process 4, :time 93741710600}
{:type :ok, :f :write, :value 110, :process 4, :time 93767057300}
{:type :invoke, :f :read, :value nil, :process 2, :time 95743023100}
{:type :ok, :f :read, :value 110, :process 2, :time 95753013200}
{:type :invoke, :f :write, :value 69, :process 6, :time 97744092100}
{:type :ok, :f :write, :value 69, :process 6, :time 97755622100}
{:type :invoke, :f :write, :value 192, :process 3, :time 99745442300}
{:type :ok, :f :write, :value 192, :process 3, :time 99754469000}
{:type :invoke, :f :read, :value nil, :process 0, :time 101747628000}
{:type :ok, :f :read, :value 192, :process 0, :time 101758039500}
{:type :invoke, :f :write, :value 218, :process 4, :time 103748483800}
{:type :ok, :f :write, :value 218, :process 4, :time 103755566600}
{:type :invoke, :f :write, :value 202, :process 2, :time 105749291300}
{:type :ok, :f :write, :value 202, :process 2, :time 105759337900}
{:type :invoke, :f :read, :value nil, :process 6, :time 107752966100}
{:type :ok, :f :read, :value 202, :process 6, :time 107763808300}
{:type :invoke, :f :write, :value 42, :process 3, :time 109754898200}
{:type :ok, :f :write, :value 42, :process 3, :time 109762983800}
{:type :invoke, :f :write, :value 117, :process 0, :time 111755425200}
{:type :ok, :f :write, :value 117, :process 0, :time 111765009600}
{:type :invoke, :f :read, :value nil, :process 4, :time 113757693500}
{:type :ok, :f :read, :value 117, :process 4, :time 113764067500}
{:type :invoke, :f :write, :value 139, :process 2, :time 115760652100}
{:type :ok, :f :write, :value 139, :process 2, :time 115770672200}
{:type :info, :f :start, :process :nemesis, :time 117705274500}
{:type :info, :f :start, :process :nemesis, :time 117706281900}
{:type :invoke, :f :write, :value 169, :process 6, :time 117761626800}
{:type :ok, :f :write, :value 169, :process 6, :time 117774126500}
{:type :invoke, :f :read, :value nil, :process 3, :time 119762960800}
{:type :ok, :f :read, :value 169, :process 3, :time 119769725600}
{:type :invoke, :f :write, :value 112, :process 0, :time 121763945000}
{:type :ok, :f :write, :value 112, :process 0, :time 121775128900}
{:type :invoke, :f :write, :value 154, :process 4, :time 123764678900}
{:type :ok, :f :write, :value 154, :process 4, :time 123779796100}
{:type :invoke, :f :read, :value nil, :process 2, :time 125767314000}
{:type :ok, :f :read, :value 154, :process 2, :time 125781224200}
{:type :invoke, :f :write, :value 179, :process 6, :time 127770649900}
{:type :ok, :f :write, :value 179, :process 6, :time 127784431500}
{:type :invoke, :f :write, :value 210, :process 3, :time 129771451100}
{:type :ok, :f :write, :value 210, :process 3, :time 129786827900}
{:type :invoke, :f :read, :value nil, :process 0, :time 131772386100}
{:type :ok, :f :read, :value 210, :process 0, :time 131788262400}
{:type :invoke, :f :write, :value 93, :process 4, :time 133775587300}
{:type :ok, :f :write, :value 93, :process 4, :time 133782582300}
{:type :invoke, :f :write, :value 26, :process 2, :time 135777119300}
{:type :ok, :f :write, :value 26, :process 2, :time 135792442000}
{:type :invoke, :f :read, :value nil, :process 6, :time 137779313100}
{:type :ok, :f :read, :value 26, :process 6, :time 137794698900}
{:type :invoke, :f :write, :value 95, :process 3, :time 139784068100}
{:type :ok, :f :write, :value 95, :process 3, :time 139795870500}
{:type :invoke, :f :write, :value 32, :process 0, :time 141786611500}
{:type :ok, :f :write, :value 32, :process 0, :time 141796386600}
{:type :invoke, :f :read, :value nil, :process 4, :time 143787492800}
{:type :ok, :f :read, :value 32, :process 4, :time 143799031300}
{:type :invoke, :f :write, :value 47, :process 2, :time 145788792100}
{:type :ok, :f :write, :value 47, :process 2, :time 145800695000}
{:type :invoke, :f :write, :value 178, :process 6, :time 147790980500}
{:type :ok, :f :write, :value 178, :process 6, :time 147804671900}
{:type :invoke, :f :read, :value nil, :process 3, :time 149791896100}
{:type :ok, :f :read, :value 178, :process 3, :time 149804186400}
{:type :invoke, :f :write, :value 211, :process 0, :time 151793488700}
{:type :ok, :f :write, :value 211, :process 0, :time 151806465800}
{:type :invoke, :f :write, :value 131, :process 4, :time 153794718300}
{:type :ok, :f :write, :value 131, :process 4, :time 153808989200}
{:type :info, :f :stop, :process :nemesis, :time 154710936800}
{:type :info, :f :stop, :process :nemesis, :time 154717446200}
{:type :invoke, :f :read, :value nil, :process 2, :time 155796558300}
{:type :ok, :f :read, :value 131, :process 2, :time 155811669600}
{:type :invoke, :f :write, :value 200, :process 6, :time 157799678200}
{:type :ok, :f :write, :value 200, :process 6, :time 157814049800}
{:type :invoke, :f :write, :value 62, :process 3, :time 159800554000}
{:type :ok, :f :write, :value 62, :process 3, :time 159815987600}
{:type :invoke, :f :read, :value nil, :process 0, :time 161801020600}
{:type :ok, :f :read, :value 62, :process 0, :time 161815779300}
{:type :invoke, :f :write, :value 177, :process 4, :time 163802300600}
{:type :ok, :f :write, :value 177, :process 4, :time 163816653000}
{:type :invoke, :f :write, :value 72, :process 2, :time 165803827300}
{:type :ok, :f :write, :value 72, :process 2, :time 165820144300}
{:type :invoke, :f :read, :value nil, :process 6, :time 167805856400}
{:type :ok, :f :read, :value 72, :process 6, :time 167822007400}
{:type :invoke, :f :write, :value 71, :process 3, :time 169808605400}
{:type :ok, :f :write, :value 71, :process 3, :time 169822655300}
{:type :invoke, :f :write, :value 176, :process 0, :time 171809746500}
{:type :ok, :f :write, :value 176, :process 0, :time 171823316300}
{:type :invoke, :f :read, :value nil, :process 4, :time 173810307900}
{:type :ok, :f :read, :value 176, :process 4, :time 173825365400}
{:type :invoke, :f :write, :value 170, :process 2, :time 175811195300}
{:type :ok, :f :write, :value 170, :process 2, :time 175826110900}
{:type :invoke, :f :write, :value 162, :process 6, :time 177812461600}
{:type :ok, :f :write, :value 162, :process 6, :time 177830018900}
{:type :invoke, :f :read, :value nil, :process 3, :time 179813556300}
{:type :ok, :f :read, :value 162, :process 3, :time 179829262300}
{:type :invoke, :f :write, :value 88, :process 0, :time 181815200200}
{:type :ok, :f :write, :value 88, :process 0, :time 181832230800}
{:type :invoke, :f :write, :value 187, :process 4, :time 183816579700}
{:type :ok, :f :write, :value 187, :process 4, :time 183828828700}
{:type :info, :f :start, :process :nemesis, :time 191724271800}
{:type :info, :f :start, :process :nemesis, :time 191728838400}
{:type :info, :f :log-packet-data, :process 6, :time 198731680600}
{:type :info, :f :log-packet-data, :process 6, :time 198897051600}
