{:type :info, :f :setup-packet-logging, :process 1, :time 5423834900}
{:type :info, :f :setup-packet-logging, :process 1, :time 8476317100}
{:type :info, :f :start, :process :nemesis, :time 15510233100}
{:type :info, :f :start, :process :nemesis, :time 16097590300, :value [:isolated {"n1" #{"n2"}, "n2" #{"n3"}, "n3" #{"n4"}, "n4" #{"n5"}}]}
{:type :invoke, :f :write, :value 120, :process 4, :time 17509863500}
{:type :ok, :f :write, :value 120, :process 4, :time 17635663100}
{:type :invoke, :f :read, :value nil, :process 0, :time 19511138900}
{:type :ok, :f :read, :value 120, :process 0, :time 19538461200}
{:type :invoke, :f :write, :value 206, :process 6, :time 21512497400}
{:type :ok, :f :write, :value 206, :process 6, :time 21624510500}
{:type :invoke, :f :write, :value 196, :process 3, :time 23513687600}
{:type :ok, :f :write, :value 196, :process 3, :time 23616400700}
{:type :invoke, :f :read, :value nil, :process 2, :time 25515447000}
{:type :ok, :f :read, :value 196, :process 2, :time 25614306400}
{:type :invoke, :f :write, :value 90, :process 4, :time 27517136400}
{:type :ok, :f :write, :value 90, :process 4, :time 27633758300}
{:type :invoke, :f :write, :value 217, :process 0, :time 29517785100}
{:type :ok, :f :write, :value 217, :process 0, :time 29533143500}
{:type :invoke, :f :read, :value nil, :process 6, :time 31519094800}
{:type :ok, :f :read, :value 217, :process 6, :time 31637552000}
{:type :invoke, :f :write, :value 80, :process 3, :time 33520026400}
{:type :ok, :f :write, :value 80, :process 3, :time 33631928700}
{:type :invoke, :f :write, :value 177, :process 2, :time 35521226400}
{:type :ok, :f :write, :value 177, :process 2, :time 35636026400}
{:type :invoke, :f :read, :value nil, :process 4, :time 37521872900}
{:type :ok, :f :read, :value 177, :process 4, :time 37619163000}
{:type :invoke, :f :write, :value 116, :process 0, :time 39523829300}
{:type :ok, :f :write, :value 116, :process 0, :time 39532488000}
{:type :invoke, :f :write, :value 174, :process 6, :time 41524545300}
{:type :ok, :f :write, :value 174, :process 6, :time 41644494800}
{:type :invoke, :f :read, :value nil, :process 3, :time 43527965100}
{:type :ok, :f :read, :value 174, :process 3, :time 43641304100}
{:type :invoke, :f :write, :value 198, :process 2, :time 45529097700}
{:type :ok, :f :write, :value 198, :process 2, :time 45635823300}
{:type :invoke, :f :write, :value 144, :process 4, :time 47529490200}
{:type :ok, :f :write, :value 144, :process 4, :time 47645572300}
{:type :invoke, :f :read, :value nil, :process 0, :time 49530422900}
{:type :ok, :f :read, :value 144, :process 0, :time 49539330400}
{:type :invoke, :f :write, :value 83, :process 6, :time 51531624900}
{:type :ok, :f :write, :value 83, :process 6, :time 51638765200}
{:type :info, :f :stop, :process :nemesis, :time 53102211400}
{:type :invoke, :f :write, :value 111, :process 3, :time 53532038200}
{:type :ok, :f :write, :value 111, :process 3, :time 53561521200}
{:type :info, :f :stop, :process :nemesis, :time 53772711800, :value :network-healed}
{:type :invoke, :f :read, :value nil, :process 2, :time 55532348000}
{:type :ok, :f :read, :value 111, :process 2, :time 55542672400}
{:type :invoke, :f :write, :value 104, :process 4, :time 57532938000}
{:type :ok, :f :write, :value 104, :process 4, :time 57543078400}
{:type :invoke, :f :write, :value 217, :process 0, :time 59533268300}
{:type :ok, :f :write, :value 217, :process 0, :time 59542303800}
{:type :invoke, :f :read, :value nil, :process 6, :time 61534852400}
{:type :ok, :f :read, :value 217, :process 6, :time 61549346500}
{:type :invoke, :f :write, :value 43, :process 3, :time 63536984000}
{:type :ok, :f :write, :value 43, :process 3, :time 63544915400}
{:type :invoke, :f :write, :value 88, :process 2, :time 65538251900}
{:type :ok, :f :write, :value 88, :process 2, :time 65552112000}
{:type :invoke, :f :read, :value nil, :process 4, :time 67540354900}
{:type :ok, :f :read, :value 88, :process 4, :time 67553653500}
{:type :invoke, :f :write, :value 135, :process 0, :time 69542326400}
{:type :ok, :f :write, :value 135, :process 0, :time 69561032100}
{:type :invoke, :f :write, :value 98, :process 6, :time 71547714300}
{:type :ok, :f :write, :value 98, :process 6, :time 71557362400}
{:type :invoke, :f :read, :value nil, :process 3, :time 73548899100}
{:type :ok, :f :read, :value 98, :process 3, :time 73560280000}
{:type :invoke, :f :write, :value 111, :process 2, :time 75550817100}
{:type :ok, :f :write, :value 111, :process 2, :time 75559706400}
{:type :invoke, :f :write, :value 169, :process 4, :time 77551182400}
{:type :ok, :f :write, :value 169, :process 4, :time 77563287200}
{:type :invoke, :f :read, :value nil, :process 0, :time 79554334100}
{:type :ok, :f :read, :value 169, :process 0, :time 79569935900}
{:type :invoke, :f :write, :value 123, :process 6, :time 81555706600}
{:type :ok, :f :write, :value 123, :process 6, :time 81564853300}
{:type :invoke, :f :write, :value 187, :process 3, :time 83556979200}
{:type :ok, :f :write, :value 187, :process 3, :time 83563987900}
{:type :invoke, :f :read, :value nil, :process 2, :time 85558180800}
{:type :ok, :f :read, :value 187, :process 2, :time 85565867400}
{:type :invoke, :f :write, :value 49, :process 4, :time 87559432700}
{:type :ok, :f :write, :value 49, :process 4, :time 87570806300}
{:type :invoke, :f :write, :value 135, :process 0, :time 89560443600}
{:type :ok, :f :write, :value 135, :process 0, :time 89577469200}
{:type :info, :f :start, :process :nemesis, :time 90775521200}
{:type :invoke, :f :read, :value nil, :process 6, :time 91563483200}
{:type :ok, :f :read, :value 135, :process 6, :time 91575952200}
{:type :info, :f :start, :process :nemesis, :time 93223524600, :value [:isolated {"n1" #{"n2"}, "n2" #{"n3"}, "n3" #{"n4"}, "n4" #{"n5"}}]}
{:type :invoke, :f :write, :value 158, :process 3, :time 93565314600}
{:type :ok, :f :write, :value 158, :process 3, :time 93670671600}
{:type :invoke, :f :write, :value 159, :process 2, :time 95567293100}
{:type :ok, :f :write, :value 159, :process 2, :time 95713949100}
{:type :invoke, :f :read, :value nil, :process 4, :time 97567670600}
{:type :ok, :f :read, :value 159, :process 4, :time 97687297300}
{:type :invoke, :f :write, :value 129, :process 0, :time 99569285800}
{:type :ok, :f :write, :value 129, :process 0, :time 99580477700}
{:type :invoke, :f :write, :value 133, :process 6, :time 101569752800}
{:type :ok, :f :write, :value 133, :process 6, :time 101682100200}
{:type :invoke, :f :read, :value nil, :process 3, :time 103572841500}
{:type :ok, :f :read, :value 133, :process 3, :time 103687788800}
{:type :invoke, :f :write, :value 200, :process 2, :time 105573254300}
{:type :ok, :f :write, :value 200, :process 2, :time 105679690200}
{:type :invoke, :f :write, :value 197, :process 4, :time 107573652900}
{:type :ok, :f :write, :value 197, :process 4, :time 107682816100}
{:type :invoke, :f :read, :value nil, :process 0, :time 109576672200}
{:type :ok, :f :read, :value 197, :process 0, :time 109586506300}
{:type :invoke, :f :write, :value 30, :process 6, :time 111577035600}
{:type :ok, :f :write, :value 30, :process 6, :time 111683874800}
{:type :invoke, :f :write, :value 33, :process 3, :time 113577860000}
{:type :ok, :f :write, :value 33, :process 3, :time 113696384900}
{:type :invoke, :f :read, :value nil, :process 2, :time 115580674500}
{:type :ok, :f :read, :value 33, :process 2, :time 115686277800}
{:type :invoke, :f :write, :value 78, :process 4, :time 117581602400}
{:type :ok, :f :write, :value 78, :process 4, :time 117694137300}
{:type :invoke, :f :write, :value 92, :process 0, :time 119583276700}
{:type :ok, :f :write, :value 92, :process 0, :time 119595179900}
{:type :invoke, :f :read, :value nil, :process 6, :time 121586050400}
{:type :ok, :f :read, :value 92, :process 6, :time 121690527900}
{:type :invoke, :f :write, :value 197, :process 3, :time 123586712200}
{:type :ok, :f :write, :value 197, :process 3, :time 123698045700}
{:type :invoke, :f :write, :value 95, :process 2, :time 125587428000}
{:type :ok, :f :write, :value 95, :process 2, :time 125690205600}
{:type :invoke, :f :read, :value nil, :process 4, :time 127587957400}
{:type :ok, :f :read, :value 95, :process 4, :time 127688869300}
{:type :invoke, :f :write, :value 35, :process 0, :time 129589444900}
{:type :ok, :f :write, :value 35, :process 0, :time 129597585200}
{:type :info, :f :stop, :process :nemesis, :time 130226068500}
{:type :info, :f :stop, :process :nemesis, :time 130917962900, :value :network-healed}
{:type :invoke, :f :write, :value 208, :process 6, :time 131591515600}
{:type :ok, :f :write, :value 208, :process 6, :time 131604745700}
{:type :invoke, :f :read, :value nil, :process 3, :time 133593820500}
{:type :ok, :f :read, :value 208, :process 3, :time 133602684900}
{:type :invoke, :f :write, :value 198, :process 2, :time 135596209000}
{:type :ok, :f :write, :value 198, :process 2, :time 135604025700}
{:type :invoke, :f :write, :value 176, :process 4, :time 137596778500}
{:type :ok, :f :write, :value 176, :process 4, :time 137606332400}
{:type :invoke, :f :read, :value nil, :process 0, :time 139598204700}
{:type :ok, :f :read, :value 176, :process 0, :time 139607554600}
{:type :invoke, :f :write, :value 24, :process 6, :time 141599004100}
{:type :ok, :f :write, :value 24, :process 6, :time 141607910800}
{:type :invoke, :f :write, :value 147, :process 3, :time 143600291900}
{:type :ok, :f :write, :value 147, :process 3, :time 143614345700}
{:type :invoke, :f :read, :value nil, :process 2, :time 145601372500}
{:type :ok, :f :read, :value 147, :process 2, :time 145609279800}
{:type :invoke, :f :write, :value 93, :process 4, :time 147601760100}
{:type :ok, :f :write, :value 93, :process 4, :time 147614762400}
{:type :invoke, :f :write, :value 80, :process 0, :time 149604534200}
{:type :ok, :f :write, :value 80, :process 0, :time 149615561600}
{:type :invoke, :f :read, :value nil, :process 6, :time 151605430300}
{:type :ok, :f :read, :value 80, :process 6, :time 151615029800}
{:type :invoke, :f :write, :value 135, :process 3, :time 153606728600}
{:type :ok, :f :write, :value 135, :process 3, :time 153614786300}
{:type :invoke, :f :write, :value 69, :process 2, :time 155607948000}
{:type :ok, :f :write, :value 69, :process 2, :time 155619086400}
{:type :invoke, :f :read, :value nil, :process 4, :time 157608295100}
{:type :ok, :f :read, :value 69, :process 4, :time 157622113300}
{:type :invoke, :f :write, :value 159, :process 0, :time 159608698600}
{:type :ok, :f :write, :value 159, :process 0, :time 159621235600}
{:type :invoke, :f :write, :value 216, :process 6, :time 161610406500}
{:type :ok, :f :write, :value 216, :process 6, :time 161617626900}
{:type :invoke, :f :read, :value nil, :process 3, :time 163611262000}
{:type :ok, :f :read, :value 216, :process 3, :time 163620069500}
{:type :invoke, :f :write, :value 69, :process 2, :time 165613249000}
{:type :ok, :f :write, :value 69, :process 2, :time 165623267300}
{:type :invoke, :f :write, :value 179, :process 4, :time 167614136000}
{:type :ok, :f :write, :value 179, :process 4, :time 167620880800}
{:type :info, :f :start, :process :nemesis, :time 167924098100}
{:type :invoke, :f :read, :value nil, :process 0, :time 169614892000}
{:type :ok, :f :read, :value 179, :process 0, :time 169624357700}
{:type :info, :f :start, :process :nemesis, :time 170398001500, :value [:isolated {"n1" #{"n2"}, "n2" #{"n3"}, "n3" #{"n4"}, "n4" #{"n5"}}]}
{:type :invoke, :f :write, :value 125, :process 6, :time 171616414100}
{:type :ok, :f :write, :value 125, :process 6, :time 171726100700}
{:type :invoke, :f :write, :value 178, :process 3, :time 173618619600}
{:type :ok, :f :write, :value 178, :process 3, :time 173733323000}
{:type :invoke, :f :read, :value nil, :process 2, :time 175619304600}
{:type :ok, :f :read, :value 178, :process 2, :time 175710531900}
{:type :invoke, :f :write, :value 204, :process 4, :time 177619779400}
{:type :ok, :f :write, :value 204, :process 4, :time 177725899500}
{:type :invoke, :f :write, :value 188, :process 0, :time 179622216100}
{:type :ok, :f :write, :value 188, :process 0, :time 179632426700}
{:type :invoke, :f :read, :value nil, :process 6, :time 181623228300}
{:type :ok, :f :read, :value 188, :process 6, :time 181738679100}
{:type :invoke, :f :write, :value 208, :process 3, :time 183623727000}
{:type :ok, :f :write, :value 208, :process 3, :time 183726800300}
{:type :info, :f :stop, :process :nemesis, :time 207401576200}
{:type :info, :f :stop, :process :nemesis, :time 208123436900, :value :network-healed}
{:type :info, :f :log-packet-data, :process 6, :time 215127755000}
{:type :info, :f :log-packet-data, :process 6, :time 216890038200}
