{:type :info, :f :setup-packet-logging, :process 1, :time 5640858400}
{:type :info, :f :setup-packet-logging, :process 1, :time 7474021100}
{:type :info, :f :start, :process :nemesis, :time 14528612300}
{:type :invoke, :f :write, :value 120, :process 0, :time 16529964000}
{:type :ok, :f :write, :value 120, :process 0, :time 16549100000}
{:type :info, :f :start, :process :nemesis, :time 16987714100, :value [:isolated {"n1" #{"n2"}, "n2" #{"n3"}, "n3" #{"n4"}, "n4" #{"n5"}}]}
{:type :invoke, :f :read, :value nil, :process 3, :time 18531559300}
{:type :ok, :f :read, :value 120, :process 3, :time 18542228100}
{:type :invoke, :f :write, :value 129, :process 6, :time 20533694900}
{:type :ok, :f :write, :value 129, :process 6, :time 20698842500}
{:type :invoke, :f :write, :value 171, :process 4, :time 22535305000}
{:type :ok, :f :write, :value 171, :process 4, :time 22559739900}
{:type :invoke, :f :read, :value nil, :process 2, :time 24536388400}
{:type :ok, :f :read, :value 171, :process 2, :time 26046792900}
{:type :invoke, :f :write, :value 182, :process 0, :time 26563253700}
{:type :ok, :f :write, :value 182, :process 0, :time 26603555300}
{:type :invoke, :f :write, :value 87, :process 3, :time 28572133400}
{:type :ok, :f :write, :value 87, :process 3, :time 28972496200}
{:type :invoke, :f :read, :value nil, :process 6, :time 30573289500}
{:type :ok, :f :read, :value 87, :process 6, :time 30590750400}
{:type :invoke, :f :write, :value 66, :process 4, :time 32574385900}
{:type :ok, :f :write, :value 66, :process 4, :time 33105968600}
{:type :invoke, :f :write, :value 177, :process 2, :time 35050809500}
{:type :ok, :f :write, :value 177, :process 2, :time 35067606300}
{:type :invoke, :f :read, :value nil, :process 0, :time 37052572900}
{:type :ok, :f :read, :value 177, :process 0, :time 37068682700}
{:type :invoke, :f :write, :value 141, :process 3, :time 39055085400}
{:type :ok, :f :write, :value 141, :process 3, :time 40312135900}
{:type :invoke, :f :write, :value 55, :process 6, :time 41058059500}
{:type :ok, :f :write, :value 55, :process 6, :time 41070246000}
{:type :invoke, :f :read, :value nil, :process 4, :time 43058541900}
{:type :ok, :f :read, :value 55, :process 4, :time 43898653200}
{:type :invoke, :f :write, :value 143, :process 2, :time 45060313900}
{:type :ok, :f :write, :value 143, :process 2, :time 45262492300}
{:type :invoke, :f :write, :value 136, :process 0, :time 47061005000}
{:type :ok, :f :write, :value 136, :process 0, :time 47074319700}
{:type :invoke, :f :read, :value nil, :process 3, :time 49317756900}
{:type :ok, :f :read, :value 136, :process 3, :time 49702728600}
{:type :invoke, :f :write, :value 145, :process 6, :time 51319930500}
{:type :ok, :f :write, :value 145, :process 6, :time 52068682500}
{:type :invoke, :f :write, :value 112, :process 4, :time 53322290900}
{:type :ok, :f :write, :value 112, :process 4, :time 53338932900}
{:type :info, :f :stop, :process :nemesis, :time 53994140100}
{:type :invoke, :f :read, :value nil, :process 2, :time 55322750500}
{:type :info, :f :stop, :process :nemesis, :time 56368622800, :value :network-healed}
{:type :info, :f :read, :value nil, :process 2, :time 56370905400, :error "indeterminate: EOF while reading"}
{:type :invoke, :f :write, :value 179, :process 0, :time 57324504500}
{:type :ok, :f :write, :value 179, :process 0, :time 57335681000}
{:type :invoke, :f :write, :value 40, :process 3, :time 59327678300}
{:type :ok, :f :write, :value 40, :process 3, :time 59338649100}
{:type :invoke, :f :read, :value nil, :process 6, :time 61330671100}
{:type :ok, :f :read, :value 40, :process 6, :time 61344074300}
{:type :invoke, :f :write, :value 90, :process 4, :time 63331310400}
{:type :ok, :f :write, :value 90, :process 4, :time 63345119300}
{:type :invoke, :f :write, :value 125, :process 7, :time 65394914600}
{:type :ok, :f :write, :value 125, :process 7, :time 65494129100}
{:type :invoke, :f :read, :value nil, :process 0, :time 67410818500}
{:type :ok, :f :read, :value 125, :process 0, :time 67423938300}
{:type :invoke, :f :write, :value 158, :process 3, :time 69413188800}
{:type :ok, :f :write, :value 158, :process 3, :time 69427844700}
{:type :invoke, :f :write, :value 201, :process 6, :time 71415909700}
{:type :ok, :f :write, :value 201, :process 6, :time 71429567100}
{:type :invoke, :f :read, :value nil, :process 4, :time 73416997600}
{:type :ok, :f :read, :value 201, :process 4, :time 73427521200}
{:type :invoke, :f :write, :value 176, :process 7, :time 75417516300}
{:type :ok, :f :write, :value 176, :process 7, :time 75439110000}
{:type :invoke, :f :write, :value 162, :process 0, :time 77420026300}
{:type :ok, :f :write, :value 162, :process 0, :time 77433109400}
{:type :invoke, :f :read, :value nil, :process 3, :time 79421811600}
{:type :ok, :f :read, :value 162, :process 3, :time 79432596500}
{:type :invoke, :f :write, :value 26, :process 6, :time 81422985000}
{:type :ok, :f :write, :value 26, :process 6, :time 81434044600}
{:type :invoke, :f :write, :value 123, :process 4, :time 83423284300}
{:type :ok, :f :write, :value 123, :process 4, :time 83431335200}
{:type :invoke, :f :read, :value nil, :process 7, :time 85423740800}
{:type :ok, :f :read, :value 123, :process 7, :time 85444792800}
{:type :invoke, :f :write, :value 144, :process 0, :time 87426719800}
{:type :ok, :f :write, :value 144, :process 0, :time 87439877200}
{:type :invoke, :f :write, :value 213, :process 3, :time 89430595500}
{:type :ok, :f :write, :value 213, :process 3, :time 89437969700}
{:type :invoke, :f :read, :value nil, :process 6, :time 91432624200}
{:type :ok, :f :read, :value 213, :process 6, :time 91444261000}
{:type :info, :f :start, :process :nemesis, :time 93372496300}
{:type :invoke, :f :write, :value 159, :process 4, :time 93434112800}
{:type :ok, :f :write, :value 159, :process 4, :time 94544402800}
{:type :invoke, :f :write, :value 46, :process 7, :time 95438425100}
{:type :ok, :f :write, :value 46, :process 7, :time 95516715200}
{:type :info, :f :start, :process :nemesis, :time 95897792800, :error "indeterminate: java.lang.NullPointerException"}
{:type :invoke, :f :read, :value nil, :process 0, :time 97440126800}
{:type :ok, :f :read, :value 46, :process 0, :time 97459666100}
{:type :invoke, :f :write, :value 219, :process 3, :time 99441359100}
{:type :ok, :f :write, :value 219, :process 3, :time 99558316400}
{:type :invoke, :f :write, :value 91, :process 6, :time 101442319400}
{:type :ok, :f :write, :value 91, :process 6, :time 101515448500}
{:type :invoke, :f :read, :value nil, :process 4, :time 103555139000}
{:type :ok, :f :read, :value 91, :process 4, :time 103776907100}
{:type :invoke, :f :write, :value 115, :process 7, :time 105555927300}
{:type :ok, :f :write, :value 115, :process 7, :time 105580528200}
{:type :invoke, :f :write, :value 102, :process 0, :time 107556810300}
{:type :ok, :f :write, :value 102, :process 0, :time 107566182700}
{:type :invoke, :f :read, :value nil, :process 3, :time 109557586400}
{:type :info, :f :read, :value nil, :process 3, :time 110581905500, :error "indeterminate: EOF while reading"}
{:type :invoke, :f :write, :value 87, :process 6, :time 111558153900}
{:type :ok, :f :write, :value 87, :process 6, :time 111570779200}
{:type :invoke, :f :write, :value 33, :process 4, :time 113560206600}
{:type :ok, :f :write, :value 33, :process 4, :time 113780091300}
{:type :invoke, :f :read, :value nil, :process 7, :time 115560532400}
{:type :ok, :f :read, :value 33, :process 7, :time 115915573300}
{:type :invoke, :f :write, :value 69, :process 0, :time 117562396100}
{:type :ok, :f :write, :value 69, :process 0, :time 117569698900}
{:type :invoke, :f :write, :value 219, :process 8, :time 119591888000}
{:type :ok, :f :write, :value 219, :process 8, :time 119607581500}
{:type :invoke, :f :read, :value nil, :process 6, :time 121592579300}
{:type :ok, :f :read, :value 219, :process 6, :time 121601529000}
{:type :invoke, :f :write, :value 45, :process 4, :time 123594427700}
{:type :ok, :f :write, :value 45, :process 4, :time 123601805300}
{:type :invoke, :f :write, :value 185, :process 7, :time 125595830800}
{:type :ok, :f :write, :value 185, :process 7, :time 125649398400}
{:type :invoke, :f :read, :value nil, :process 0, :time 127597996200}
{:type :ok, :f :read, :value 185, :process 0, :time 127608364700}
{:type :invoke, :f :write, :value 63, :process 8, :time 129598911700}
{:type :ok, :f :write, :value 63, :process 8, :time 129609550800}
{:type :invoke, :f :write, :value 88, :process 6, :time 131601112000}
{:type :ok, :f :write, :value 88, :process 6, :time 132481231400}
{:type :info, :f :stop, :process :nemesis, :time 132900639300}
{:type :invoke, :f :read, :value nil, :process 4, :time 133601876100}
{:type :ok, :f :read, :value 88, :process 4, :time 134136744700}
{:type :info, :f :stop, :process :nemesis, :time 135227983700, :value :network-healed}
{:type :invoke, :f :write, :value 59, :process 7, :time 135602178500}
{:type :ok, :f :write, :value 59, :process 7, :time 135610866800}
{:type :invoke, :f :write, :value 140, :process 0, :time 137603099000}
{:type :ok, :f :write, :value 140, :process 0, :time 137611195900}
{:type :invoke, :f :read, :value nil, :process 8, :time 139604767400}
{:type :ok, :f :read, :value 140, :process 8, :time 139611521100}
{:type :invoke, :f :write, :value 29, :process 6, :time 141605226600}
{:type :ok, :f :write, :value 29, :process 6, :time 141615043200}
{:type :invoke, :f :write, :value 166, :process 4, :time 143606047300}
{:type :ok, :f :write, :value 166, :process 4, :time 143616104300}
{:type :invoke, :f :read, :value nil, :process 7, :time 145606423200}
{:type :ok, :f :read, :value 166, :process 7, :time 145618021600}
{:type :invoke, :f :write, :value 48, :process 0, :time 147608112600}
{:type :ok, :f :write, :value 48, :process 0, :time 147625147900}
{:type :invoke, :f :write, :value 68, :process 8, :time 149611443800}
{:type :ok, :f :write, :value 68, :process 8, :time 149621590700}
{:type :invoke, :f :read, :value nil, :process 6, :time 151611989600}
{:type :ok, :f :read, :value 68, :process 6, :time 151619452300}
{:type :invoke, :f :write, :value 78, :process 4, :time 153613674800}
{:type :ok, :f :write, :value 78, :process 4, :time 153623646600}
{:type :invoke, :f :write, :value 206, :process 7, :time 155614850400}
{:type :ok, :f :write, :value 206, :process 7, :time 155625186500}
{:type :invoke, :f :read, :value nil, :process 0, :time 157616037400}
{:type :ok, :f :read, :value 206, :process 0, :time 157630965800}
{:type :invoke, :f :write, :value 159, :process 8, :time 159617964900}
{:type :ok, :f :write, :value 159, :process 8, :time 159627118200}
{:type :invoke, :f :write, :value 114, :process 6, :time 161618499600}
{:type :ok, :f :write, :value 114, :process 6, :time 161631702000}
{:type :invoke, :f :read, :value nil, :process 4, :time 163620482800}
{:type :ok, :f :read, :value 114, :process 4, :time 163637699500}
{:type :invoke, :f :write, :value 174, :process 7, :time 165620929700}
{:type :ok, :f :write, :value 174, :process 7, :time 165636521300}
{:type :invoke, :f :write, :value 200, :process 0, :time 167622771300}
{:type :ok, :f :write, :value 200, :process 0, :time 167632296000}
{:type :invoke, :f :read, :value nil, :process 8, :time 169626824200}
{:type :ok, :f :read, :value 200, :process 8, :time 169635597100}
{:type :invoke, :f :write, :value 178, :process 6, :time 171628854900}
{:type :ok, :f :write, :value 178, :process 6, :time 171638469400}
{:type :info, :f :start, :process :nemesis, :time 172233269800}
{:type :invoke, :f :write, :value 184, :process 4, :time 173630916200}
{:type :ok, :f :write, :value 184, :process 4, :time 174124855600}
{:type :info, :f :start, :process :nemesis, :time 174930715500, :value [:isolated {"n1" #{"n2"}, "n2" #{"n3"}, "n3" #{"n4"}, "n4" #{"n5"}}]}
{:type :invoke, :f :read, :value nil, :process 7, :time 175631580300}
{:type :ok, :f :read, :value 184, :process 7, :time 175643894500}
{:type :invoke, :f :write, :value 79, :process 0, :time 177632573700}
{:type :ok, :f :write, :value 79, :process 0, :time 177644989000}
{:type :invoke, :f :write, :value 202, :process 8, :time 179633459500}
{:type :ok, :f :write, :value 202, :process 8, :time 180643856200}
{:type :invoke, :f :read, :value nil, :process 6, :time 181634793900}
{:type :ok, :f :read, :value 202, :process 6, :time 182646809100}
{:type :invoke, :f :write, :value 86, :process 4, :time 183638967100}
{:type :ok, :f :write, :value 86, :process 4, :time 184521749100}
{:type :info, :f :stop, :process :nemesis, :time 211934302900}
{:type :info, :f :stop, :process :nemesis, :time 214656868300, :value :network-healed}
{:type :info, :f :log-packet-data, :process 6, :time 221660565100}
{:type :info, :f :log-packet-data, :process 6, :time 221788110800}
