{:type :info, :f :setup-packet-logging, :process 1, :time 5223517100}
{:type :info, :f :setup-packet-logging, :process 1, :time 6840312200}
{:type :info, :f :start, :process :nemesis, :time 13878765000}
{:type :info, :f :start, :process :nemesis, :time 14262983300}
{:type :invoke, :f :write, :value 120, :process 2, :time 15878589100}
{:type :ok, :f :write, :value 120, :process 2, :time 15999955200}
{:type :invoke, :f :read, :value nil, :process 6, :time 17879576700}
{:type :ok, :f :read, :value 120, :process 6, :time 17990871500}
{:type :invoke, :f :write, :value 79, :process 3, :time 19880662500}
{:type :ok, :f :write, :value 79, :process 3, :time 19979297300}
{:type :invoke, :f :write, :value 136, :process 0, :time 21884243500}
{:type :ok, :f :write, :value 136, :process 0, :time 21896350900}
{:type :invoke, :f :read, :value nil, :process 4, :time 23884621700}
{:type :ok, :f :read, :value 136, :process 4, :time 23994090100}
{:type :invoke, :f :write, :value 80, :process 2, :time 25886025700}
{:type :ok, :f :write, :value 80, :process 2, :time 25991538300}
{:type :invoke, :f :write, :value 107, :process 6, :time 27886732600}
{:type :ok, :f :write, :value 107, :process 6, :time 27998101900}
{:type :invoke, :f :read, :value nil, :process 3, :time 29887905600}
{:type :ok, :f :read, :value 107, :process 3, :time 29991532900}
{:type :invoke, :f :write, :value 28, :process 0, :time 31888770600}
{:type :ok, :f :write, :value 28, :process 0, :time 31899726800}
{:type :invoke, :f :write, :value 32, :process 4, :time 33890137100}
{:type :ok, :f :write, :value 32, :process 4, :time 33994288400}
{:type :invoke, :f :read, :value nil, :process 2, :time 35890580200}
{:type :ok, :f :read, :value 32, :process 2, :time 36006307600}
{:type :invoke, :f :write, :value 55, :process 6, :time 37891268500}
{:type :ok, :f :write, :value 55, :process 6, :time 37994085900}
{:type :invoke, :f :write, :value 47, :process 3, :time 39891780000}
{:type :ok, :f :write, :value 47, :process 3, :time 40008628500}
{:type :invoke, :f :read, :value nil, :process 0, :time 41892546900}
{:type :ok, :f :read, :value 47, :process 0, :time 41901341100}
{:type :invoke, :f :write, :value 79, :process 4, :time 43893165600}
{:type :ok, :f :write, :value 79, :process 4, :time 44059124600}
{:type :invoke, :f :write, :value 194, :process 2, :time 45897094100}
{:type :ok, :f :write, :value 194, :process 2, :time 46012242600}
{:type :invoke, :f :read, :value nil, :process 6, :time 47897979100}
{:type :ok, :f :read, :value 194, :process 6, :time 48007332000}
{:type :invoke, :f :write, :value 120, :process 3, :time 49898926700}
{:type :ok, :f :write, :value 120, :process 3, :time 50007340800}
{:type :info, :f :stop, :process :nemesis, :time 51267247300}
{:type :info, :f :stop, :process :nemesis, :time 51645046100}
{:type :invoke, :f :write, :value 106, :process 0, :time 51899839500}
{:type :ok, :f :write, :value 106, :process 0, :time 51908033000}
{:type :invoke, :f :read, :value nil, :process 4, :time 53902408600}
{:type :ok, :f :read, :value 106, :process 4, :time 53911359900}
{:type :invoke, :f :write, :value 107, :process 2, :time 55902913500}
{:type :ok, :f :write, :value 107, :process 2, :time 55914287200}
{:type :invoke, :f :write, :value 25, :process 6, :time 57905133200}
{:type :ok, :f :write, :value 25, :process 6, :time 57915626900}
{:type :invoke, :f :read, :value nil, :process 3, :time 59906471000}
{:type :ok, :f :read, :value 25, :process 3, :time 59920659400}
{:type :invoke, :f :write, :value 164, :process 0, :time 61907264000}
{:type :ok, :f :write, :value 164, :process 0, :time 61917898000}
{:type :invoke, :f :write, :value 196, :process 4, :time 63907989000}
{:type :ok, :f :write, :value 196, :process 4, :time 63922115600}
{:type :invoke, :f :read, :value nil, :process 2, :time 65908517000}
{:type :ok, :f :read, :value 196, :process 2, :time 65917227500}
{:type :invoke, :f :write, :value 125, :process 6, :time 67910516100}
{:type :ok, :f :write, :value 125, :process 6, :time 67918925100}
{:type :invoke, :f :write, :value 162, :process 3, :time 69911314200}
{:type :ok, :f :write, :value 162, :process 3, :time 69919362100}
{:type :invoke, :f :read, :value nil, :process 0, :time 71912854100}
{:type :ok, :f :read, :value 162, :process 0, :time 71925557200}
{:type :invoke, :f :write, :value 143, :process 4, :time 73915536300}
{:type :ok, :f :write, :value 143, :process 4, :time 73925616600}
{:type :invoke, :f :write, :value 22, :process 2, :time 75917523700}
{:type :ok, :f :write, :value 22, :process 2, :time 75928618900}
{:type :invoke, :f :read, :value nil, :process 6, :time 77918588400}
{:type :ok, :f :read, :value 22, :process 6, :time 77928652300}
{:type :invoke, :f :write, :value 22, :process 3, :time 79919034500}
{:type :ok, :f :write, :value 22, :process 3, :time 79929782800}
{:type :invoke, :f :write, :value 43, :process 0, :time 81920322300}
{:type :ok, :f :write, :value 43, :process 0, :time 81928009600}
{:type :invoke, :f :read, :value nil, :process 4, :time 83922127900}
{:type :ok, :f :read, :value 43, :process 4, :time 83934821300}
{:type :invoke, :f :write, :value 122, :process 2, :time 85927240900}
{:type :ok, :f :write, :value 122, :process 2, :time 85939590500}
{:type :invoke, :f :write, :value 141, :process 6, :time 87929563300}
{:type :ok, :f :write, :value 141, :process 6, :time 87937861100}
{:type :info, :f :start, :process :nemesis, :time 88649431700}
{:type :invoke, :f :read, :value nil, :process 3, :time 89930157400}
{:type :ok, :f :read, :value 141, :process 3, :time 89943188500}
{:type :info, :f :start, :process :nemesis, :time 91498317500}
{:type :invoke, :f :write, :value 208, :process 0, :time 91931774900}
{:type :ok, :f :write, :value 208, :process 0, :time 91959680600}
{:type :invoke, :f :write, :value 132, :process 4, :time 93937114300}
{:type :ok, :f :write, :value 132, :process 4, :time 94046261300}
{:type :invoke, :f :read, :value nil, :process 2, :time 95938468200}
{:type :ok, :f :read, :value 132, :process 2, :time 96041237700}
{:type :invoke, :f :write, :value 100, :process 6, :time 97939504800}
{:type :ok, :f :write, :value 100, :process 6, :time 98043737300}
{:type :invoke, :f :write, :value 109, :process 3, :time 99939810500}
{:type :ok, :f :write, :value 109, :process 3, :time 100049744800}
{:type :invoke, :f :read, :value nil, :process 0, :time 101941370900}
{:type :ok, :f :read, :value 109, :process 0, :time 101952876300}
{:type :invoke, :f :write, :value 176, :process 4, :time 103942591400}
{:type :ok, :f :write, :value 176, :process 4, :time 104050960800}
{:type :invoke, :f :write, :value 34, :process 2, :time 105943012400}
{:type :ok, :f :write, :value 34, :process 2, :time 106052814800}
{:type :invoke, :f :read, :value nil, :process 6, :time 107945605500}
{:type :ok, :f :read, :value 34, :process 6, :time 108053386800}
{:type :invoke, :f :write, :value 196, :process 3, :time 109947607300}
{:type :ok, :f :write, :value 196, :process 3, :time 110051047700}
{:type :invoke, :f :write, :value 127, :process 0, :time 111948427500}
{:type :ok, :f :write, :value 127, :process 0, :time 111958985400}
{:type :invoke, :f :read, :value nil, :process 4, :time 113949050000}
{:type :ok, :f :read, :value 127, :process 4, :time 114067856300}
{:type :invoke, :f :write, :value 210, :process 2, :time 115949785300}
{:type :ok, :f :write, :value 210, :process 2, :time 116067185200}
{:type :invoke, :f :write, :value 128, :process 6, :time 117951166300}
{:type :ok, :f :write, :value 128, :process 6, :time 118071491600}
{:type :invoke, :f :read, :value nil, :process 3, :time 119952243700}
{:type :ok, :f :read, :value 128, :process 3, :time 120085479300}
{:type :invoke, :f :write, :value 40, :process 0, :time 121953772500}
{:type :ok, :f :write, :value 40, :process 0, :time 121969049200}
{:type :invoke, :f :write, :value 99, :process 4, :time 123954105300}
{:type :ok, :f :write, :value 99, :process 4, :time 124070252900}
{:type :invoke, :f :read, :value nil, :process 2, :time 125955637300}
{:type :ok, :f :read, :value 99, :process 2, :time 126070748000}
{:type :invoke, :f :write, :value 201, :process 6, :time 127956141700}
{:type :ok, :f :write, :value 201, :process 6, :time 128062104500}
{:type :info, :f :stop, :process :nemesis, :time 128502081100}
{:type :info, :f :stop, :process :nemesis, :time 128867018700}
{:type :invoke, :f :write, :value 97, :process 3, :time 129956834300}
{:type :ok, :f :write, :value 97, :process 3, :time 129962670800}
{:type :invoke, :f :read, :value nil, :process 0, :time 131957381300}
{:type :ok, :f :read, :value 97, :process 0, :time 131969446600}
{:type :invoke, :f :write, :value 122, :process 4, :time 133957827000}
{:type :ok, :f :write, :value 122, :process 4, :time 133966439800}
{:type :invoke, :f :write, :value 145, :process 2, :time 135958374700}
{:type :ok, :f :write, :value 145, :process 2, :time 135968789800}
{:type :invoke, :f :read, :value nil, :process 6, :time 137958785900}
{:type :ok, :f :read, :value 145, :process 6, :time 137984012900}
{:type :invoke, :f :write, :value 83, :process 3, :time 139961150400}
{:type :ok, :f :write, :value 83, :process 3, :time 139975954000}
{:type :invoke, :f :write, :value 173, :process 0, :time 141963238100}
{:type :ok, :f :write, :value 173, :process 0, :time 141971130900}
{:type :invoke, :f :read, :value nil, :process 4, :time 143963656000}
{:type :ok, :f :read, :value 173, :process 4, :time 143976267500}
{:type :invoke, :f :write, :value 179, :process 2, :time 145964226700}
{:type :ok, :f :write, :value 179, :process 2, :time 145971687100}
{:type :invoke, :f :write, :value 22, :process 6, :time 147964910300}
{:type :ok, :f :write, :value 22, :process 6, :time 147973241700}
{:type :invoke, :f :read, :value nil, :process 3, :time 149965999300}
{:type :ok, :f :read, :value 22, :process 3, :time 149979536600}
{:type :invoke, :f :write, :value 31, :process 0, :time 151967380200}
{:type :ok, :f :write, :value 31, :process 0, :time 151976609300}
{:type :invoke, :f :write, :value 169, :process 4, :time 153967714300}
{:type :ok, :f :write, :value 169, :process 4, :time 153974738900}
{:type :invoke, :f :read, :value nil, :process 2, :time 155972676400}
{:type :ok, :f :read, :value 169, :process 2, :time 156030237500}
{:type :invoke, :f :write, :value 25, :process 6, :time 157976186800}
{:type :ok, :f :write, :value 25, :process 6, :time 158045952200}
{:type :invoke, :f :write, :value 156, :process 3, :time 159976806200}
{:type :ok, :f :write, :value 156, :process 3, :time 159983856400}
{:type :invoke, :f :read, :value nil, :process 0, :time 161977169900}
{:type :ok, :f :read, :value 156, :process 0, :time 161985679500}
{:type :invoke, :f :write, :value 181, :process 4, :time 163980094600}
{:type :ok, :f :write, :value 181, :process 4, :time 163991839600}
{:type :info, :f :start, :process :nemesis, :time 165871198300}
{:type :invoke, :f :write, :value 26, :process 2, :time 166212004100}
{:type :ok, :f :write, :value 26, :process 2, :time 166517310700}
{:type :invoke, :f :read, :value nil, :process 6, :time 168221613500}
{:type :ok, :f :read, :value 26, :process 6, :time 168331797300}
{:type :info, :f :start, :process :nemesis, :time 168773549300}
{:type :invoke, :f :write, :value 142, :process 3, :time 170222334100}
{:type :ok, :f :write, :value 142, :process 3, :time 170331347700}
{:type :invoke, :f :write, :value 171, :process 0, :time 172223920300}
{:type :ok, :f :write, :value 171, :process 0, :time 172242458500}
{:type :invoke, :f :read, :value nil, :process 4, :time 174226117400}
{:type :ok, :f :read, :value 171, :process 4, :time 174337289200}
{:type :invoke, :f :write, :value 46, :process 2, :time 176227326400}
{:type :ok, :f :write, :value 46, :process 2, :time 176341298800}
{:type :invoke, :f :write, :value 130, :process 6, :time 178229816600}
{:type :ok, :f :write, :value 130, :process 6, :time 178334649600}
{:type :invoke, :f :read, :value nil, :process 3, :time 180230428700}
{:type :ok, :f :read, :value 130, :process 3, :time 180342767600}
{:type :invoke, :f :write, :value 197, :process 0, :time 182231109300}
{:type :ok, :f :write, :value 197, :process 0, :time 182242366700}
{:type :info, :f :stop, :process :nemesis, :time 205777198000}
{:type :info, :f :stop, :process :nemesis, :time 206142351300}
{:type :info, :f :log-packet-data, :process 6, :time 213145921800}
{:type :info, :f :log-packet-data, :process 6, :time 214936460200}
