{:type :info, :f :setup-packet-logging, :process 1, :time 5522847300}
{:type :info, :f :setup-packet-logging, :process 1, :time 7306116900, :error "indeterminate: "}
{:type :info, :f :start, :process :nemesis, :time 14330891500}
{:type :info, :f :start, :process :nemesis, :time 16136523700, :value [:isolated {"n2" #{"n5" "n4"}, "n1" #{"n5" "n4"}, "n5" #{"n2" "n1"}, "n4" #{"n2" "n1"}}]}
{:type :invoke, :f :write, :value 120, :process 2, :time 16331358800}
{:type :ok, :f :write, :value 120, :process 2, :time 17425799700}
{:type :invoke, :f :read, :value nil, :process 6, :time 18332086900}
{:type :ok, :f :read, :value 120, :process 6, :time 19827385300}
{:type :invoke, :f :write, :value 174, :process 0, :time 20334173100}
{:type :ok, :f :write, :value 174, :process 0, :time 20351936000}
{:type :invoke, :f :write, :value 146, :process 3, :time 22334531900}
{:type :ok, :f :write, :value 146, :process 3, :time 23348907800}
{:type :invoke, :f :read, :value nil, :process 4, :time 24336029300}
{:type :ok, :f :read, :value 146, :process 4, :time 24420086700}
{:type :invoke, :f :write, :value 156, :process 2, :time 26439680700}
{:type :ok, :f :write, :value 156, :process 2, :time 27512417200}
{:type :invoke, :f :write, :value 182, :process 6, :time 28834693600}
{:type :ok, :f :write, :value 182, :process 6, :time 28898073100}
{:type :invoke, :f :read, :value nil, :process 0, :time 30836997900}
{:type :ok, :f :read, :value 182, :process 0, :time 30855382900}
{:type :invoke, :f :write, :value 71, :process 3, :time 32838339000}
{:type :ok, :f :write, :value 71, :process 3, :time 32948416700}
{:type :invoke, :f :write, :value 161, :process 4, :time 34841045100}
{:type :ok, :f :write, :value 161, :process 4, :time 34859902200}
{:type :invoke, :f :read, :value nil, :process 2, :time 36845065700}
{:type :ok, :f :read, :value 161, :process 2, :time 36871704000}
{:type :invoke, :f :write, :value 184, :process 6, :time 38846893800}
{:type :ok, :f :write, :value 184, :process 6, :time 39196605800}
{:type :invoke, :f :write, :value 208, :process 0, :time 40847363300}
{:type :ok, :f :write, :value 208, :process 0, :time 40856489000}
{:type :invoke, :f :read, :value nil, :process 3, :time 42850285300}
{:type :ok, :f :read, :value 208, :process 3, :time 43892001600}
{:type :invoke, :f :write, :value 177, :process 4, :time 44853781600}
{:type :ok, :f :write, :value 177, :process 4, :time 45122260100}
{:type :invoke, :f :write, :value 68, :process 2, :time 46855445400}
{:type :ok, :f :write, :value 68, :process 2, :time 47268136600}
{:type :invoke, :f :read, :value nil, :process 6, :time 48856931400}
{:type :ok, :f :read, :value 68, :process 6, :time 48892940400}
{:type :invoke, :f :write, :value 52, :process 0, :time 50872528300}
{:type :ok, :f :write, :value 52, :process 0, :time 50895911100}
{:type :invoke, :f :write, :value 81, :process 3, :time 52926608700}
{:type :ok, :f :write, :value 81, :process 3, :time 52941721200}
{:type :info, :f :stop, :process :nemesis, :time 53157698800}
{:type :invoke, :f :read, :value nil, :process 4, :time 54928383800}
{:type :ok, :f :read, :value 81, :process 4, :time 55991237000}
{:type :info, :f :stop, :process :nemesis, :time 56653628500, :value :network-healed}
{:type :invoke, :f :write, :value 140, :process 2, :time 56929620900}
{:type :ok, :f :write, :value 140, :process 2, :time 56943072200}
{:type :invoke, :f :write, :value 160, :process 6, :time 58929981300}
{:type :ok, :f :write, :value 160, :process 6, :time 58948403000}
{:type :invoke, :f :read, :value nil, :process 0, :time 60931767900}
{:type :ok, :f :read, :value 160, :process 0, :time 60948721800}
{:type :invoke, :f :write, :value 98, :process 3, :time 62933965000}
{:type :ok, :f :write, :value 98, :process 3, :time 62955551100}
{:type :invoke, :f :write, :value 74, :process 4, :time 64996418600}
{:type :ok, :f :write, :value 74, :process 4, :time 65007623800}
{:type :invoke, :f :read, :value nil, :process 2, :time 66997918300}
{:type :ok, :f :read, :value 74, :process 2, :time 67016303800}
{:type :invoke, :f :write, :value 205, :process 6, :time 68998406500}
{:type :ok, :f :write, :value 205, :process 6, :time 69011589000}
{:type :invoke, :f :write, :value 202, :process 0, :time 71001786800}
{:type :ok, :f :write, :value 202, :process 0, :time 71014931000}
{:type :invoke, :f :read, :value nil, :process 3, :time 73002216700}
{:type :ok, :f :read, :value 202, :process 3, :time 73030979100}
{:type :invoke, :f :write, :value 89, :process 4, :time 75005023300}
{:type :ok, :f :write, :value 89, :process 4, :time 75016628000}
{:type :invoke, :f :write, :value 117, :process 2, :time 77006978500}
{:type :ok, :f :write, :value 117, :process 2, :time 77044455500}
{:type :invoke, :f :read, :value nil, :process 6, :time 79009294800}
{:type :ok, :f :read, :value 117, :process 6, :time 79023550900}
{:type :invoke, :f :write, :value 139, :process 0, :time 81012048900}
{:type :ok, :f :write, :value 139, :process 0, :time 81038399500}
{:type :invoke, :f :write, :value 206, :process 3, :time 83018764800}
{:type :ok, :f :write, :value 206, :process 3, :time 83033481600}
{:type :invoke, :f :read, :value nil, :process 4, :time 85022307700}
{:type :ok, :f :read, :value 206, :process 4, :time 85033056000}
{:type :invoke, :f :write, :value 127, :process 2, :time 87023816500}
{:type :ok, :f :write, :value 127, :process 2, :time 87036124000}
{:type :invoke, :f :write, :value 37, :process 6, :time 89024685000}
{:type :ok, :f :write, :value 37, :process 6, :time 89034870000}
{:type :invoke, :f :read, :value nil, :process 0, :time 91026975900}
{:type :ok, :f :read, :value 37, :process 0, :time 91036739300}
{:type :invoke, :f :write, :value 184, :process 3, :time 93027567200}
{:type :ok, :f :write, :value 184, :process 3, :time 93038020900}
{:type :info, :f :start, :process :nemesis, :time 93656535200}
{:type :invoke, :f :write, :value 120, :process 4, :time 95028418000}
{:type :ok, :f :write, :value 120, :process 4, :time 95038139900}
{:type :info, :f :start, :process :nemesis, :time 95264673100, :value [:isolated {"n2" #{"n5" "n4"}, "n1" #{"n5" "n4"}, "n5" #{"n2" "n1"}, "n4" #{"n2" "n1"}}]}
{:type :invoke, :f :read, :value nil, :process 2, :time 97029609500}
{:type :ok, :f :read, :value 120, :process 2, :time 97915897300}
{:type :invoke, :f :write, :value 153, :process 6, :time 99032615700}
{:type :ok, :f :write, :value 153, :process 6, :time 99043455400}
{:type :invoke, :f :write, :value 194, :process 0, :time 101034311300}
{:type :ok, :f :write, :value 194, :process 0, :time 101046817800}
{:type :invoke, :f :read, :value nil, :process 3, :time 103035765000}
{:type :info, :f :read, :value nil, :process 3, :time 104141051500, :error "indeterminate: EOF while reading"}
{:type :invoke, :f :write, :value 114, :process 4, :time 105038727500}
{:type :ok, :f :write, :value 114, :process 4, :time 105454359000}
{:type :invoke, :f :write, :value 167, :process 2, :time 107041268900}
{:type :ok, :f :write, :value 167, :process 2, :time 107054660200}
{:type :invoke, :f :read, :value nil, :process 6, :time 109044798100}
{:type :ok, :f :read, :value 167, :process 6, :time 109394040500}
{:type :invoke, :f :write, :value 198, :process 0, :time 111046248000}
{:type :ok, :f :write, :value 198, :process 0, :time 111062054100}
{:type :invoke, :f :write, :value 110, :process 8, :time 113189365600}
{:type :ok, :f :write, :value 110, :process 8, :time 113884539800}
{:type :invoke, :f :read, :value nil, :process 4, :time 115191350300}
{:type :ok, :f :read, :value 110, :process 4, :time 115447983400}
{:type :invoke, :f :write, :value 57, :process 2, :time 117193514400}
{:type :ok, :f :write, :value 57, :process 2, :time 117529359100}
{:type :invoke, :f :write, :value 151, :process 6, :time 119195408000}
{:type :ok, :f :write, :value 151, :process 6, :time 119604182000}
{:type :invoke, :f :read, :value nil, :process 0, :time 121197345400}
{:type :ok, :f :read, :value 151, :process 0, :time 121204173900}
{:type :invoke, :f :write, :value 219, :process 8, :time 123199814700}
{:type :ok, :f :write, :value 219, :process 8, :time 123212588600}
{:type :invoke, :f :write, :value 109, :process 4, :time 125200521500}
{:type :ok, :f :write, :value 109, :process 4, :time 125763548800}
{:type :invoke, :f :read, :value nil, :process 2, :time 127202179300}
{:type :ok, :f :read, :value 109, :process 2, :time 127673036900}
{:type :invoke, :f :write, :value 108, :process 6, :time 129203249900}
{:type :ok, :f :write, :value 108, :process 6, :time 129476887300}
{:type :invoke, :f :write, :value 81, :process 0, :time 131205628800}
{:type :ok, :f :write, :value 81, :process 0, :time 131219913800}
{:type :info, :f :stop, :process :nemesis, :time 132269490900}
{:type :invoke, :f :read, :value nil, :process 8, :time 133206170700}
{:type :ok, :f :read, :value 81, :process 8, :time 133215083700}
{:type :invoke, :f :write, :value 195, :process 4, :time 135207681600}
{:type :ok, :f :write, :value 195, :process 4, :time 135217388500}
{:type :info, :f :stop, :process :nemesis, :time 136428486300, :value :network-healed}
{:type :invoke, :f :write, :value 177, :process 2, :time 137208988900}
{:type :ok, :f :write, :value 177, :process 2, :time 137219644400}
{:type :invoke, :f :read, :value nil, :process 6, :time 139209559000}
{:type :ok, :f :read, :value 177, :process 6, :time 139219287300}
{:type :invoke, :f :write, :value 99, :process 0, :time 141210070500}
{:type :ok, :f :write, :value 99, :process 0, :time 141223082600}
{:type :invoke, :f :write, :value 148, :process 8, :time 143212369300}
{:type :ok, :f :write, :value 148, :process 8, :time 143224682400}
{:type :invoke, :f :read, :value nil, :process 4, :time 145214994400}
{:type :ok, :f :read, :value 148, :process 4, :time 145228205300}
{:type :invoke, :f :write, :value 114, :process 2, :time 147216387600}
{:type :ok, :f :write, :value 114, :process 2, :time 147230093300}
{:type :invoke, :f :write, :value 139, :process 6, :time 149216717400}
{:type :ok, :f :write, :value 139, :process 6, :time 149224454000}
{:type :invoke, :f :read, :value nil, :process 0, :time 151218267600}
{:type :ok, :f :read, :value 139, :process 0, :time 151233700600}
{:type :invoke, :f :write, :value 23, :process 8, :time 153220003000}
{:type :ok, :f :write, :value 23, :process 8, :time 153229938200}
{:type :invoke, :f :write, :value 210, :process 4, :time 155221594900}
{:type :ok, :f :write, :value 210, :process 4, :time 155230931400}
{:type :invoke, :f :read, :value nil, :process 2, :time 157221918800}
{:type :ok, :f :read, :value 210, :process 2, :time 157234629700}
{:type :invoke, :f :write, :value 118, :process 6, :time 159222291800}
{:type :ok, :f :write, :value 118, :process 6, :time 159237030800}
{:type :invoke, :f :write, :value 171, :process 0, :time 161222999600}
{:type :ok, :f :write, :value 171, :process 0, :time 161234034700}
{:type :invoke, :f :read, :value nil, :process 8, :time 163224287000}
{:type :ok, :f :read, :value 171, :process 8, :time 163236921400}
{:type :invoke, :f :write, :value 33, :process 4, :time 165225160800}
{:type :ok, :f :write, :value 33, :process 4, :time 165232210200}
{:type :invoke, :f :write, :value 99, :process 2, :time 167226042900}
{:type :ok, :f :write, :value 99, :process 2, :time 167237476500}
{:type :invoke, :f :read, :value nil, :process 6, :time 169227836000}
{:type :ok, :f :read, :value 99, :process 6, :time 169239912500}
{:type :invoke, :f :write, :value 58, :process 0, :time 171229082300}
{:type :ok, :f :write, :value 58, :process 0, :time 171238520200}
{:type :invoke, :f :write, :value 132, :process 8, :time 173232049800}
{:type :ok, :f :write, :value 132, :process 8, :time 173238186000}
{:type :info, :f :start, :process :nemesis, :time 173434456500}
{:type :invoke, :f :read, :value nil, :process 4, :time 175233516900}
{:type :ok, :f :read, :value 132, :process 4, :time 175979016900}
{:type :info, :f :start, :process :nemesis, :time 176312243400, :value [:isolated {"n2" #{"n5" "n4"}, "n1" #{"n5" "n4"}, "n5" #{"n2" "n1"}, "n4" #{"n2" "n1"}}]}
{:type :invoke, :f :write, :value 129, :process 2, :time 177234493400}
{:type :ok, :f :write, :value 129, :process 2, :time 177534070500}
{:type :invoke, :f :write, :value 116, :process 6, :time 179235538700}
{:type :ok, :f :write, :value 116, :process 6, :time 179243946300}
{:type :invoke, :f :read, :value nil, :process 0, :time 181238643700}
{:type :ok, :f :read, :value 116, :process 0, :time 181249714600}
{:type :invoke, :f :write, :value 174, :process 8, :time 183241582000}
{:type :ok, :f :write, :value 174, :process 8, :time 183250943200}
{:type :invoke, :f :write, :value 49, :process 4, :time 185241954500}
{:type :ok, :f :write, :value 49, :process 4, :time 185466041800}
{:type :info, :f :log-packet-data, :process 6, :time 192469705800}
{:type :info, :f :log-packet-data, :process 6, :time 194281084600}
