{:type :info, :f :setup-packet-logging, :process 1, :time 5435697400}
{:type :info, :f :setup-packet-logging, :process 1, :time 7070182600}
{:type :info, :f :start, :process :nemesis, :time 14090559200}
{:type :info, :f :start, :process :nemesis, :time 14727228600, :value [:isolated {"n1" #{"n2"}, "n2" #{"n3"}, "n3" #{"n4"}, "n4" #{"n5"}}]}
{:type :invoke, :f :write, :value 120, :process 3, :time 16090799700}
{:type :ok, :f :write, :value 120, :process 3, :time 16102957200}
{:type :invoke, :f :read, :value nil, :process 6, :time 18092054700}
{:type :ok, :f :read, :value 120, :process 6, :time 18118310700}
{:type :invoke, :f :write, :value 120, :process 4, :time 20093274700}
{:type :ok, :f :write, :value 120, :process 4, :time 20103810100}
{:type :invoke, :f :write, :value 201, :process 2, :time 22095166100}
{:type :ok, :f :write, :value 201, :process 2, :time 22161400400}
{:type :invoke, :f :read, :value nil, :process 0, :time 24096817700}
{:type :ok, :f :read, :value 201, :process 0, :time 24108369600}
{:type :invoke, :f :write, :value 162, :process 3, :time 26097272400}
{:type :ok, :f :write, :value 162, :process 3, :time 26109553600}
{:type :invoke, :f :write, :value 76, :process 6, :time 28098041200}
{:type :ok, :f :write, :value 76, :process 6, :time 28132662900}
{:type :invoke, :f :read, :value nil, :process 4, :time 30098310300}
{:type :ok, :f :read, :value 76, :process 4, :time 30203219300}
{:type :invoke, :f :write, :value 143, :process 2, :time 32098721900}
{:type :ok, :f :write, :value 143, :process 2, :time 32136182100}
{:type :invoke, :f :write, :value 93, :process 0, :time 34099742700}
{:type :ok, :f :write, :value 93, :process 0, :time 34112118400}
{:type :invoke, :f :read, :value nil, :process 3, :time 36100049500}
{:type :ok, :f :read, :value 93, :process 3, :time 36124335800}
{:type :invoke, :f :write, :value 68, :process 6, :time 38102502300}
{:type :ok, :f :write, :value 68, :process 6, :time 38186212400}
{:type :invoke, :f :write, :value 182, :process 4, :time 40103434800}
{:type :ok, :f :write, :value 182, :process 4, :time 40113234200}
{:type :invoke, :f :read, :value nil, :process 2, :time 42105412200}
{:type :ok, :f :read, :value 182, :process 2, :time 42169179500}
{:type :invoke, :f :write, :value 74, :process 0, :time 44106808100}
{:type :ok, :f :write, :value 74, :process 0, :time 44121967300}
{:type :invoke, :f :write, :value 194, :process 3, :time 46107492300}
{:type :ok, :f :write, :value 194, :process 3, :time 46123346900}
{:type :invoke, :f :read, :value nil, :process 6, :time 48109847200}
{:type :ok, :f :read, :value 194, :process 6, :time 48217860000}
{:type :invoke, :f :write, :value 39, :process 4, :time 50110770700}
{:type :ok, :f :write, :value 39, :process 4, :time 50205719000}
{:type :info, :f :stop, :process :nemesis, :time 51737040800}
{:type :invoke, :f :write, :value 81, :process 2, :time 52111238900}
{:type :ok, :f :write, :value 81, :process 2, :time 52171942700}
{:type :invoke, :f :read, :value nil, :process 0, :time 54112816500}
{:type :ok, :f :read, :value 81, :process 0, :time 54124808800}
{:type :info, :f :stop, :process :nemesis, :time 54339455100, :value :network-healed}
{:type :invoke, :f :write, :value 60, :process 3, :time 56114610600}
{:type :ok, :f :write, :value 60, :process 3, :time 56124818500}
{:type :invoke, :f :write, :value 140, :process 6, :time 58114979400}
{:type :ok, :f :write, :value 140, :process 6, :time 58128101000}
{:type :invoke, :f :read, :value nil, :process 4, :time 60115365800}
{:type :ok, :f :read, :value 140, :process 4, :time 60127526800}
{:type :invoke, :f :write, :value 187, :process 2, :time 62115917100}
{:type :ok, :f :write, :value 187, :process 2, :time 62125052400}
{:type :invoke, :f :write, :value 106, :process 0, :time 64118054900}
{:type :ok, :f :write, :value 106, :process 0, :time 64128245800}
{:type :invoke, :f :read, :value nil, :process 3, :time 66118414800}
{:type :ok, :f :read, :value 106, :process 3, :time 66128979400}
{:type :invoke, :f :write, :value 148, :process 6, :time 68119897800}
{:type :ok, :f :write, :value 148, :process 6, :time 68129788100}
{:type :invoke, :f :write, :value 186, :process 4, :time 70122268400}
{:type :ok, :f :write, :value 186, :process 4, :time 70134509700}
{:type :invoke, :f :read, :value nil, :process 2, :time 72123654000}
{:type :ok, :f :read, :value 186, :process 2, :time 72132300100}
{:type :invoke, :f :write, :value 96, :process 0, :time 74125587100}
{:type :ok, :f :write, :value 96, :process 0, :time 74139065000}
{:type :invoke, :f :write, :value 46, :process 3, :time 76130037400}
{:type :ok, :f :write, :value 46, :process 3, :time 76141040100}
{:type :invoke, :f :read, :value nil, :process 6, :time 78132760200}
{:type :ok, :f :read, :value 46, :process 6, :time 78143601800}
{:type :invoke, :f :write, :value 117, :process 4, :time 80133087500}
{:type :ok, :f :write, :value 117, :process 4, :time 80145114300}
{:type :invoke, :f :write, :value 186, :process 2, :time 82133567900}
{:type :ok, :f :write, :value 186, :process 2, :time 82142388700}
{:type :invoke, :f :read, :value nil, :process 0, :time 84134005600}
{:type :ok, :f :read, :value 186, :process 0, :time 84146224600}
{:type :invoke, :f :write, :value 148, :process 3, :time 86135611300}
{:type :ok, :f :write, :value 148, :process 3, :time 86147930900}
{:type :invoke, :f :write, :value 109, :process 6, :time 88136622200}
{:type :ok, :f :write, :value 109, :process 6, :time 88144832700}
{:type :invoke, :f :read, :value nil, :process 4, :time 90137130800}
{:type :ok, :f :read, :value 109, :process 4, :time 90151860500}
{:type :info, :f :start, :process :nemesis, :time 91342323500}
{:type :invoke, :f :write, :value 92, :process 2, :time 92138181300}
{:type :ok, :f :write, :value 92, :process 2, :time 92150098400}
{:type :info, :f :start, :process :nemesis, :time 93374431300, :value [:isolated {"n1" #{"n2"}, "n2" #{"n3"}, "n3" #{"n4"}, "n4" #{"n5"}}]}
{:type :invoke, :f :write, :value 121, :process 0, :time 94139676300}
{:type :ok, :f :write, :value 121, :process 0, :time 94154528100}
{:type :invoke, :f :read, :value nil, :process 3, :time 96141093600}
{:type :ok, :f :read, :value 121, :process 3, :time 96158014900}
{:type :invoke, :f :write, :value 90, :process 6, :time 98142446900}
{:type :ok, :f :write, :value 90, :process 6, :time 98168004800}
{:type :invoke, :f :write, :value 145, :process 4, :time 100142918500}
{:type :ok, :f :write, :value 145, :process 4, :time 100153567700}
{:type :invoke, :f :read, :value nil, :process 2, :time 102144060900}
{:type :ok, :f :read, :value 145, :process 2, :time 102179350700}
{:type :invoke, :f :write, :value 143, :process 0, :time 104145942000}
{:type :ok, :f :write, :value 143, :process 0, :time 104158041700}
{:type :invoke, :f :write, :value 149, :process 3, :time 106146427000}
{:type :ok, :f :write, :value 149, :process 3, :time 106154417800}
{:type :invoke, :f :read, :value nil, :process 6, :time 108146813900}
{:type :ok, :f :read, :value 149, :process 6, :time 108175060800}
{:type :invoke, :f :write, :value 114, :process 4, :time 110147655400}
{:type :ok, :f :write, :value 114, :process 4, :time 110350259400}
{:type :invoke, :f :write, :value 211, :process 2, :time 112148166000}
{:type :ok, :f :write, :value 211, :process 2, :time 112176019300}
{:type :invoke, :f :read, :value nil, :process 0, :time 114148708200}
{:type :ok, :f :read, :value 211, :process 0, :time 114158161300}
{:type :invoke, :f :write, :value 36, :process 3, :time 116149435300}
{:type :ok, :f :write, :value 36, :process 3, :time 116157259700}
{:type :invoke, :f :write, :value 148, :process 6, :time 118149820600}
{:type :ok, :f :write, :value 148, :process 6, :time 118165276000}
{:type :invoke, :f :read, :value nil, :process 4, :time 120150446900}
{:type :ok, :f :read, :value 148, :process 4, :time 120227330900}
{:type :invoke, :f :write, :value 217, :process 2, :time 122152467000}
{:type :ok, :f :write, :value 217, :process 2, :time 122178069100}
{:type :invoke, :f :write, :value 159, :process 0, :time 124153448100}
{:type :ok, :f :write, :value 159, :process 0, :time 124165209100}
{:type :invoke, :f :read, :value nil, :process 3, :time 126153846300}
{:type :ok, :f :read, :value 159, :process 3, :time 126210650400}
{:type :invoke, :f :write, :value 115, :process 6, :time 128155746100}
{:type :ok, :f :write, :value 115, :process 6, :time 128165473900}
{:type :invoke, :f :write, :value 66, :process 4, :time 130156866500}
{:type :ok, :f :write, :value 66, :process 4, :time 130174819700}
{:type :info, :f :stop, :process :nemesis, :time 130378961400}
{:type :invoke, :f :read, :value nil, :process 2, :time 132159654800}
{:type :ok, :f :read, :value 66, :process 2, :time 132168046100}
{:type :info, :f :stop, :process :nemesis, :time 132347810500, :value :network-healed}
{:type :invoke, :f :write, :value 21, :process 0, :time 134160474200}
{:type :ok, :f :write, :value 21, :process 0, :time 134169792500}
{:type :invoke, :f :write, :value 43, :process 3, :time 136162935200}
{:type :ok, :f :write, :value 43, :process 3, :time 136174308300}
{:type :invoke, :f :read, :value nil, :process 6, :time 138164354900}
{:type :ok, :f :read, :value 43, :process 6, :time 138175976400}
{:type :invoke, :f :write, :value 112, :process 4, :time 140165361900}
{:type :ok, :f :write, :value 112, :process 4, :time 140174699500}
{:type :invoke, :f :write, :value 146, :process 2, :time 142167250000}
{:type :ok, :f :write, :value 146, :process 2, :time 142176656600}
{:type :invoke, :f :read, :value nil, :process 0, :time 144169665600}
{:type :ok, :f :read, :value 146, :process 0, :time 144175634900}
{:type :invoke, :f :write, :value 73, :process 3, :time 146170233000}
{:type :ok, :f :write, :value 73, :process 3, :time 146178058500}
{:type :invoke, :f :write, :value 93, :process 6, :time 148171501200}
{:type :ok, :f :write, :value 93, :process 6, :time 148179009500}
{:type :invoke, :f :read, :value nil, :process 4, :time 150172716000}
{:type :ok, :f :read, :value 93, :process 4, :time 150182186100}
{:type :invoke, :f :write, :value 178, :process 2, :time 152173083500}
{:type :ok, :f :write, :value 178, :process 2, :time 152181300400}
{:type :invoke, :f :write, :value 171, :process 0, :time 154173386700}
{:type :ok, :f :write, :value 171, :process 0, :time 154180839400}
{:type :invoke, :f :read, :value nil, :process 3, :time 156174525100}
{:type :ok, :f :read, :value 171, :process 3, :time 156186250400}
{:type :invoke, :f :write, :value 85, :process 6, :time 158175862500}
{:type :ok, :f :write, :value 85, :process 6, :time 158184048400}
{:type :invoke, :f :write, :value 150, :process 4, :time 160176350400}
{:type :ok, :f :write, :value 150, :process 4, :time 160184001500}
{:type :invoke, :f :read, :value nil, :process 2, :time 162177785700}
{:type :ok, :f :read, :value 150, :process 2, :time 162184573900}
{:type :invoke, :f :write, :value 73, :process 0, :time 164179376500}
{:type :ok, :f :write, :value 73, :process 0, :time 164186444100}
{:type :invoke, :f :write, :value 138, :process 3, :time 166181337600}
{:type :ok, :f :write, :value 138, :process 3, :time 166189960300}
{:type :invoke, :f :read, :value nil, :process 6, :time 168183313000}
{:type :ok, :f :read, :value 138, :process 6, :time 168196838100}
{:type :info, :f :start, :process :nemesis, :time 169351375000}
{:type :info, :f :start, :process :nemesis, :time 169832630700, :value [:isolated {"n1" #{"n2"}, "n2" #{"n3"}, "n3" #{"n4"}, "n4" #{"n5"}}]}
{:type :invoke, :f :write, :value 28, :process 4, :time 170184109300}
{:type :ok, :f :write, :value 28, :process 4, :time 170191533700}
{:type :invoke, :f :write, :value 156, :process 2, :time 172185018400}
{:type :ok, :f :write, :value 156, :process 2, :time 172219087300}
{:type :invoke, :f :read, :value nil, :process 0, :time 174188573100}
{:type :ok, :f :read, :value 156, :process 0, :time 174198135300}
{:type :invoke, :f :write, :value 105, :process 3, :time 176190993600}
{:type :ok, :f :write, :value 105, :process 3, :time 176243879700}
{:type :invoke, :f :write, :value 186, :process 6, :time 178191765800}
{:type :ok, :f :write, :value 186, :process 6, :time 178206218700}
{:type :invoke, :f :read, :value nil, :process 4, :time 180192232800}
{:type :ok, :f :read, :value 186, :process 4, :time 180360861500}
{:type :invoke, :f :write, :value 39, :process 2, :time 182192583300}
{:type :ok, :f :write, :value 39, :process 2, :time 182201635200}
{:type :info, :f :stop, :process :nemesis, :time 206837600100}
{:type :info, :f :stop, :process :nemesis, :time 207209321200, :value :network-healed}
{:type :info, :f :log-packet-data, :process 6, :time 214211584600}
{:type :info, :f :log-packet-data, :process 6, :time 214371587900}
