{:type :info, :f :setup-packet-logging, :process 1, :time 6854262100}
{:type :info, :f :setup-packet-logging, :process 1, :time 8434412200}
{:type :info, :f :start, :process :nemesis, :time 15461859000}
{:type :invoke, :f :write, :value 120, :process 2, :time 17462061200}
{:type :ok, :f :write, :value 120, :process 2, :time 18449514000}
{:type :info, :f :start, :process :nemesis, :time 18896221000, :value [:isolated {"n2" #{"n5" "n4"}, "n1" #{"n5" "n4"}, "n5" #{"n2" "n1"}, "n4" #{"n2" "n1"}}]}
{:type :invoke, :f :read, :value nil, :process 4, :time 19463260500}
{:type :ok, :f :read, :value 120, :process 4, :time 20455132000}
{:type :invoke, :f :write, :value 156, :process 6, :time 21464572900}
{:type :ok, :f :write, :value 156, :process 6, :time 22435471700}
{:type :invoke, :f :write, :value 173, :process 3, :time 23465866000}
{:type :ok, :f :write, :value 173, :process 3, :time 24438028300}
{:type :invoke, :f :read, :value nil, :process 0, :time 25466809700}
{:type :ok, :f :read, :value 173, :process 0, :time 25475992700}
{:type :invoke, :f :write, :value 102, :process 2, :time 27468100000}
{:type :ok, :f :write, :value 102, :process 2, :time 28452297100}
{:type :invoke, :f :write, :value 71, :process 4, :time 29469092300}
{:type :ok, :f :write, :value 71, :process 4, :time 30432582800}
{:type :invoke, :f :read, :value nil, :process 6, :time 31470127100}
{:type :ok, :f :read, :value 71, :process 6, :time 32489395900}
{:type :invoke, :f :write, :value 97, :process 3, :time 33473383500}
{:type :ok, :f :write, :value 97, :process 3, :time 34545005200}
{:type :invoke, :f :write, :value 96, :process 0, :time 35474339100}
{:type :ok, :f :write, :value 96, :process 0, :time 35484185800}
{:type :invoke, :f :read, :value nil, :process 2, :time 37475255300}
{:type :ok, :f :read, :value 96, :process 2, :time 38545412400}
{:type :invoke, :f :write, :value 107, :process 4, :time 39476951900}
{:type :ok, :f :write, :value 107, :process 4, :time 40541399700}
{:type :invoke, :f :write, :value 118, :process 6, :time 41492952300}
{:type :ok, :f :write, :value 118, :process 6, :time 42600083600}
{:type :invoke, :f :read, :value nil, :process 3, :time 43549288300}
{:type :ok, :f :read, :value 118, :process 3, :time 44660656100}
{:type :invoke, :f :write, :value 150, :process 0, :time 45549649500}
{:type :ok, :f :write, :value 150, :process 0, :time 45573478600}
{:type :invoke, :f :write, :value 69, :process 2, :time 47550855800}
{:type :ok, :f :write, :value 69, :process 2, :time 48531098000}
{:type :invoke, :f :read, :value nil, :process 4, :time 49552755600}
{:type :ok, :f :read, :value 69, :process 4, :time 50659931900}
{:type :invoke, :f :write, :value 205, :process 6, :time 51604153000}
{:type :ok, :f :write, :value 205, :process 6, :time 52718006800}
{:type :invoke, :f :write, :value 207, :process 3, :time 53664642400}
{:type :ok, :f :write, :value 207, :process 3, :time 54722495300}
{:type :invoke, :f :read, :value nil, :process 0, :time 55666416300}
{:type :ok, :f :read, :value 207, :process 0, :time 55675848300}
{:type :info, :f :stop, :process :nemesis, :time 55928513800}
{:type :invoke, :f :write, :value 162, :process 2, :time 57667528000}
{:type :ok, :f :write, :value 162, :process 2, :time 58747605500}
{:type :invoke, :f :write, :value 219, :process 4, :time 59670218000}
{:type :ok, :f :write, :value 219, :process 4, :time 59679641800}
{:type :info, :f :stop, :process :nemesis, :time 60143613200, :value :network-healed}
{:type :invoke, :f :read, :value nil, :process 6, :time 61723228300}
{:type :ok, :f :read, :value 219, :process 6, :time 61734936500}
{:type :invoke, :f :write, :value 63, :process 3, :time 63726328100}
{:type :ok, :f :write, :value 63, :process 3, :time 63735539900}
{:type :invoke, :f :write, :value 156, :process 0, :time 65727600100}
{:type :ok, :f :write, :value 156, :process 0, :time 65738891400}
{:type :invoke, :f :read, :value nil, :process 2, :time 67757315500}
{:type :ok, :f :read, :value 156, :process 2, :time 67766835500}
{:type :invoke, :f :write, :value 37, :process 4, :time 69758733800}
{:type :ok, :f :write, :value 37, :process 4, :time 69771682400}
{:type :invoke, :f :write, :value 153, :process 6, :time 71761069400}
{:type :ok, :f :write, :value 153, :process 6, :time 71769000900}
{:type :invoke, :f :read, :value nil, :process 3, :time 73762986200}
{:type :ok, :f :read, :value 153, :process 3, :time 73769641000}
{:type :invoke, :f :write, :value 72, :process 0, :time 75763811800}
{:type :ok, :f :write, :value 72, :process 0, :time 75775465200}
{:type :invoke, :f :write, :value 58, :process 2, :time 77765004700}
{:type :ok, :f :write, :value 58, :process 2, :time 77777002900}
{:type :invoke, :f :read, :value nil, :process 4, :time 79765454500}
{:type :ok, :f :read, :value 58, :process 4, :time 79774633800}
{:type :invoke, :f :write, :value 215, :process 6, :time 81766196200}
{:type :ok, :f :write, :value 215, :process 6, :time 81775874900}
{:type :invoke, :f :write, :value 203, :process 3, :time 83767673600}
{:type :ok, :f :write, :value 203, :process 3, :time 83776608600}
{:type :invoke, :f :read, :value nil, :process 0, :time 85769293400}
{:type :ok, :f :read, :value 203, :process 0, :time 85777024000}
{:type :invoke, :f :write, :value 181, :process 2, :time 87770763900}
{:type :ok, :f :write, :value 181, :process 2, :time 87779111200}
{:type :invoke, :f :write, :value 120, :process 4, :time 89771509800}
{:type :ok, :f :write, :value 120, :process 4, :time 89780205800}
{:type :invoke, :f :read, :value nil, :process 6, :time 91773151900}
{:type :ok, :f :read, :value 120, :process 6, :time 91785206100}
{:type :invoke, :f :write, :value 116, :process 3, :time 93773594300}
{:type :ok, :f :write, :value 116, :process 3, :time 93786339700}
{:type :invoke, :f :write, :value 153, :process 0, :time 95773932300}
{:type :ok, :f :write, :value 153, :process 0, :time 95781645500}
{:type :info, :f :start, :process :nemesis, :time 97149265700}
{:type :invoke, :f :read, :value nil, :process 2, :time 97774586900}
{:type :ok, :f :read, :value 153, :process 2, :time 98777046200}
{:type :invoke, :f :write, :value 110, :process 4, :time 99776159400}
{:type :ok, :f :write, :value 110, :process 4, :time 100857640700}
{:type :invoke, :f :write, :value 211, :process 6, :time 101776860000}
{:type :info, :f :start, :process :nemesis, :time 101894334000, :value [:isolated {"n2" #{"n5" "n4"}, "n1" #{"n5" "n4"}, "n5" #{"n2" "n1"}, "n4" #{"n2" "n1"}}]}
{:type :ok, :f :write, :value 211, :process 6, :time 102760911100}
{:type :invoke, :f :read, :value nil, :process 3, :time 103778499400}
{:type :ok, :f :read, :value 211, :process 3, :time 104780844800}
{:type :invoke, :f :write, :value 144, :process 0, :time 105779390000}
{:type :ok, :f :write, :value 144, :process 0, :time 105791485700}
{:type :invoke, :f :write, :value 138, :process 2, :time 107782025000}
{:type :ok, :f :write, :value 138, :process 2, :time 108907403300}
{:type :invoke, :f :read, :value nil, :process 4, :time 109859988200}
{:type :ok, :f :read, :value 138, :process 4, :time 110877363300}
{:type :invoke, :f :write, :value 124, :process 6, :time 111861276400}
{:type :ok, :f :write, :value 124, :process 6, :time 112849055200}
{:type :invoke, :f :write, :value 141, :process 3, :time 113863587400}
{:type :ok, :f :write, :value 141, :process 3, :time 114844218500}
{:type :invoke, :f :read, :value nil, :process 0, :time 115864395200}
{:type :ok, :f :read, :value 141, :process 0, :time 115873790600}
{:type :invoke, :f :write, :value 39, :process 2, :time 117910788200}
{:type :ok, :f :write, :value 39, :process 2, :time 118849369900}
{:type :invoke, :f :write, :value 65, :process 4, :time 119911480700}
{:type :ok, :f :write, :value 65, :process 4, :time 120822292700}
{:type :invoke, :f :read, :value nil, :process 6, :time 121913574400}
{:type :ok, :f :read, :value 65, :process 6, :time 122915146000}
{:type :invoke, :f :write, :value 113, :process 3, :time 123913974600}
{:type :ok, :f :write, :value 113, :process 3, :time 124912427600}
{:type :invoke, :f :write, :value 104, :process 0, :time 125914860700}
{:type :ok, :f :write, :value 104, :process 0, :time 125923295800}
{:type :invoke, :f :read, :value nil, :process 2, :time 127915833200}
{:type :ok, :f :read, :value 104, :process 2, :time 128951743400}
{:type :invoke, :f :write, :value 59, :process 4, :time 129916697100}
{:type :ok, :f :write, :value 59, :process 4, :time 130996495100}
{:type :invoke, :f :write, :value 123, :process 6, :time 131922021700}
{:type :ok, :f :write, :value 123, :process 6, :time 132835291400}
{:type :invoke, :f :read, :value nil, :process 3, :time 133923431700}
{:type :ok, :f :read, :value 123, :process 3, :time 134913950000}
{:type :invoke, :f :write, :value 143, :process 0, :time 135923892700}
{:type :ok, :f :write, :value 143, :process 0, :time 135938599000}
{:type :invoke, :f :write, :value 216, :process 2, :time 137954007800}
{:type :info, :f :stop, :process :nemesis, :time 138898066800}
{:type :ok, :f :write, :value 216, :process 2, :time 139061499500}
{:type :invoke, :f :read, :value nil, :process 4, :time 140002084800}
{:type :ok, :f :read, :value 216, :process 4, :time 141077870900}
{:type :invoke, :f :write, :value 81, :process 6, :time 142003040400}
{:type :ok, :f :write, :value 81, :process 6, :time 143001474100}
{:type :invoke, :f :write, :value 115, :process 3, :time 144004140800}
{:type :ok, :f :write, :value 115, :process 3, :time 144983320300}
{:type :invoke, :f :read, :value nil, :process 0, :time 146005326300}
{:type :ok, :f :read, :value 115, :process 0, :time 146015050300}
{:type :invoke, :f :write, :value 131, :process 2, :time 148065596200}
{:type :ok, :f :write, :value 131, :process 2, :time 149070924000}
{:type :invoke, :f :write, :value 101, :process 4, :time 150080899800}
{:type :ok, :f :write, :value 101, :process 4, :time 150089706800}
{:type :info, :f :stop, :process :nemesis, :time 150952451400, :value :network-healed}
{:type :invoke, :f :read, :value nil, :process 6, :time 152082954300}
{:type :ok, :f :read, :value 101, :process 6, :time 152093778300}
{:type :invoke, :f :write, :value 192, :process 3, :time 154084059500}
{:type :ok, :f :write, :value 192, :process 3, :time 154094318600}
{:type :invoke, :f :write, :value 103, :process 0, :time 156084496300}
{:type :ok, :f :write, :value 103, :process 0, :time 156093398900}
{:type :invoke, :f :read, :value nil, :process 2, :time 158084836500}
{:type :ok, :f :read, :value 103, :process 2, :time 158093994500}
{:type :invoke, :f :write, :value 218, :process 4, :time 160085414400}
{:type :ok, :f :write, :value 218, :process 4, :time 160093711500}
{:type :invoke, :f :write, :value 155, :process 6, :time 162086777800}
{:type :ok, :f :write, :value 155, :process 6, :time 162095824000}
{:type :invoke, :f :read, :value nil, :process 3, :time 164088390700}
{:type :ok, :f :read, :value 155, :process 3, :time 164097991300}
{:type :invoke, :f :write, :value 148, :process 0, :time 166091117000}
{:type :ok, :f :write, :value 148, :process 0, :time 166098750600}
{:type :invoke, :f :write, :value 192, :process 2, :time 168091563200}
{:type :ok, :f :write, :value 192, :process 2, :time 168098646900}
{:type :invoke, :f :read, :value nil, :process 4, :time 170092367900}
{:type :ok, :f :read, :value 192, :process 4, :time 170102601000}
{:type :invoke, :f :write, :value 185, :process 6, :time 172093673800}
{:type :ok, :f :write, :value 185, :process 6, :time 172103574900}
{:type :invoke, :f :write, :value 209, :process 3, :time 174094533800}
{:type :ok, :f :write, :value 209, :process 3, :time 174101276200}
{:type :invoke, :f :read, :value nil, :process 0, :time 176096028700}
{:type :ok, :f :read, :value 209, :process 0, :time 176103592600}
{:type :invoke, :f :write, :value 214, :process 2, :time 178098209400}
{:type :ok, :f :write, :value 214, :process 2, :time 178106298000}
{:type :invoke, :f :write, :value 193, :process 4, :time 180098625000}
{:type :ok, :f :write, :value 193, :process 4, :time 180109799900}
{:type :invoke, :f :read, :value nil, :process 6, :time 182100039900}
{:type :ok, :f :read, :value 193, :process 6, :time 182112909300}
{:type :invoke, :f :write, :value 98, :process 3, :time 184101227600}
{:type :ok, :f :write, :value 98, :process 3, :time 184110067700}
{:type :invoke, :f :write, :value 205, :process 0, :time 186103071300}
{:type :ok, :f :write, :value 205, :process 0, :time 186111041900}
{:type :info, :f :start, :process :nemesis, :time 187956296000}
{:type :info, :f :start, :process :nemesis, :time 193114060000, :value [:isolated {"n2" #{"n5" "n4"}, "n1" #{"n5" "n4"}, "n5" #{"n2" "n1"}, "n4" #{"n2" "n1"}}]}
{:type :info, :f :log-packet-data, :process 6, :time 200121281200}
{:type :info, :f :log-packet-data, :process 6, :time 201253724300}
