{:type :info, :f :setup-packet-logging, :process 1, :time 5477738900}
{:type :info, :f :setup-packet-logging, :process 1, :time 7141715400}
{:type :info, :f :start, :process :nemesis, :time 14169212800}
{:type :invoke, :f :write, :value 120, :process 0, :time 16173859800}
{:type :ok, :f :write, :value 120, :process 0, :time 16229789100}
{:type :info, :f :start, :process :nemesis, :time 17768926900, :value [:isolated {"n1" #{"n2"}, "n2" #{"n3"}, "n3" #{"n4"}, "n4" #{"n5"}}]}
{:type :invoke, :f :read, :value nil, :process 4, :time 18176917500}
{:type :ok, :f :read, :value 120, :process 4, :time 19149835000}
{:type :invoke, :f :write, :value 61, :process 2, :time 20179194300}
{:type :ok, :f :write, :value 61, :process 2, :time 21234981100}
{:type :invoke, :f :write, :value 172, :process 3, :time 22180661500}
{:type :ok, :f :write, :value 172, :process 3, :time 23122772500}
{:type :invoke, :f :read, :value nil, :process 6, :time 24182213300}
{:type :ok, :f :read, :value 172, :process 6, :time 25282889000}
{:type :invoke, :f :write, :value 54, :process 0, :time 26182531100}
{:type :ok, :f :write, :value 54, :process 0, :time 26192519200}
{:type :invoke, :f :write, :value 66, :process 4, :time 28183211000}
{:type :ok, :f :write, :value 66, :process 4, :time 29216474000}
{:type :invoke, :f :read, :value nil, :process 2, :time 30248560700}
{:type :ok, :f :read, :value 66, :process 2, :time 31268947700}
{:type :invoke, :f :write, :value 97, :process 3, :time 32249936500}
{:type :ok, :f :write, :value 97, :process 3, :time 33169390400}
{:type :invoke, :f :write, :value 133, :process 6, :time 34289165400}
{:type :ok, :f :write, :value 133, :process 6, :time 35284064500}
{:type :invoke, :f :read, :value nil, :process 0, :time 36289504600}
{:type :ok, :f :read, :value 133, :process 0, :time 36303775100}
{:type :invoke, :f :write, :value 31, :process 4, :time 38291038800}
{:type :ok, :f :write, :value 31, :process 4, :time 39323947100}
{:type :invoke, :f :write, :value 35, :process 2, :time 40291474300}
{:type :ok, :f :write, :value 35, :process 2, :time 41223526700}
{:type :invoke, :f :read, :value nil, :process 3, :time 42292680600}
{:type :ok, :f :read, :value 35, :process 3, :time 43307732100}
{:type :invoke, :f :write, :value 104, :process 6, :time 44294575200}
{:type :ok, :f :write, :value 104, :process 6, :time 45281021900}
{:type :invoke, :f :write, :value 85, :process 0, :time 46296514300}
{:type :ok, :f :write, :value 85, :process 0, :time 46308683200}
{:type :invoke, :f :read, :value nil, :process 4, :time 48327782800}
{:type :ok, :f :read, :value 85, :process 4, :time 49485986800}
{:type :invoke, :f :write, :value 192, :process 2, :time 50328162400}
{:type :ok, :f :write, :value 192, :process 2, :time 51338343700}
{:type :invoke, :f :write, :value 186, :process 3, :time 52330641200}
{:type :ok, :f :write, :value 186, :process 3, :time 53383351600}
{:type :invoke, :f :read, :value nil, :process 6, :time 54331088500}
{:type :info, :f :stop, :process :nemesis, :time 54781650400}
{:type :ok, :f :read, :value 186, :process 6, :time 55411440400}
{:type :invoke, :f :write, :value 38, :process 0, :time 56331803100}
{:type :ok, :f :write, :value 38, :process 0, :time 56346655300}
{:type :invoke, :f :write, :value 183, :process 4, :time 58490296500}
{:type :ok, :f :write, :value 183, :process 4, :time 58501968700}
{:type :info, :f :stop, :process :nemesis, :time 59058808000, :value :network-healed}
{:type :invoke, :f :read, :value nil, :process 2, :time 60490943500}
{:type :ok, :f :read, :value 183, :process 2, :time 60502301800}
{:type :invoke, :f :write, :value 51, :process 3, :time 62492978900}
{:type :ok, :f :write, :value 51, :process 3, :time 62505949400}
{:type :invoke, :f :write, :value 144, :process 6, :time 64494693800}
{:type :ok, :f :write, :value 144, :process 6, :time 64503845900}
{:type :invoke, :f :read, :value nil, :process 0, :time 66496038400}
{:type :ok, :f :read, :value 144, :process 0, :time 66508872200}
{:type :invoke, :f :write, :value 35, :process 4, :time 68496347000}
{:type :ok, :f :write, :value 35, :process 4, :time 68505882900}
{:type :invoke, :f :write, :value 43, :process 2, :time 70497547100}
{:type :ok, :f :write, :value 43, :process 2, :time 70508458200}
{:type :invoke, :f :read, :value nil, :process 3, :time 72499606300}
{:type :ok, :f :read, :value 43, :process 3, :time 72512033400}
{:type :invoke, :f :write, :value 213, :process 6, :time 74501552200}
{:type :ok, :f :write, :value 213, :process 6, :time 74510453700}
{:type :invoke, :f :write, :value 137, :process 0, :time 76502124000}
{:type :ok, :f :write, :value 137, :process 0, :time 76509286200}
{:type :invoke, :f :read, :value nil, :process 4, :time 78504702700}
{:type :ok, :f :read, :value 137, :process 4, :time 78511613100}
{:type :invoke, :f :write, :value 69, :process 2, :time 80505617900}
{:type :ok, :f :write, :value 69, :process 2, :time 80520274300}
{:type :invoke, :f :write, :value 197, :process 3, :time 82506033100}
{:type :ok, :f :write, :value 197, :process 3, :time 82514934200}
{:type :invoke, :f :read, :value nil, :process 6, :time 84508219700}
{:type :ok, :f :read, :value 197, :process 6, :time 84523874800}
{:type :invoke, :f :write, :value 72, :process 0, :time 86509037300}
{:type :ok, :f :write, :value 72, :process 0, :time 86522561800}
{:type :invoke, :f :write, :value 60, :process 4, :time 88509950300}
{:type :ok, :f :write, :value 60, :process 4, :time 88524701200}
{:type :invoke, :f :read, :value nil, :process 2, :time 90510546000}
{:type :ok, :f :read, :value 60, :process 2, :time 90523203600}
{:type :invoke, :f :write, :value 92, :process 3, :time 92511387100}
{:type :ok, :f :write, :value 92, :process 3, :time 92522364400}
{:type :invoke, :f :write, :value 139, :process 6, :time 94511745600}
{:type :ok, :f :write, :value 139, :process 6, :time 94519964400}
{:type :info, :f :start, :process :nemesis, :time 96062980000}
{:type :invoke, :f :read, :value nil, :process 0, :time 96512577400}
{:type :ok, :f :read, :value 139, :process 0, :time 96522193300}
{:type :invoke, :f :write, :value 21, :process 4, :time 98513033500}
{:type :info, :f :start, :process :nemesis, :time 99447786400, :value [:isolated {"n1" #{"n2"}, "n2" #{"n3"}, "n3" #{"n4"}, "n4" #{"n5"}}]}
{:type :ok, :f :write, :value 21, :process 4, :time 99470605000}
{:type :invoke, :f :write, :value 43, :process 2, :time 100513385600}
{:type :ok, :f :write, :value 43, :process 2, :time 101669617800}
{:type :invoke, :f :read, :value nil, :process 3, :time 102514089800}
{:type :ok, :f :read, :value 43, :process 3, :time 103485560900}
{:type :invoke, :f :write, :value 47, :process 6, :time 104515226000}
{:type :ok, :f :write, :value 47, :process 6, :time 105551311000}
{:type :invoke, :f :write, :value 116, :process 0, :time 106516431100}
{:type :ok, :f :write, :value 116, :process 0, :time 106525972300}
{:type :invoke, :f :read, :value nil, :process 4, :time 108519790700}
{:type :ok, :f :read, :value 116, :process 4, :time 109599816800}
{:type :invoke, :f :write, :value 201, :process 2, :time 110674271300}
{:type :ok, :f :write, :value 201, :process 2, :time 111727642100}
{:type :invoke, :f :write, :value 182, :process 3, :time 112675237500}
{:type :ok, :f :write, :value 182, :process 3, :time 113725412500}
{:type :invoke, :f :read, :value nil, :process 6, :time 114676100600}
{:type :ok, :f :read, :value 182, :process 6, :time 115695607900}
{:type :invoke, :f :write, :value 139, :process 0, :time 116676741100}
{:type :ok, :f :write, :value 139, :process 0, :time 116683482900}
{:type :invoke, :f :write, :value 190, :process 4, :time 118677067400}
{:type :ok, :f :write, :value 190, :process 4, :time 119686060400}
{:type :invoke, :f :read, :value nil, :process 2, :time 120731578700}
{:type :ok, :f :read, :value 190, :process 2, :time 121730011500}
{:type :invoke, :f :write, :value 51, :process 3, :time 122732006600}
{:type :ok, :f :write, :value 51, :process 3, :time 123768080900}
{:type :invoke, :f :write, :value 198, :process 6, :time 124732561200}
{:type :ok, :f :write, :value 198, :process 6, :time 125844760900}
{:type :invoke, :f :read, :value nil, :process 0, :time 126733290500}
{:type :ok, :f :read, :value 198, :process 0, :time 126742657500}
{:type :invoke, :f :write, :value 52, :process 4, :time 128733651200}
{:type :ok, :f :write, :value 52, :process 4, :time 129681007900}
{:type :invoke, :f :write, :value 217, :process 2, :time 130734079600}
{:type :ok, :f :write, :value 217, :process 2, :time 131757098500}
{:type :invoke, :f :read, :value nil, :process 3, :time 132771978400}
{:type :ok, :f :read, :value 217, :process 3, :time 133909709900}
{:type :invoke, :f :write, :value 152, :process 6, :time 134847861500}
{:type :ok, :f :write, :value 152, :process 6, :time 135766006600}
{:type :info, :f :stop, :process :nemesis, :time 136450993400}
{:type :invoke, :f :write, :value 203, :process 0, :time 136849603900}
{:type :ok, :f :write, :value 203, :process 0, :time 136858301900}
{:type :invoke, :f :read, :value nil, :process 4, :time 138851316200}
{:type :info, :f :read, :value nil, :process 4, :time 140338682900, :error "indeterminate: EOF while reading"}
{:type :invoke, :f :write, :value 46, :process 2, :time 140852068000}
{:type :ok, :f :write, :value 46, :process 2, :time 141927436400}
{:type :invoke, :f :write, :value 206, :process 3, :time 142914616000}
{:type :ok, :f :write, :value 206, :process 3, :time 142926645900}
{:type :invoke, :f :read, :value nil, :process 6, :time 144915452900}
{:type :ok, :f :read, :value 206, :process 6, :time 144927993200}
{:type :info, :f :stop, :process :nemesis, :time 146071210100, :value :network-healed}
{:type :invoke, :f :write, :value 53, :process 0, :time 146917184600}
{:type :ok, :f :write, :value 53, :process 0, :time 146929797700}
{:type :invoke, :f :write, :value 135, :process 9, :time 149349028700}
{:type :ok, :f :write, :value 135, :process 9, :time 149358326300}
{:type :invoke, :f :read, :value nil, :process 2, :time 151350180600}
{:type :ok, :f :read, :value 135, :process 2, :time 151363221100}
{:type :invoke, :f :write, :value 180, :process 3, :time 153350787300}
{:type :ok, :f :write, :value 180, :process 3, :time 153358323400}
{:type :invoke, :f :write, :value 164, :process 6, :time 155351659500}
{:type :ok, :f :write, :value 164, :process 6, :time 155364403900}
{:type :invoke, :f :read, :value nil, :process 0, :time 157352575500}
{:type :ok, :f :read, :value 164, :process 0, :time 157365797200}
{:type :invoke, :f :write, :value 30, :process 9, :time 159353170400}
{:type :ok, :f :write, :value 30, :process 9, :time 159363783100}
{:type :invoke, :f :write, :value 86, :process 2, :time 161354244600}
{:type :ok, :f :write, :value 86, :process 2, :time 161370466800}
{:type :invoke, :f :read, :value nil, :process 3, :time 163354647600}
{:type :ok, :f :read, :value 86, :process 3, :time 163377547300}
{:type :invoke, :f :write, :value 46, :process 6, :time 165355018200}
{:type :ok, :f :write, :value 46, :process 6, :time 165367266600}
{:type :invoke, :f :write, :value 148, :process 0, :time 167356127500}
{:type :ok, :f :write, :value 148, :process 0, :time 167365341400}
{:type :invoke, :f :read, :value nil, :process 9, :time 169356718200}
{:type :ok, :f :read, :value 148, :process 9, :time 169368570700}
{:type :invoke, :f :write, :value 68, :process 2, :time 171357173100}
{:type :ok, :f :write, :value 68, :process 2, :time 171367491900}
{:type :invoke, :f :write, :value 149, :process 3, :time 173358790300}
{:type :ok, :f :write, :value 149, :process 3, :time 173372532100}
{:type :invoke, :f :read, :value nil, :process 6, :time 175359638300}
{:type :ok, :f :read, :value 149, :process 6, :time 175376161600}
{:type :invoke, :f :write, :value 79, :process 0, :time 177360102000}
{:type :ok, :f :write, :value 79, :process 0, :time 177370179700}
{:type :invoke, :f :write, :value 103, :process 9, :time 179360595800}
{:type :ok, :f :write, :value 103, :process 9, :time 179369334100}
{:type :invoke, :f :read, :value nil, :process 2, :time 181362005300}
{:type :ok, :f :read, :value 103, :process 2, :time 181372633100}
{:type :info, :f :start, :process :nemesis, :time 183075749100}
{:type :invoke, :f :write, :value 33, :process 3, :time 183363599200}
{:type :ok, :f :write, :value 33, :process 3, :time 183393184500}
{:type :invoke, :f :write, :value 56, :process 6, :time 185369375100}
{:type :ok, :f :write, :value 56, :process 6, :time 186413809700}
{:type :info, :f :start, :process :nemesis, :time 188360829900, :value [:isolated {"n1" #{"n2"}, "n2" #{"n3"}, "n3" #{"n4"}, "n4" #{"n5"}}]}
{:type :info, :f :log-packet-data, :process 6, :time 195373872900}
{:type :info, :f :log-packet-data, :process 6, :time 207675086000}
