{:type :info, :f :setup-packet-logging, :process 1, :time 5316013700}
{:type :info, :f :setup-packet-logging, :process 1, :time 6958391700}
{:type :invoke, :f :write, :value 120, :process 0, :time 16013139500}
{:type :ok, :f :write, :value 120, :process 0, :time 16034712700}
{:type :invoke, :f :read, :value nil, :process 2, :time 18017840800}
{:type :ok, :f :read, :value 120, :process 2, :time 18035707600}
{:type :invoke, :f :write, :value 130, :process 3, :time 20022526300}
{:type :ok, :f :write, :value 130, :process 3, :time 20039763200}
{:type :invoke, :f :write, :value 198, :process 4, :time 22023772500}
{:type :ok, :f :write, :value 198, :process 4, :time 22037116700}
{:type :invoke, :f :read, :value nil, :process 6, :time 24025939300}
{:type :ok, :f :read, :value 198, :process 6, :time 24052029100}
{:type :invoke, :f :write, :value 172, :process 0, :time 26028185200}
{:type :ok, :f :write, :value 172, :process 0, :time 26037857700}
{:type :invoke, :f :write, :value 174, :process 2, :time 28028945300}
{:type :ok, :f :write, :value 174, :process 2, :time 28039667600}
{:type :invoke, :f :read, :value nil, :process 3, :time 30029669700}
{:type :ok, :f :read, :value 174, :process 3, :time 30048463700}
{:type :invoke, :f :write, :value 134, :process 4, :time 32032034500}
{:type :ok, :f :write, :value 134, :process 4, :time 32040472100}
{:type :invoke, :f :write, :value 99, :process 6, :time 34033003200}
{:type :ok, :f :write, :value 99, :process 6, :time 34042478600}
{:type :invoke, :f :read, :value nil, :process 0, :time 36033375800}
{:type :ok, :f :read, :value 99, :process 0, :time 36043244400}
{:type :invoke, :f :write, :value 56, :process 2, :time 38033843700}
{:type :ok, :f :write, :value 56, :process 2, :time 38041163200}
{:type :invoke, :f :write, :value 134, :process 3, :time 40034200700}
{:type :ok, :f :write, :value 134, :process 3, :time 40041674100}
{:type :invoke, :f :read, :value nil, :process 4, :time 42036311300}
{:type :ok, :f :read, :value 134, :process 4, :time 42046141700}
{:type :info, :f :start, :process :nemesis, :time 44012873500}
{:type :invoke, :f :write, :value 117, :process 6, :time 44036862300}
{:type :ok, :f :write, :value 117, :process 6, :time 44076438600}
{:type :info, :f :start, :process :nemesis, :time 44162554300, :value [:isolated {"n1" #{"n2"}, "n2" #{"n3"}, "n3" #{"n4"}, "n4" #{"n5"}}]}
{:type :invoke, :f :write, :value 214, :process 0, :time 46048881500}
{:type :ok, :f :write, :value 214, :process 0, :time 46060900700}
{:type :invoke, :f :read, :value nil, :process 2, :time 48050884000}
{:type :ok, :f :read, :value 214, :process 2, :time 48064406100}
{:type :invoke, :f :write, :value 135, :process 3, :time 50052539300}
{:type :ok, :f :write, :value 135, :process 3, :time 50058919100}
{:type :invoke, :f :write, :value 87, :process 4, :time 52053265800}
{:type :ok, :f :write, :value 87, :process 4, :time 52064769200}
{:type :invoke, :f :read, :value nil, :process 6, :time 54054354100}
{:type :ok, :f :read, :value 87, :process 6, :time 54064695000}
{:type :invoke, :f :write, :value 38, :process 0, :time 56054729900}
{:type :ok, :f :write, :value 38, :process 0, :time 56064913600}
{:type :invoke, :f :write, :value 168, :process 2, :time 58055078000}
{:type :ok, :f :write, :value 168, :process 2, :time 58065449700}
{:type :invoke, :f :read, :value nil, :process 3, :time 60057644600}
{:type :ok, :f :read, :value 168, :process 3, :time 60066012800}
{:type :invoke, :f :write, :value 213, :process 4, :time 62058530000}
{:type :ok, :f :write, :value 213, :process 4, :time 62068820900}
{:type :invoke, :f :write, :value 218, :process 6, :time 64059329500}
{:type :ok, :f :write, :value 218, :process 6, :time 64068377600}
{:type :invoke, :f :read, :value nil, :process 0, :time 66060947200}
{:type :ok, :f :read, :value 218, :process 0, :time 66068144200}
{:type :invoke, :f :write, :value 207, :process 2, :time 68061371000}
{:type :ok, :f :write, :value 207, :process 2, :time 68071242100}
{:type :invoke, :f :write, :value 79, :process 3, :time 70061888100}
{:type :ok, :f :write, :value 79, :process 3, :time 70074776000}
{:type :invoke, :f :read, :value nil, :process 4, :time 72062317000}
{:type :ok, :f :read, :value 79, :process 4, :time 72074560900}
{:type :invoke, :f :write, :value 130, :process 6, :time 74063796200}
{:type :ok, :f :write, :value 130, :process 6, :time 74075453100}
{:type :invoke, :f :write, :value 147, :process 0, :time 76064306100}
{:type :ok, :f :write, :value 147, :process 0, :time 76075431300}
{:type :invoke, :f :read, :value nil, :process 2, :time 78064758300}
{:type :ok, :f :read, :value 147, :process 2, :time 78075878100}
{:type :invoke, :f :write, :value 115, :process 3, :time 80065216800}
{:type :ok, :f :write, :value 115, :process 3, :time 80076983800}
{:type :info, :f :stop, :process :nemesis, :time 81172987400}
{:type :info, :f :stop, :process :nemesis, :time 81438138300, :value :network-healed}
{:type :invoke, :f :write, :value 27, :process 4, :time 82065704000}
{:type :ok, :f :write, :value 27, :process 4, :time 82076674700}
{:type :invoke, :f :read, :value nil, :process 6, :time 84066921200}
{:type :ok, :f :read, :value 27, :process 6, :time 84080035800}
{:type :invoke, :f :write, :value 140, :process 0, :time 86067308000}
{:type :ok, :f :write, :value 140, :process 0, :time 86078645200}
{:type :invoke, :f :write, :value 61, :process 2, :time 88068725900}
{:type :ok, :f :write, :value 61, :process 2, :time 88078910000}
{:type :invoke, :f :read, :value nil, :process 3, :time 90069176300}
{:type :ok, :f :read, :value 61, :process 3, :time 90078321100}
{:type :invoke, :f :write, :value 179, :process 4, :time 92071725300}
{:type :ok, :f :write, :value 179, :process 4, :time 92082249200}
{:type :invoke, :f :write, :value 189, :process 6, :time 94073241400}
{:type :ok, :f :write, :value 189, :process 6, :time 94087278100}
{:type :invoke, :f :read, :value nil, :process 0, :time 96075071600}
{:type :ok, :f :read, :value 189, :process 0, :time 96088406700}
{:type :invoke, :f :write, :value 191, :process 2, :time 98075537800}
{:type :ok, :f :write, :value 191, :process 2, :time 98086154900}
{:type :invoke, :f :write, :value 79, :process 3, :time 100076807800}
{:type :ok, :f :write, :value 79, :process 3, :time 100086775100}
{:type :invoke, :f :read, :value nil, :process 4, :time 102077820300}
{:type :ok, :f :read, :value 79, :process 4, :time 102100282700}
{:type :invoke, :f :write, :value 114, :process 6, :time 104080069100}
{:type :ok, :f :write, :value 114, :process 6, :time 104096243300}
{:type :invoke, :f :write, :value 64, :process 0, :time 106081702600}
{:type :ok, :f :write, :value 64, :process 0, :time 106095584700}
{:type :invoke, :f :read, :value nil, :process 2, :time 108082164400}
{:type :ok, :f :read, :value 64, :process 2, :time 108093651800}
{:type :invoke, :f :write, :value 74, :process 3, :time 110084142500}
{:type :ok, :f :write, :value 74, :process 3, :time 110097511100}
{:type :invoke, :f :write, :value 176, :process 4, :time 112086791100}
{:type :ok, :f :write, :value 176, :process 4, :time 112095674000}
{:type :invoke, :f :read, :value nil, :process 6, :time 114088857900}
{:type :ok, :f :read, :value 176, :process 6, :time 114097448400}
{:type :invoke, :f :write, :value 211, :process 0, :time 116091334700}
{:type :ok, :f :write, :value 211, :process 0, :time 116097982900}
{:type :invoke, :f :write, :value 145, :process 2, :time 118091899600}
{:type :ok, :f :write, :value 145, :process 2, :time 118109877300}
{:type :info, :f :start, :process :nemesis, :time 118443828800}
{:type :info, :f :start, :process :nemesis, :time 118561788600, :value [:isolated {"n1" #{"n2"}, "n2" #{"n3"}, "n3" #{"n4"}, "n4" #{"n5"}}]}
{:type :invoke, :f :read, :value nil, :process 3, :time 120092689900}
{:type :ok, :f :read, :value 145, :process 3, :time 120109777400}
{:type :invoke, :f :write, :value 198, :process 4, :time 122097169800}
{:type :ok, :f :write, :value 198, :process 4, :time 122106905300}
{:type :invoke, :f :write, :value 212, :process 6, :time 124099521200}
{:type :ok, :f :write, :value 212, :process 6, :time 124106539400}
{:type :invoke, :f :read, :value nil, :process 0, :time 126101245400}
{:type :ok, :f :read, :value 212, :process 0, :time 126109075400}
{:type :invoke, :f :write, :value 60, :process 2, :time 128101642600}
{:type :ok, :f :write, :value 60, :process 2, :time 128113671200}
{:type :invoke, :f :write, :value 177, :process 3, :time 130103292700}
{:type :ok, :f :write, :value 177, :process 3, :time 130112936100}
{:type :invoke, :f :read, :value nil, :process 4, :time 132104583200}
{:type :ok, :f :read, :value 177, :process 4, :time 132129852700}
{:type :invoke, :f :write, :value 171, :process 6, :time 134105012100}
{:type :ok, :f :write, :value 171, :process 6, :time 134112985700}
{:type :invoke, :f :write, :value 161, :process 0, :time 136106162100}
{:type :ok, :f :write, :value 161, :process 0, :time 136113590400}
{:type :invoke, :f :read, :value nil, :process 2, :time 138108383300}
{:type :ok, :f :read, :value 161, :process 2, :time 138116715000}
{:type :invoke, :f :write, :value 119, :process 3, :time 140110882300}
{:type :ok, :f :write, :value 119, :process 3, :time 140121758700}
{:type :invoke, :f :write, :value 50, :process 4, :time 142112538500}
{:type :ok, :f :write, :value 50, :process 4, :time 142127439200}
{:type :invoke, :f :read, :value nil, :process 6, :time 144113089800}
{:type :ok, :f :read, :value 50, :process 6, :time 144130139600}
{:type :invoke, :f :write, :value 63, :process 0, :time 146113862700}
{:type :ok, :f :write, :value 63, :process 0, :time 146131256400}
{:type :invoke, :f :write, :value 55, :process 2, :time 148115317700}
{:type :ok, :f :write, :value 55, :process 2, :time 148130776700}
{:type :invoke, :f :read, :value nil, :process 3, :time 150117216700}
{:type :ok, :f :read, :value 55, :process 3, :time 150130269800}
{:type :invoke, :f :write, :value 74, :process 4, :time 152120979400}
{:type :ok, :f :write, :value 74, :process 4, :time 152127746200}
{:type :invoke, :f :write, :value 193, :process 6, :time 154122939500}
{:type :ok, :f :write, :value 193, :process 6, :time 154138960300}
{:type :info, :f :stop, :process :nemesis, :time 155565235500}
{:type :info, :f :stop, :process :nemesis, :time 155799176400, :value :network-healed}
{:type :invoke, :f :read, :value nil, :process 0, :time 156124177800}
{:type :ok, :f :read, :value 193, :process 0, :time 156134413400}
{:type :invoke, :f :write, :value 171, :process 2, :time 158125028300}
{:type :ok, :f :write, :value 171, :process 2, :time 158130863800}
{:type :invoke, :f :write, :value 103, :process 3, :time 160126947500}
{:type :ok, :f :write, :value 103, :process 3, :time 160135601500}
{:type :invoke, :f :read, :value nil, :process 4, :time 162129633900}
{:type :ok, :f :read, :value 103, :process 4, :time 162165583700}
{:type :invoke, :f :write, :value 163, :process 6, :time 164131767300}
{:type :ok, :f :write, :value 163, :process 6, :time 164140350500}
{:type :invoke, :f :write, :value 58, :process 0, :time 166133201600}
{:type :ok, :f :write, :value 58, :process 0, :time 166142856200}
{:type :invoke, :f :read, :value nil, :process 2, :time 168134433000}
{:type :ok, :f :read, :value 58, :process 2, :time 168146879900}
{:type :invoke, :f :write, :value 112, :process 3, :time 170134929700}
{:type :ok, :f :write, :value 112, :process 3, :time 170146623900}
{:type :invoke, :f :write, :value 106, :process 4, :time 172137094700}
{:type :ok, :f :write, :value 106, :process 4, :time 172159542500}
{:type :invoke, :f :read, :value nil, :process 6, :time 174137680200}
{:type :ok, :f :read, :value 106, :process 6, :time 174150912800}
{:type :invoke, :f :write, :value 59, :process 0, :time 176139718000}
{:type :ok, :f :write, :value 59, :process 0, :time 176149813800}
{:type :invoke, :f :write, :value 102, :process 2, :time 178143053900}
{:type :ok, :f :write, :value 102, :process 2, :time 178153558900}
{:type :invoke, :f :read, :value nil, :process 3, :time 180143984000}
{:type :ok, :f :read, :value 102, :process 3, :time 180151627100}
{:type :invoke, :f :write, :value 127, :process 4, :time 182145532900}
{:type :ok, :f :write, :value 127, :process 4, :time 182152871500}
{:type :invoke, :f :write, :value 218, :process 6, :time 184146497800}
{:type :ok, :f :write, :value 218, :process 6, :time 184156603800}
{:type :info, :f :start, :process :nemesis, :time 192801959300}
{:type :info, :f :start, :process :nemesis, :time 192922790600, :value [:isolated {"n1" #{"n2"}, "n2" #{"n3"}, "n3" #{"n4"}, "n4" #{"n5"}}]}
{:type :info, :f :log-packet-data, :process 6, :time 199926088300}
{:type :info, :f :log-packet-data, :process 6, :time 200057301100}
