{:type :info, :f :setup-packet-logging, :process 1, :time 5199138000}
{:type :info, :f :setup-packet-logging, :process 1, :time 6827007400}
{:type :info, :f :start, :process :nemesis, :time 13849077800}
{:type :info, :f :start, :process :nemesis, :time 14251554600}
{:type :invoke, :f :write, :value 120, :process 2, :time 15850301300}
{:type :ok, :f :write, :value 120, :process 2, :time 15959818800}
{:type :invoke, :f :read, :value nil, :process 6, :time 17851500500}
{:type :ok, :f :read, :value 120, :process 6, :time 17963111400}
{:type :invoke, :f :write, :value 142, :process 4, :time 19853481800}
{:type :ok, :f :write, :value 142, :process 4, :time 19964594300}
{:type :invoke, :f :write, :value 94, :process 0, :time 21854408500}
{:type :ok, :f :write, :value 94, :process 0, :time 21863128700}
{:type :invoke, :f :read, :value nil, :process 3, :time 23854790300}
{:type :ok, :f :read, :value 94, :process 3, :time 23961760300}
{:type :invoke, :f :write, :value 175, :process 2, :time 25855362900}
{:type :ok, :f :write, :value 175, :process 2, :time 25962216300}
{:type :invoke, :f :write, :value 67, :process 6, :time 27856353900}
{:type :ok, :f :write, :value 67, :process 6, :time 27965363400}
{:type :invoke, :f :read, :value nil, :process 4, :time 29857879600}
{:type :ok, :f :read, :value 67, :process 4, :time 29962798800}
{:type :invoke, :f :write, :value 74, :process 0, :time 31858258800}
{:type :ok, :f :write, :value 74, :process 0, :time 31867257100}
{:type :invoke, :f :write, :value 42, :process 3, :time 33860126900}
{:type :ok, :f :write, :value 42, :process 3, :time 33966323100}
{:type :invoke, :f :read, :value nil, :process 2, :time 35861189800}
{:type :ok, :f :read, :value 42, :process 2, :time 35972486900}
{:type :invoke, :f :write, :value 31, :process 6, :time 37861614300}
{:type :ok, :f :write, :value 31, :process 6, :time 37969810400}
{:type :invoke, :f :write, :value 214, :process 4, :time 39862100800}
{:type :ok, :f :write, :value 214, :process 4, :time 39972252900}
{:type :invoke, :f :read, :value nil, :process 0, :time 41864302000}
{:type :ok, :f :read, :value 214, :process 0, :time 41875230200}
{:type :invoke, :f :write, :value 219, :process 3, :time 43865435300}
{:type :ok, :f :write, :value 219, :process 3, :time 43971039500}
{:type :invoke, :f :write, :value 92, :process 2, :time 45866340600}
{:type :ok, :f :write, :value 92, :process 2, :time 45975940600}
{:type :invoke, :f :read, :value nil, :process 6, :time 47867983200}
{:type :ok, :f :read, :value 92, :process 6, :time 47978826300}
{:type :invoke, :f :write, :value 95, :process 4, :time 49870607800}
{:type :ok, :f :write, :value 95, :process 4, :time 49980925300}
{:type :info, :f :stop, :process :nemesis, :time 51256108100}
{:type :info, :f :stop, :process :nemesis, :time 51428589700}
{:type :invoke, :f :write, :value 120, :process 0, :time 51871463700}
{:type :ok, :f :write, :value 120, :process 0, :time 51882607400}
{:type :invoke, :f :read, :value nil, :process 3, :time 53871888800}
{:type :ok, :f :read, :value 120, :process 3, :time 53885732400}
{:type :invoke, :f :write, :value 107, :process 2, :time 55873038300}
{:type :ok, :f :write, :value 107, :process 2, :time 55882526200}
{:type :invoke, :f :write, :value 167, :process 6, :time 57873538900}
{:type :ok, :f :write, :value 167, :process 6, :time 57881587400}
{:type :invoke, :f :read, :value nil, :process 4, :time 59873897900}
{:type :ok, :f :read, :value 167, :process 4, :time 59884445300}
{:type :invoke, :f :write, :value 203, :process 0, :time 61875357300}
{:type :ok, :f :write, :value 203, :process 0, :time 61883221300}
{:type :invoke, :f :write, :value 112, :process 3, :time 63877558800}
{:type :ok, :f :write, :value 112, :process 3, :time 63889412800}
{:type :invoke, :f :read, :value nil, :process 2, :time 65879012400}
{:type :ok, :f :read, :value 112, :process 2, :time 65888909300}
{:type :invoke, :f :write, :value 211, :process 6, :time 67880630500}
{:type :ok, :f :write, :value 211, :process 6, :time 67891061400}
{:type :invoke, :f :write, :value 102, :process 4, :time 69881573600}
{:type :ok, :f :write, :value 102, :process 4, :time 69894865600}
{:type :invoke, :f :read, :value nil, :process 0, :time 71883601000}
{:type :ok, :f :read, :value 102, :process 0, :time 71893903000}
{:type :invoke, :f :write, :value 128, :process 3, :time 73884324800}
{:type :ok, :f :write, :value 128, :process 3, :time 73897228100}
{:type :invoke, :f :write, :value 212, :process 2, :time 75885355800}
{:type :ok, :f :write, :value 212, :process 2, :time 75894295800}
{:type :invoke, :f :read, :value nil, :process 6, :time 77887676000}
{:type :ok, :f :read, :value 212, :process 6, :time 77896701200}
{:type :invoke, :f :write, :value 90, :process 4, :time 79890012700}
{:type :ok, :f :write, :value 90, :process 4, :time 79900155100}
{:type :invoke, :f :write, :value 138, :process 0, :time 81892554600}
{:type :ok, :f :write, :value 138, :process 0, :time 81903286300}
{:type :invoke, :f :read, :value nil, :process 3, :time 83894190700}
{:type :ok, :f :read, :value 138, :process 3, :time 83903850400}
{:type :invoke, :f :write, :value 31, :process 2, :time 85895159600}
{:type :ok, :f :write, :value 31, :process 2, :time 85904785000}
{:type :invoke, :f :write, :value 179, :process 6, :time 87898708600}
{:type :ok, :f :write, :value 179, :process 6, :time 87907040000}
{:type :info, :f :start, :process :nemesis, :time 88431813100}
{:type :invoke, :f :read, :value nil, :process 4, :time 89899434700}
{:type :ok, :f :read, :value 179, :process 4, :time 89906057800}
{:type :info, :f :start, :process :nemesis, :time 91011910100}
{:type :invoke, :f :write, :value 212, :process 0, :time 91900472100}
{:type :ok, :f :write, :value 212, :process 0, :time 91908456100}
{:type :invoke, :f :write, :value 51, :process 3, :time 93901699400}
{:type :ok, :f :write, :value 51, :process 3, :time 94009926500}
{:type :invoke, :f :read, :value nil, :process 2, :time 95902087100}
{:type :ok, :f :read, :value 51, :process 2, :time 96010539300}
{:type :invoke, :f :write, :value 196, :process 6, :time 97903583100}
{:type :ok, :f :write, :value 196, :process 6, :time 98011656800}
{:type :invoke, :f :write, :value 156, :process 4, :time 99904061800}
{:type :ok, :f :write, :value 156, :process 4, :time 100008543700}
{:type :invoke, :f :read, :value nil, :process 0, :time 101905982400}
{:type :ok, :f :read, :value 156, :process 0, :time 101916228200}
{:type :invoke, :f :write, :value 152, :process 3, :time 103907792200}
{:type :ok, :f :write, :value 152, :process 3, :time 104013290400}
{:type :invoke, :f :write, :value 118, :process 2, :time 105909458800}
{:type :ok, :f :write, :value 118, :process 2, :time 106016509300}
{:type :invoke, :f :read, :value nil, :process 6, :time 107909812800}
{:type :ok, :f :read, :value 118, :process 6, :time 108014344800}
{:type :invoke, :f :write, :value 114, :process 4, :time 109910251700}
{:type :ok, :f :write, :value 114, :process 4, :time 110017850400}
{:type :invoke, :f :write, :value 47, :process 0, :time 111911324400}
{:type :ok, :f :write, :value 47, :process 0, :time 111919061600}
{:type :invoke, :f :read, :value nil, :process 3, :time 113914107100}
{:type :ok, :f :read, :value 47, :process 3, :time 114019799200}
{:type :invoke, :f :write, :value 90, :process 2, :time 115915971800}
{:type :ok, :f :write, :value 90, :process 2, :time 116018995900}
{:type :invoke, :f :write, :value 190, :process 6, :time 117916824800}
{:type :ok, :f :write, :value 190, :process 6, :time 118021286800}
{:type :invoke, :f :read, :value nil, :process 4, :time 119918853400}
{:type :ok, :f :read, :value 190, :process 4, :time 120028004300}
{:type :invoke, :f :write, :value 60, :process 0, :time 121920320900}
{:type :ok, :f :write, :value 60, :process 0, :time 121928466000}
{:type :invoke, :f :write, :value 29, :process 3, :time 123921409700}
{:type :ok, :f :write, :value 29, :process 3, :time 124027339600}
{:type :invoke, :f :read, :value nil, :process 2, :time 125922472800}
{:type :ok, :f :read, :value 29, :process 2, :time 126029032400}
{:type :invoke, :f :write, :value 145, :process 6, :time 127924541100}
{:type :info, :f :stop, :process :nemesis, :time 128013937600}
{:type :ok, :f :write, :value 145, :process 6, :time 128034951100}
{:type :info, :f :stop, :process :nemesis, :time 128213338000}
{:type :invoke, :f :write, :value 150, :process 4, :time 129926629100}
{:type :ok, :f :write, :value 150, :process 4, :time 129936744200}
{:type :invoke, :f :read, :value nil, :process 0, :time 131928877900}
{:type :ok, :f :read, :value 150, :process 0, :time 131941753200}
{:type :invoke, :f :write, :value 76, :process 3, :time 133930127100}
{:type :ok, :f :write, :value 76, :process 3, :time 133939322100}
{:type :invoke, :f :write, :value 56, :process 2, :time 135931525700}
{:type :ok, :f :write, :value 56, :process 2, :time 135941862600}
{:type :invoke, :f :read, :value nil, :process 6, :time 137931999500}
{:type :ok, :f :read, :value 56, :process 6, :time 137940052000}
{:type :invoke, :f :write, :value 40, :process 4, :time 139934030600}
{:type :ok, :f :write, :value 40, :process 4, :time 139943487500}
{:type :invoke, :f :write, :value 165, :process 0, :time 141937497600}
{:type :ok, :f :write, :value 165, :process 0, :time 141945135400}
{:type :invoke, :f :read, :value nil, :process 3, :time 143938271200}
{:type :ok, :f :read, :value 165, :process 3, :time 143948086700}
{:type :invoke, :f :write, :value 142, :process 2, :time 145939319100}
{:type :ok, :f :write, :value 142, :process 2, :time 145947841600}
{:type :invoke, :f :write, :value 65, :process 6, :time 147940246400}
{:type :ok, :f :write, :value 65, :process 6, :time 147950165000}
{:type :invoke, :f :read, :value nil, :process 4, :time 149940676400}
{:type :ok, :f :read, :value 65, :process 4, :time 149951433500}
{:type :invoke, :f :write, :value 76, :process 0, :time 151944362600}
{:type :ok, :f :write, :value 76, :process 0, :time 151953270300}
{:type :invoke, :f :write, :value 211, :process 3, :time 153947296700}
{:type :ok, :f :write, :value 211, :process 3, :time 153954553200}
{:type :invoke, :f :read, :value nil, :process 2, :time 155947749500}
{:type :ok, :f :read, :value 211, :process 2, :time 155956059100}
{:type :invoke, :f :write, :value 198, :process 6, :time 157950574500}
{:type :ok, :f :write, :value 198, :process 6, :time 157960468800}
{:type :invoke, :f :write, :value 157, :process 4, :time 159951951000}
{:type :ok, :f :write, :value 157, :process 4, :time 159961718300}
{:type :invoke, :f :read, :value nil, :process 0, :time 161952341300}
{:type :ok, :f :read, :value 157, :process 0, :time 161961723700}
{:type :invoke, :f :write, :value 57, :process 3, :time 163954006600}
{:type :ok, :f :write, :value 57, :process 3, :time 163961741700}
{:type :info, :f :start, :process :nemesis, :time 165221662600}
{:type :invoke, :f :write, :value 83, :process 2, :time 165954832900}
{:type :ok, :f :write, :value 83, :process 2, :time 165962374400}
{:type :info, :f :start, :process :nemesis, :time 167948446500}
{:type :invoke, :f :read, :value nil, :process 6, :time 167955644300}
{:type :ok, :f :read, :value 83, :process 6, :time 168070870100}
{:type :invoke, :f :write, :value 154, :process 4, :time 169956065100}
{:type :ok, :f :write, :value 154, :process 4, :time 170060690300}
{:type :invoke, :f :write, :value 109, :process 0, :time 171957016200}
{:type :ok, :f :write, :value 109, :process 0, :time 171965313300}
{:type :invoke, :f :read, :value nil, :process 3, :time 173960424200}
{:type :ok, :f :read, :value 109, :process 3, :time 174063829200}
{:type :invoke, :f :write, :value 198, :process 2, :time 175960798300}
{:type :ok, :f :write, :value 198, :process 2, :time 176065937200}
{:type :invoke, :f :write, :value 174, :process 6, :time 177963410500}
{:type :ok, :f :write, :value 174, :process 6, :time 178068101000}
{:type :invoke, :f :read, :value nil, :process 4, :time 179965076200}
{:type :ok, :f :read, :value 174, :process 4, :time 180070878700}
{:type :invoke, :f :write, :value 188, :process 0, :time 181966155900}
{:type :ok, :f :write, :value 188, :process 0, :time 181973595000}
{:type :info, :f :stop, :process :nemesis, :time 204951194800}
{:type :info, :f :stop, :process :nemesis, :time 205135025500}
{:type :info, :f :log-packet-data, :process 6, :time 212140103400}
{:type :info, :f :log-packet-data, :process 6, :time 214497758400}
